<report>

		##------------  PARSING esterno
		#parse($customerTemplate)
		##-----------------------------


		##------------  PARSING esterno
		#parse($promotionsReportGroupTemplate)
		##-----------------------------

</report>
