<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>LETTURA Finanziario POS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <link rel="stylesheet" type="text/css" href="$styleSheet">
      </head>
  <body>
    <table>
      <tr>
        <td width="365" height="37" class="tit">LETTURA Finanziario POS</td>
      </tr>
      <tr class="odd">
        <td height="26" class="tit2" colspan="2">Postazione: $day.ClientCode #if ($day.ClientName) - $day.ClientName #end</td>
      </tr>
      <tr class="odd">
        <td colspan="2">Catena: $day.ChainCode #if ($day.ChainName) - $day.ChainName #end</td>
      </tr>
      <tr class="odd">
        <td colspan="2">Negozio: $day.StoreCode #if ($day.StoreName) - $day.StoreName #end</td>
      </tr>
      <tr>
        <td colspan="2">Data Apertura: $day.OpenDate</td>
      </tr>
      <tr>
        <td colspan="2">Data Operazione: $data</td>
      </tr>
    </table>
    #set($TotalCounter = 0)
	#set($TotalFiscalAmount = 0)
	#set($TotalNotPaidAmount = 0)
	#set($TotalTotalAmount = 0)
    #foreach($dv in $day.DocumentValueList)
		#set($TotalCounter = $TotalCounter + $dv.Counter)
		#set($TotalFiscalAmount = $TotalFiscalAmount + $dv.FiscalAmount*$dv.AmountMovementType)
		#set($TotalNotPaidAmount = $TotalNotPaidAmount + $dv.NotPaidAmount*$dv.AmountMovementType)
		#set($TotalTotalAmount = $TotalTotalAmount + $dv.TotalAmount*$dv.AmountMovementType)
		<table class="1">
		  <tr class="odd1">
			<td height="20"></td>
		  </tr>
		</table>
		
		<table>
		  <tr class="odd3">
			<td colspan="2" class="odd3">
			  Tipo Documento : &nbsp; $dv.GetIntDocumentType() &nbsp;<br> #if ($dv.DocumentTypeDescription) $dv.DocumentTypeDescription  #end </td>
		  </tr>
 
		  
		  <tr class="odd">
			<td width="404" align="left">Documenti emessi</td>
			<td width="84" align="right">$dv.Counter</td>
		  </tr>
		  <tr class="odd">
			<td width="404" align="left">Totale fiscale</td>
			<td width="84"  align="right">&euro; $dv.FiscalAmount.ToString('0.00')</td>
		  </tr>
		  <tr class="odd">
			<td width="404" align="left">Non corrisposto</td>
			<td width="84"  align="right">&euro; $dv.NotPaidAmount.ToString('0.00')</td>
		  </tr>
		  <tr class="odd">
			<td width="404" align="left">Complessivo</td>
			<td width="84"  align="right">&euro; $dv.TotalAmount.ToString('0.00')</td>
		  </tr>
		</table>
    #end
    <table class="1">
	  <tr class="odd1">
		<td height="20"></td>
	  </tr>
	</table>
	
	<table>
	  <tr class="odd3">
		<td height="30">TOTALE COMPLESSIVO </td>
	  </tr>
	</table>	
		
	<table>
	  <tr class="odd">
		<td width="404" align="left">Documenti emessi</td>
		<td width="84" align="right">$TotalCounter.ToString()</td>
	  </tr>
	  <tr class="odd">
		<td width="404" align="left">Totale fiscale</td>
		<td width="84"  align="right">&euro; $TotalFiscalAmount.ToString('0.00')</td>
	  </tr>
	  <tr class="odd">
		<td width="404" align="left">Non corrisposto</td>
		<td width="84"  align="right">&euro; $TotalNotPaidAmount.ToString('0.00')</td>
	  </tr>
	  <tr class="odd">
		<td width="404" align="left">Complessivo</td>
		<td width="84"  align="right">&euro; $TotalTotalAmount.ToString('0.00')</td>
	  </tr>
	</table>
    <table class="1">
      <tr class="odd2">
        <td><BR>2M Servizi srl<BR></td>
      </tr>
    </table>
  </body>
</html>