<html>
  <head>
    <link rel="stylesheet" type="text/css" href="$styleSheet"/>
  </head>
  <body>
    <p class="infoUser">
      Rapporto Vendite Reparto<br>
        <br>
          #if ($chainCode)
          Catena: $chainCode - $chainDescription<br>
            #end
            Negozio: $store.Code - $store.Description<br>
              Data rapporto : $data.ToString('dd/MM/yyyy')<br>
                Periodo rapporto: $dataDal.ToString('dd/MM/yyyy') - $dataAl.ToString('dd/MM/yyyy')<br>
                </p>
    #foreach($detail in $list)
    #if($detail.WorkstationCode && $detail.WorkstationCode != "")
    Postazione: $detail.WorkstationCode -#if ($detail.WorkstationDescription) $detail.WorkstationDescription<br>
      #end
      #elseif($detail.UserCode && $detail.UserCode != "")
      Operatore: $detail.UserCode -#if ($detail.UserDescription) $detail.UserDescription<br>
        #end
        #end

        <table class="ReportTable">
          <tr>
            <th>Codice Reparto</th>
            <th>Descrizione</th>
            <th>Ammontare</th>
            <th>Presenze</th>
            <th>Inc. %</th>
          </tr>

          #set($TotalFiscalAmount = 0)
		  #set($TotalDocumentEmitted = 0)
          #foreach($totalItem in $detail.Details)
          #if($totalItem.DepartmentHierarchy == "")
		    #set($TotalFiscalAmount = $totalItem.FiscalAdjustedAmount)
		    #set($TotalDocumentEmitted = $totalItem.AttendancesAmount)
	      #end
          #end

          #foreach($totalItem in $detail.Details)
          #if($totalItem.DepartmentHierarchy != "")
          <tr>
            #set($PercentageIncidence = (100 * $totalItem.FiscalAdjustedAmount) / $TotalFiscalAmount )
            <td align="left">$totalItem.DepartmentHierarchy</td>
            <td align="left">$totalItem.DepartmentHierarchyDescription</td>
            <td align="right">&euro; $totalItem.FiscalAdjustedAmount.ToString('0.00')</td>
            <td align="right">$totalItem.AttendancesAmount.ToString()</td>
            <td align="right">$PercentageIncidence.ToString('0.00') %</td>
          </tr>
          #end
          #end
          <tr>
            <td align="right" colspan="2">
              <div class="infoUser">TOTALE:</div>
            </td>
            <td align="right">&euro; $TotalFiscalAmount.ToString('0.00')</td>
            <td align="right"></td>
            <td align="right">100 %</td>
          </tr>
        </table>
        <br>
          #end
        </body>
</html>