<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>LETTURA Cassetto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <link rel="stylesheet" type="text/css" href="$styleSheet">
      </head>
  <body>
    <table>
      <tr>
        <td width="365" height="37" class="tit">LETTURA Cassetto</td>
      </tr>
      <tr class="odd">
        <td height="26" class="tit2" colspan="2">Operatore: $userDrawer.UserCode </td>
      </tr>
      <tr>
        <td colspan="2">Data Apertura: $userDrawer.OpenDate</td>
      </tr>
      <tr>
        <td colspan="2">Data Operazione: $data</td>
      </tr>
    </table>
    
    #set($TotalOpen = 0)
    #set($TotalIn = 0)
    #set($TotalOut = 0)
    #set($TotalClose = 0)
    #foreach($currency in $userDrawer.CurrencyList)
		<table class="1">
		      <tr class="odd1">
		        <td height="20"></td>
		      </tr>
		</table>
		<table >
		  <tr class="odd3">
			<td width="404" align="left">Codice Valuta: </td>
			<td width="84" align="left">$currency.CurrencyCode.PadLeft(18)</td>
		  </tr>
		  <tr class="odd3">
			<td width="404" align="left">Descrizione Valuta : </td>
			<td width="84" align="left">$currency.Description.PadLeft(18)</td>
		  </tr>
		</table>
		
		$currency.PaymentList.Sort()
				
	    #set($TotalCurOpen = 0)
	    #set($TotalCurIn = 0)
	    #set($TotalCurOut = 0)
	    #set($TotalCurClose = 0)
	    #foreach($pay in $currency.PaymentList)
		    #set($TotalPay = $pay.OpenAmount + $pay.InAmount - $pay.OutAmount - $pay.CloseAmount)
		    <table class="1">
		      <tr class="odd1">
		        <td height="10"></td>
		      </tr>
		    </table>
		    <table>
		      <tr>
		        <td colspan="2">#if ($currency.Description) $currency.Description #end - #if($pay.Description) $pay.Description #end - Cod. Pag: $pay.Code</td>
		      </tr>
		      <tr class="odd">
		        <td width="404" align="left">Fondo cassa</td>
		        <td width="84" align="right">&euro; $pay.OpenAmount.ToString('0.00')</td>
		      </tr>
		      <tr class="odd">
		        <td width="404" align="left">Entrate</td>
		        <td width="84" align="right">&euro; $pay.InAmount.ToString('0.00')</td>
		      </tr>
		      <tr class="odd">
		        <td width="404" align="left">Uscite</td>
		        <td width="84" align="right">&euro; $pay.OutAmount.ToString('0.00')</td>
		      </tr>
		      <tr class="odd">
		        <td width="404" align="left">Dichiarazione</td>
		        <td width="84" align="right">&euro; $pay.CloseAmount.ToString('0.00')</td>
		      </tr>
		      <tr>
		        <td width="404" align="right">Totale</td>
		        <td width="84" align="right">&euro; $TotalPay.ToString('0.00')</td>
		      </tr>
		    </table>
		    #set($TotalCurOpen = $TotalCurOpen + $pay.OpenAmount)
		    #set($TotalCurIn = $TotalCurIn + $pay.InAmount)
		    #set($TotalCurOut = $TotalCurOut + $pay.OutAmount)
		    #set($TotalCurClose = $TotalCurClose + $pay.CloseAmount)
	    #end
	    #set($TotalCur = $TotalCurOpen + $TotalCurIn - $TotalCurOut - $TotalCurClose)
	    <table class="1">
	      <tr class="odd1">
	        <td height="20"></td>
	      </tr>
	    </table>
	    <table>
	      <tr class="odd3">
	        <td height="30">TOTALE COMPLESSIVO VALUTA #if ($currency.Description) $currency.Description #end</td>
	      </tr>
	    </table>	

	    <table>
	      <tr class="odd">
	        <td width="404" align="left">Fondo cassa</td>
	        <td width="84" align="right">&euro; $TotalCurOpen.ToString('0.00')</td>
	      </tr>
	      <tr class="odd">
	        <td width="404" align="left">Entrate</td>
	        <td width="84" align="right">&euro; $TotalCurIn.ToString('0.00')</td>
	      </tr>
	      <tr class="odd">
	        <td width="404" align="left">Uscite</td>
	        <td width="84" align="right">&euro; $TotalCurOut.ToString('0.00')</td>
	      </tr>
	      <tr class="odd">
	        <td width="404" align="left">Dichiarazione</td>
	        <td width="84" align="right">&euro; $TotalCurClose.ToString('0.00')</td>
	      </tr>
	      <tr>
	        <td width="404" align="right">Totale </td>
	        <td width="84" align="right">&euro; $TotalCur.ToString('0.00')</td>
	      </tr>
	    </table>
	    #set($TotalOpen = $TotalOpen + $TotalCurOpen)
	    #set($TotalIn = $TotalIn + $TotalCurIn)
	    #set($TotalOut = $TotalOut + $TotalCurOut)
	    #set($TotalClose = $TotalClose + $TotalCurClose)
    #end
    #set($Total = $TotalOpen + $TotalIn - $TotalOut - $TotalClose)
    <table class="1">
      <tr class="odd1">
        <td height="10"></td>
      </tr>
    </table>
    <table>
      <tr>
        <td colspan="2">TOTALI</td>
      </tr>
      <tr class="odd">
        <td width="404" align="left">Fondo cassa</td>
        <td width="84" align="right">&euro; $TotalOpen.ToString('0.00')</td>
      </tr>
      <tr class="odd">
        <td width="404" align="left">Entrate</td>
        <td width="84" align="right">&euro; $TotalIn.ToString('0.00')</td>
      </tr>
      <tr class="odd">
        <td width="404" align="left">Uscite</td>
        <td width="84" align="right">&euro; $TotalOut.ToString('0.00')</td>
      </tr>
      <tr class="odd" align="left">
        <td width="404">Dichiarazione</td>
        <td width="84" align="right">&euro; $TotalClose.ToString('0.00')</td>
      </tr>
      <tr>
        <td width="404" align="right">Squadratura</td>
        <td width="84" align="right">&euro; $Total.ToString('0.00')</td>
      </tr>
    </table>
    
    
    
    <!--  turno -->
	<table>
	    <tr>
        <td width="365" height="37" class="tit">&nbsp;</td>
      </tr>

      <tr>
        <td width="365" height="37" class="tit">LETTURA Operatore POS</td>
      </tr>
      <tr class="odd">
        <td height="26" class="tit2" colspan="2">Operatore: $turn.Turn.UserCode </td>
      </tr>
      <tr>
        <td colspan="2">Data Apertura: $turn.Turn.OpenDate</td>
      </tr>
      <tr>
        <td colspan="2">Data Operazione: $data</td>
      </tr>
		
    </table>
    
    #set($TotalCounter = 0)
	#set($TotalFiscalAmount = 0)
	#set($TotalNotPaidAmount = 0)
	#set($TotalTotalAmount = 0)
    #foreach($dv in $turn.Turn.DocumentValueList)
    
		#set($TotalCounter = $TotalCounter + $dv.Counter)
		
		#set($Sign = $dv.AmountMovementType.ToString())
		#if($Sign == "Positive")
			#set($TotalFiscalAmount = $TotalFiscalAmount + $dv.FiscalAmount)
			#set($TotalNotPaidAmount = $TotalNotPaidAmount + $dv.NotPaidAmount)
			#set($TotalTotalAmount = $TotalTotalAmount + $dv.TotalAmount)
		#end
		
		#if($Sign == "Negative")
			#set($TotalFiscalAmount = $TotalFiscalAmount - $dv.FiscalAmount)
			#set($TotalNotPaidAmount = $TotalNotPaidAmount - $dv.NotPaidAmount)
			#set($TotalTotalAmount = $TotalTotalAmount - $dv.TotalAmount)
		#end			
		
		<table class="1">
		  <tr class="odd1">
			<td height="20"></td>
		  </tr>
		</table>
		
		<table>
		  <tr class="odd3">
			<td colspan="2" class="odd3">
			  Tipo Documento : &nbsp; $dv.GetIntDocumentType() &nbsp;<br> #if ($dv.DocumentTypeDescription) $dv.DocumentTypeDescription  #end </td>
		  </tr>
		  
		  <tr class="odd">
			<td width="404" align="left">Documenti emessi</td>
			<td width="84" align="right">$dv.Counter</td>
		  </tr>
		  <tr class="odd">
			<td width="404" align="left">Totale fiscale</td>
			<td width="84"  align="right">&euro; $dv.FiscalAmount.ToString('0.00')</td>
		  </tr>
		  <tr class="odd">
			<td width="404" align="left">Non corrisposto</td>
			<td width="84"  align="right">&euro; $dv.NotPaidAmount.ToString('0.00')</td>
		  </tr>
		  <tr class="odd">
			<td width="404" align="left">Complessivo</td>
			<td width="84"  align="right">&euro; $dv.TotalAmount.ToString('0.00')</td>
		  </tr>
		</table>
    #end
    <table class="1">
	  <tr class="odd1">
		<td height="20"></td>
	  </tr>
	</table>
	
	<table>
	  <tr class="odd3">
		<td height="30">TOTALE COMPLESSIVO </td>
	  </tr>
	</table>	
		
	<table>
	  <tr class="odd">
		<td width="404" align="left">Documenti emessi</td>
		<td width="84" align="right">$TotalCounter.ToString()</td>
	  </tr>
	  <tr class="odd">
		<td width="404" align="left">Totale fiscale</td>
		<td width="84"  align="right">&euro; $TotalFiscalAmount.ToString('0.00')</td>
	  </tr>
	  <tr class="odd">
		<td width="404" align="left">Non corrisposto</td>
		<td width="84"  align="right">&euro; $TotalNotPaidAmount.ToString('0.00')</td>
	  </tr>
	  <tr class="odd">
		<td width="404" align="left">Complessivo</td>
		<td width="84"  align="right">&euro; $TotalTotalAmount.ToString('0.00')</td>
	  </tr>
	</table>    
    
    
    <!-- pc -->
    
    #set($groupDesc="")
	<table class="1">
	  <tr class="odd1">
		<td height="20"></td>
	  </tr>
	</table>

	<table>
	#foreach($pc in $turn.ProductivityCounters)
		#if($pc.Type.GroupDescription != $groupDesc)
			#set($groupDesc = $pc.Type.GroupDescription)
			<tr class="odd3">
				<td colspan="2" class="odd3"> Gruppo: $groupDesc </td>
			</tr>
		#end
		<tr class="odd">
			<td width="404" align="left">$pc.Type.Description.PadRight(32) </td>
			<td width="84" align="right">$pc.Value.ToString('0').PadLeft(6)</td>
		</tr>
    #end    
    </table>
    
    
    <table class="1">
      <tr class="odd2">
        <td><BR>2M Servizi srl<BR></td>
      </tr>
    </table>
  </body>
</html>