<report>
  <row align="center" style="normal" size="doubleheight"><text style="normal" size="normal">LETTURA Cassetto</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Operatore      : $userDrawer.UserCode.PadRight(4) <![CDATA[$turn.Turn.UserDescription.PadLeft(18)]]></text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Data Apertura  : $userDrawer.OpenDate.ToString().PadLeft(22)</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Data Operazione: $data.ToString().PadLeft(22)</text></row>
  #set($TotalCurOpen = 0)
  #set($TotalCurIn = 0)
  #set($TotalCurOut = 0)
  #set($TotalCurClose = 0)
  #foreach( $currency in $userDrawer.CurrencyList)
  <row align="center" style="normal" size="normal"><text style="normal" size="normal">_______________________________________</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="left" style="bold" size="normal"><text style="normal" size="normal">Codice Valuta      : $currency.CurrencyCode.PadLeft(18)</text></row>
  <row align="left" style="bold" size="normal"><text style="normal" size="normal">Descrizione Valuta : $currency.Description.PadLeft(18)</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  #set($Description = "")
  #foreach( $pay in $currency.PaymentList)
  #if($pay.Type == "1")
  #set($CDescription = $pay.TypeDescription)
  #set($TotalCurOpen = $TotalCurOpen + $pay.OpenAmount)
  #set($TotalCurIn = $TotalCurIn + $pay.InAmount)
  #set($TotalCurOut = $TotalCurOut + $pay.OutAmount)
  #set($TotalCurClose = $TotalCurClose + $pay.CloseAmount)
  #end
  #end
  #if ($CDescription != "")
  <row align="left" style="italic" size="normal"><text style="normal" size="normal">$CDescription</text></row>
  ## Cod. Pag: $pay.Code - Tipo Pag: $pay.Type
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Fondo Cassa   : $TotalCurOpen.ToString('0.00').PadLeft(21) +</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Entrate       : $TotalCurIn.ToString('0.00').PadLeft(21) +</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Uscite        : $TotalCurOut.ToString('0.00').PadLeft(21) -</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Dichiarazione : $TotalCurClose.ToString('0.00').PadLeft(21) -</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">               ______________________</text></row>
  #set($CTotal = $TotalCurOpen + $TotalCurIn - $TotalCurOut - $TotalCurClose)
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">       Totale : $CTotal.ToString('0.00').PadLeft(21)</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  ## FINE DETTAGLI PAGAMENTO
  #end
  #foreach( $pay in $currency.PaymentList)
  #if ($pay.Type != "1")
  #set($TotalPay = $pay.OpenAmount + $pay.InAmount - $pay.OutAmount - $pay.CloseAmount)
  #set($TotalCurOpen = $TotalCurOpen + $pay.OpenAmount)
  #set($TotalCurIn = $TotalCurIn + $pay.InAmount)
  #set($TotalCurOut = $TotalCurOut + $pay.OutAmount)
  #set($TotalCurClose = $TotalCurClose + $pay.CloseAmount)
  ##
  ## Dettagli pagamento
  ##
  ## Se si commentano tutte le ROW (fino al commento ROW) si omettono i tipi pagamento
  ## e si hanno solo i Totali per valuta ed il Totale complessivo
  ##
  #if($pay.Description)
  <row align="left" style="italic" size="normal"><text style="normal" size="normal">$pay.Description</text></row>
  #end
  ## Cod. Pag: $pay.Code - Tipo Pag: $pay.Type
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Fondo Cassa   : $pay.OpenAmount.ToString('0.00').PadLeft(21) +</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Entrate       : $pay.InAmount.ToString('0.00').PadLeft(21) +</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Uscite        : $pay.OutAmount.ToString('0.00').PadLeft(21) -</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Dichiarazione : $pay.CloseAmount.ToString('0.00').PadLeft(21) -</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">               ______________________</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">       Totale : $TotalPay.ToString('0.00').PadLeft(21)</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  ## FINE DETTAGLI PAGAMENTO
  #end
  #end
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
  <row align="left" style="bold" size="doubleheight"><text style="normal" size="normal">TOTALE COMPLESSIVO VALUTA $currency.Description</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Fondo Cassa   : $TotalCurOpen.ToString('0.00').PadLeft(21) +</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Entrate       : $TotalCurIn.ToString('0.00').PadLeft(21) +</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Uscite        : $TotalCurOut.ToString('0.00').PadLeft(21) -</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Dichiarazione : $TotalCurClose.ToString('0.00').PadLeft(21) -</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">               ______________________</text></row>
  #set($TotalCur = $TotalCurOpen + $TotalCurIn - $TotalCurOut - $TotalCurClose)
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">  Squadratura : $TotalCur.ToString('0.00').PadLeft(21)</text></row>
  #end
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
  <row align="center" style="normal" size="normal"><text style="normal" size="normal">***************************************</text></row>
</report>