<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Lettura Totali Fiscali Stampante</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
      <link rel="stylesheet" type="text/css" href="$styleSheet">
  </head>
  <body>
    <table>
      <tr>
        <td width="365" height="37" class="tit">Lettura Totali Fiscali Stampante</td>
      </tr>
      <tr>
        <td colspan="2">Data Rapporto: $data.ToString('dd/MM/yyyy')</td>
      </tr>
      <tr>
        <td colspan="2">Store: $store.PadRight(7)    Workstation: $workstation.PadRight(7) </td>
      </tr>
    </table>


    <table class="1">
      <tr class="odd1">
        <td height="10"></td>
      </tr>
    </table>
    <table>
      <tr>
        ## <td width="365" height="27" class="tit1">Ciao</td>
      </tr>
    </table>

    <table>
      <tr>
        <th width="200" align="left">Contatore</th>
        <th width="200" align="right">Valore</th>
      </tr>


      #foreach($det in $fiscaltotals)
        ##$det.Key
        #set($Note = $det.Key)
        #set($Description = $det.Value)


        <tr>
          <td align="left">$Note.PadLeft(16)</td>
          <td align="right">$Description.PadRight(24)</td>

        </tr>
      #end

    </table>

    <table class="1">
      <tr class="odd2">
        <td>
          <br />2M Servizi srl
        </td>
      </tr>
    </table>
  </body>
</html>

