<report>
  <row align="center" style="normal" size="doubleheight">
    <text style="normal" size="normal">Gunnebo SafePay CashCount</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Inventory date: $data.ToString().PadLeft(22)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>

  <row align="left" style="normal" size="normal">
    <text align="left" style="bold" size="normal">Disponibilit&aacute; erogazione resto</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> Taglio Q.ta'                     Valore</text>
  </row>
  #set($valoretot = 0)
  #foreach($denomination in $gunneboCashCount.CC_Denominations)
  #set($valore = $denomination.cc_denomination*$denomination.cc_qty)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$denomination.cc_denomination.ToString('0.##').PadLeft(5) $denomination.cc_qty.ToString('0.00').PadLeft(6) $valore.ToString('0.00').PadLeft(26)</text>
  </row>

  #set($valoretot = $valoretot+$valore)
  #end
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">           TOTALE Complessivo $valoretot.ToString('0.00').PadLeft(10)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">----------------------------------------</text>
  </row>


  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">***************************************</text>
  </row>
</report>