<!--<row align="center">
	<image width="0" height="0">C:\Orange\logo.bmp</image>
</row>-->

<row align="center" style="normal" size="doubleheight">
  <text><![CDATA[XXXXXXXXXXXXXXXXXXXX]]></text>
</row>
<row align="center" style="normal" size="normal">
  <text><![CDATA[XXXXXXXXXXXXXXXXXXXX]]></text>
</row>
<row align="center" style="normal" size="normal">
  <text><![CDATA[XXXXXXXXXXXXXXXXXXXX]]></text>
</row>
<row align="center" style="normal" size="normal">
  <text>P.IVA XXXXXXXXXXX</text>
</row>
<row align="center" style="normal" size="normal">
  <text>TEL. XXXXXXXXXXXX</text>
</row>