<report>
  <row align="center" style="normal" size="doubleheight">
    <text style="normal" size="normal">Dichiarazione fondo cassa</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Negozio............................ $document.Header.StoreCode</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Postazione.........................  $document.Header.WorkstationCode</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Operatore... $document.Creation.UserCode - $document.Creation.UserDescription</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Data e Ora           $document.Creation.DateTime</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> Q.ta'  Valore                    Totale</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">----------------------------------------</text>
  </row>
  #set($Total1 = 0)
  #set($Total2 = 0)
  #set($Total3 = 0)
  #set($Total4 = 0)
  #set($Total5 = 0)
  #set($Total6 = 0)
  #set($Total7 = 0)
  #set($Total8 = 0)
  #set($Total9 = 0)
  #set($Total10 = 0)
  #set($Quantity1 = 0)
  #set($Quantity2 = 0)
  #set($Quantity3 = 0)
  #set($Quantity4 = 0)
  #set($Quantity5 = 0)
  #set($Quantity6 = 0)
  #set($Quantity7 = 0)
  #set($Quantity8 = 0)
  #set($Quantity9 = 0)
  #set($Quantity10 = 0)
  #set($Description1 = "")
  #set($Description2 = "")
  #set($Description3 = "")
  #set($Description4 = "")
  #set($Description5 = "")
  #set($Description6 = "")
  #set($Description7 = "")
  #set($Description8 = "")
  #set($Description9 = "")
  #set($Description10 = "")
  #foreach( $payment in $document.Payments)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$payment.Quantity.ToString('0.##').PadLeft(5) $payment.Piece.ToString('0.00').PadLeft(6) $payment.Description.PadLeft(18) $payment.Amount.ToString('0.00').PadLeft(8)</text>
  </row>
  #if ($payment.Type.Code == "1")
  #set($Description1 = $payment.Type.Description)
  #set($Total1 = $Total1 + $payment.Amount)
  #set($Quantity1 = $Quantity1 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "2")
  #set($Description2 = $payment.Type.Description)
  #set($Total2 = $Total2 + $payment.Amount)
  #set($Quantity2 = $Quantity2 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "3")
  #set($Description3 = $payment.Type.Description)
  #set($Total3 = $Total3 + $payment.Amount)
  #set($Quantity3 = $Quantity3 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "4")
  #set($Description4 = $payment.Type.Description)
  #set($Total4 = $Total4 + $payment.Amount)
  #set($Quantity4 = $Quantity4 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "5")
  #set($Description5 = $payment.Type.Description)
  #set($Total5 = $Total5 + $payment.Amount)
  #set($Quantity5 = $Quantity5 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "6")
  #set($Description6 = $payment.Type.Description)
  #set($Total6 = $Total6 + $payment.Amount)
  #set($Quantity6 = $Quantity6 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "7")
  #set($Description7 = $payment.Type.Description)
  #set($Total7 = $Total7 + $payment.Amount)
  #set($Quantity7 = $Quantity7 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "8")
  #set($Description8 = $payment.Type.Description)
  #set($Total8 = $Total8 + $payment.Amount)
  #set($Quantity8 = $Quantity8 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "9")
  #set($Description9 = $payment.Type.Description)
  #set($Total9 = $Total9 + $payment.Amount)
  #set($Quantity9 = $Quantity9 + $payment.Quantity)
  #end
  #if ($payment.Type.Code == "10")
  #set($Description10 = $payment.Type.Description)
  #set($Total10 = $Total10 + $payment.Amount)
  #set($Quantity10 = $Quantity10 + $payment.Quantity)
  #end

  #end
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">RIEPILOGO</text>
  </row>  
  #if ($Total1 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity1.ToString('0.##').PadLeft(5) $Description1.PadLeft(25) $Total1.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total2 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity2.ToString('0.##').PadLeft(5) $Description2.PadLeft(25) $Total2.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total3 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity3.ToString('0.##').PadLeft(5) $Description3.PadLeft(25) $Total3.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total4 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity4.ToString('0.##').PadLeft(5) $Description4.PadLeft(25) $Total4.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total5 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity5.ToString('0.##').PadLeft(5) $Description5.PadLeft(25) $Total5.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total6 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity6.ToString('0.##').PadLeft(5) $Description6.PadLeft(25) $Total6.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total7 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity7.ToString('0.##').PadLeft(5) $Description7.PadLeft(25) $Total7.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total8 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity8.ToString('0.##').PadLeft(5) $Description8.PadLeft(25) $Total8.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total9 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity9.ToString('0.##').PadLeft(5) $Description9.PadLeft(25) $Total9.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  #if ($Total10 != 0)
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$Quantity10.ToString('0.##').PadLeft(5) $Description10.PadLeft(25) $Total10.ToString('0.00').PadLeft(8)</text>
  </row>
  #end
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">                              ----------</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">            TOTALE Fondo Cassa$document.Amount.TotalAmount.ToString('0.00').PadLeft(10)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
</report>