<report>
  <row align="center" style="normal" size="doubleheight"><text style="normal" size="normal">Stampa di cassa</text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Postazione : $reportDetail.WorkstationCode.PadLeft(5) <![CDATA[$reportDetail.WorkstationDescription.PadLeft(20)]]></text>
  </row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Data Operazione: $data.ToString().PadLeft(22)</text></row>

  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">_______________________________________</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Venduto Lordo      :  $totalAmountDetail.FiscalAmount.ToString('0.00').PadLeft(16) +</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Sconti Articolo    :  $totalAmountDetail.ItemAdjustedAmount.ToString('0.00').PadLeft(16) -</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Sconti a Subtotale :  $totalAmountDetail.SubtotalAdjustedAmount.ToString('0.00').PadLeft(16) -</text>
  </row>
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">_______________________________________</text>
  </row>
  #set($NetAmount = $totalAmountDetail.FiscalAmount - $totalAmountDetail.ItemAdjustedAmount - $totalAmountDetail.SubtotalAdjustedAmount)
  <row align="left" style="bold" size="doubleheight">
    <text style="normal" size="normal">Venduto Netto $NetAmount.ToString('0.00').PadLeft(24)</text>
  </row>

  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>

  #set($totalPayments = 0)
  #foreach($key in $totalDescriptionPayments.Keys)
    #set($payment = $totalDescriptionPayments.get_Item($key))
    <row align="left" style="normal" size="normal">
      <text style="normal" size="normal">$key.PadRight(14):  $payment.ToString('0.00').PadLeft(23)</text>
    </row>
    #set($totalPayments = $totalPayments + $payment)
  #end
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">_______________________________________</text>
  </row>
  <row align="left" style="bold" size="doubleheight">
    <text style="normal" size="normal">Totale Valuta $totalPayments.ToString('0.00').PadLeft(26)</text>
  </row>

  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">_______________________________________</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Storni        : $dTDCancelVoidCounter.ToString('0.00').PadLeft(10) $dTDCancelVoidAmount.ToString('0.00').PadLeft(13)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Resi          : $dTDRefundsCounter.ToString('0.00').PadLeft(10) $dTDRefundsAmount.ToString('0.00').PadLeft(13)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Annullati     : $abortedDocumentsCounter.ToString().PadLeft(10) $abortedDocumentsAmount.ToString('0.00').PadLeft(13)</text>
  </row>
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">_______________________________________</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>

  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Numero Scontrini       :  $totalAmountDetail.NumberOfDocuments.ToString('0.00').PadLeft(14)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Articoli               :  $totalAmountDetail.FiscalQuantity.ToString('0.00').PadLeft(14)</text>
  </row>
  <row align="left" style="normal" size="normal">
    #set($avg = $totalAmountDetail.FiscalQuantity / $totalAmountDetail.NumberOfDocuments)
    <text style="normal" size="normal">Articoli per scontrino :  $avg.ToString('0.00').PadLeft(14)</text>
  </row>
  <row align="left" style="normal" size="normal">
    #set($avgAmount = $totalAmountDetail.FiscalAmount / $totalAmountDetail.NumberOfDocuments)
    <text style="normal" size="normal">Scontrino medio        :  $avgAmount.ToString('0.00').PadLeft(14)</text>
  </row>
  
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  <row align="center" style="normal" size="normal"><text style="normal" size="normal">***************************************</text></row>
</report>