<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>LETTURA Cassetto semplificato</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="$styleSheet">
	</head>
	<body>
		<table>
			<tr>
				<td width="365" height="50" class="tit">LETTURA Cassetto semplificato</td>
			</tr>
			<tr class="odd">
				<td height="26" class="tit2" colspan="2">Operatore: $userDrawer.UserCode </td>
			</tr>
			<tr>
				<td colspan="2">Data Apertura: $userDrawer.OpenDate</td>
			</tr>
			<tr>
				<td colspan="2">Data Operazione: $data</td>
			</tr>
		</table>
		
		#foreach($currency in $userDrawer.CurrencyList)			
			<table class="1">
				<tr class="odd1">
					<td height="20"></td>
				</tr>
			</table>
			<table >
				<tr class="odd3">
					<td width="404" align="left">Codice Valuta: </td>
					<td width="84" align="left">$currency.CurrencyCode.PadLeft(18)</td>
				</tr>
				<tr class="odd3">
					<td width="404" align="left">Descrizione Valuta : </td>
					<td width="84" align="left">$currency.Description.PadLeft(18)</td>
				</tr>
			</table>
			<table class="1">
				<tr class="odd1">
					<td height="5"></td>
				</tr>
			</table>	

			$currency.PaymentList.Sort()			
			#set($TypeA1 = "")
			#set($OpenA1 = 0)
			#set($InNetA1 = 0)
			#set($OutNetA1 = 0)			
			#set($InCashA1 = 0)			
			#set($CloseA1 = 0)

			#set($TypeA2 = "")
			#set($OpenA2 = 0)
			#set($InNetA2 = 0)
			#set($OutNetA2 = 0)			
			#set($InCashA2 = 0)			
			#set($CloseA2 = 0)

			#set($TypeA3 = "")
			#set($OpenA3 = 0)
			#set($InNetA3 = 0)
			#set($OutNetA3 = 0)			
			#set($InCashA3 = 0)			
			#set($CloseA3 = 0)

			#set($TypeA4 = "")
			#set($OpenA4 = 0)
			#set($InNetA4 = 0)
			#set($OutNetA4 = 0)			
			#set($InCashA4 = 0)			
			#set($CloseA4 = 0)

			#set($TypeA5 = "")
			#set($OpenA5 = 0)
			#set($InNetA5 = 0)
			#set($OutNetA5 = 0)			
			#set($InCashA5 = 0)			
			#set($CloseA5 = 0)

			#set($TypeA6 = "")
			#set($OpenA6 = 0)
			#set($InNetA6 = 0)
			#set($OutNetA6 = 0)			
			#set($InCashA6 = 0)			
			#set($CloseA6 = 0)

			#set($TypeA7 = "")
			#set($OpenA7 = 0)
			#set($InNetA7 = 0)
			#set($OutNetA7 = 0)			
			#set($InCashA7 = 0)			
			#set($CloseA7 = 0)

			#set($TypeA8 = "")
			#set($OpenA8 = 0)
			#set($InNetA8 = 0)
			#set($OutNetA8 = 0)			
			#set($InCashA8 = 0)			
			#set($CloseA8 = 0)

			#set($TypeA9 = "")
			#set($OpenA9 = 0)
			#set($InNetA9 = 0)
			#set($OutNetA9 = 0)			
			#set($InCashA9 = 0)			
			#set($CloseA9 = 0)

			#set($TypeA10 = "")
			#set($OpenA10 = 0)
			#set($InNetA10 = 0)
			#set($OutNetA10 = 0)			
			#set($InCashA10 = 0)			
			#set($CloseA10 = 0)
							
			#set($OpenAGC = 0)
			#set($InNetAGC = 0)
			#set($OutNetAGC = 0)			
			#set($InCashAGC = 0)			
			#set($CloseAGC = 0)
							
			#foreach($payment in $currency.PaymentList)
				#if ($payment.Type == "1")
					#set($TypeA1 = $payment.TypeDescription)
					#set($OpenA1 = $OpenA1 + $payment.OpenAmount)
					#set($InNetA1 = $InNetA1 + $payment.InNetAmount)
					#set($OutNetA1 = $OutNetA1 + $payment.OutNetAmount)
					#set($InCashA1 = $InCashA1 + $payment.InCashAmount)
					#set($CloseA1 = $CloseA1 + $payment.CloseAmount)
				#elseif($payment.Type == "2")
					#set($TypeA2 = $payment.TypeDescription)
					#set($OpenA2 = $OpenA2 + $payment.OpenAmount)
					#set($InNetA2 = $InNetA2 + $payment.InNetAmount)
					#set($OutNetA2 = $OutNetA2 + $payment.OutNetAmount)
					#set($InCashA2 = $InCashA2 + $payment.InCashAmount)
					#set($CloseA2 = $CloseA2 + $payment.CloseAmount)
				#elseif($payment.Type == "3")
					#set($TypeA3 = $payment.TypeDescription)
					#set($OpenA3 = $OpenA3 + $payment.OpenAmount)
					#set($InNetA3 = $InNetA3 + $payment.InNetAmount)
					#set($OutNetA3 = $OutNetA3 + $payment.OutNetAmount)
					#set($InCashA3 = $InCashA3 + $payment.InCashAmount)
					#set($CloseA3 = $CloseA3 + $payment.CloseAmount)
				#elseif($payment.Type == "4")
					#set($TypeA4 = $payment.TypeDescription)
					#set($OpenA4 = $OpenA4 + $payment.OpenAmount)
					#set($InNetA4 = $InNetA4 + $payment.InNetAmount)
					#set($OutNetA4 = $OutNetA4 + $payment.OutNetAmount)
					#set($InCashA4 = $InCashA4 + $payment.InCashAmount)
					#set($CloseA4 = $CloseA4 + $payment.CloseAmount)
				#elseif($payment.Type == "5")
					#set($TypeA5 = $payment.TypeDescription)
					#set($OpenA5 = $OpenA5 + $payment.OpenAmount)
					#set($InNetA5 = $InNetA5 + $payment.InNetAmount)
					#set($OutNetA5 = $OutNetA5 + $payment.OutNetAmount)
					#set($InCashA5 = $InCashA5 + $payment.InCashAmount)
					#set($CloseA5 = $CloseA5 + $payment.CloseAmount)
				#elseif($payment.Type == "6")
					#set($TypeA6 = $payment.TypeDescription)
					#set($OpenA6 = $OpenA6 + $payment.OpenAmount)
					#set($InNetA6 = $InNetA6 + $payment.InNetAmount)
					#set($OutNetA6 = $OutNetA6 + $payment.OutNetAmount)
					#set($InCashA6 = $InCashA6 + $payment.InCashAmount)
					#set($CloseA6 = $CloseA6 + $payment.CloseAmount)
				#elseif($payment.Type == "7")
					#set($TypeA7 = $payment.TypeDescription)
					#set($OpenA7 = $OpenA7 + $payment.OpenAmount)
					#set($InNetA7 = $InNetA7 + $payment.InNetAmount)
					#set($OutNetA7 = $OutNetA7 + $payment.OutNetAmount)
					#set($InCashA7 = $InCashA7 + $payment.InCashAmount)
					#set($CloseA7 = $CloseA7 + $payment.CloseAmount)
				#elseif($payment.Type == "8")
					#set($TypeA8 = $payment.TypeDescription)
					#set($OpenA8 = $OpenA8 + $payment.OpenAmount)
					#set($InNetA8 = $InNetA8 + $payment.InNetAmount)
					#set($OutNetA8 = $OutNetA8 + $payment.OutNetAmount)
					#set($InCashA8 = $InCashA8 + $payment.InCashAmount)
					#set($CloseA8 = $CloseA8 + $payment.CloseAmount)
				#elseif($payment.Type == "9")
					#set($TypeA9 = $payment.TypeDescription)
					#set($OpenA9 = $OpenA9 + $payment.OpenAmount)
					#set($InNetA9 = $InNetA9 + $payment.InNetAmount)
					#set($OutNetA9 = $OutNetA9 + $payment.OutNetAmount)
					#set($InCashA9 = $InCashA9 + $payment.InCashAmount)
					#set($CloseA9 = $CloseA9 + $payment.CloseAmount)
				#elseif($payment.Type == "10")
					#set($TypeA10 = $payment.TypeDescription)
					#set($OpenA10 = $OpenA10 + $payment.OpenAmount)
					#set($InNetA10 = $InNetA10 + $payment.InNetAmount)
					#set($OutNetA10 = $OutNetA10 + $payment.OutNetAmount)
					#set($InCashA10 = $InCashA10 + $payment.InCashAmount)
					#set($CloseA10 = $CloseA10 + $payment.CloseAmount)
				#end
					#set($OpenAGC = $OpenAGC + $payment.OpenAmount)
					#set($InNetAGC = $InNetAGC + $payment.InNetAmount)
					#set($OutNetAGC = $OutNetAGC + $payment.OutNetAmount)
					#set($InCashAGC = $InCashAGC + $payment.InCashAmount)
					#set($CloseAGC = $CloseAGC + $payment.CloseAmount)									
				#end															
			
				<table>
				#if ($TypeA1 != "")
					#set($InNet = $InNetA1 - $InCashA1)
					#set($Vers = $OpenA1 + $InCashA1)					
					#set($Diff = $Vers + $InNet - $OutNetA1 - $CloseA1)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA1</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA1.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA1.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA1.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA2 != "")
					#set($InNet = $InNetA2 - $InCashA2)
					#set($Vers = $OpenA2 + $InCashA2)
					#set($Diff = $Vers + $InNet - $OutNetA2 - $CloseA2)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA2</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA2.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA2.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA2.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA3 != "")
					#set($InNet = $InNetA3 - $InCashA3)
					#set($Vers = $OpenA3 + $InCashA3)
					#set($Diff = $Vers + $InNet - $OutNetA3 - $CloseA3)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA3</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA3.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA3.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA3.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA4 != "")
					#set($InNet = $InNetA4 - $InCashA4)
					#set($Vers = $OpenA4 + $InCashA4)
					#set($Diff = $Vers + $InNet - $OutNetA4 - $CloseA4)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA4</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA4.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA4.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA4.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA5 != "")
					#set($InNet = $InNetA5 - $InCashA5)
					#set($Vers = $OpenA5 + $InCashA5)
					#set($Diff = $Vers + $InNet - $OutNetA5 - $CloseA5)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA5</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA5.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA5.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA5.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA6 != "")
					#set($InNet = $InNetA6 - $InCashA6)
					#set($Vers = $OpenA6 + $InCashA6)
					#set($Diff = $Vers + $InNet - $OutNetA6 - $CloseA6)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA6</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA6.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA6.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA6.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA7 != "")
					#set($InNet = $InNetA7 - $InCashA7)
					#set($Vers = $OpenA7 + $InCashA7)
					#set($Diff = $Vers + $InNet - $OutNetA7 - $CloseA7)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA7</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA7.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA7.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA7.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA8 != "")
					#set($InNet = $InNetA8 - $InCashA8)
					#set($Vers = $OpenA8 + $InCashA8)
					#set($Diff = $Vers + $InNet - $OutNetA8 - $CloseA8)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA8</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA8.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA8.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA8.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA9 != "")
					#set($InNet = $InNetA9 - $InCashA9)
					#set($Vers = $OpenA9 + $InCashA9)
					#set($Diff = $Vers + $InNet - $OutNetA9 - $CloseA9)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA9</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA9.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA9.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA9.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				#end
				#if ($TypeA10 != "")
					#set($InNet = $InNetA10 - $InCashA10)
					#set($Vers = $OpenA10 + $InCashA10)
					#set($Diff = $Vers + $InNet - $OutNetA10 - $CloseA10)
					<tr class="odd">
						<td width="404" align="left">Modalita' pagamento</td>
						<td width="84" align="right">$TypeA10</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Fondo cassa</td>
						<td width="84" align="right">&euro; $OpenA10.ToString('0.00')</td>
					</tr>				
					<tr class="odd">
						<td width="404" align="left">Versamenti</td>
						<td width="84" align="right">&euro; $Vers.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Importo</td>
						<td width="84" align="right">&euro; $InNet.ToString('0.00')</td>
					</tr>
					<tr class="odd">
						<td width="404" align="left">Prelievi</td>
						<td width="84" align="right">&euro; $OutNetA10.ToString('0.00')</td>
					</tr>					
					<tr class="odd">
						<td width="404" align="left">Dichiarazione</td>
						<td width="84" align="right">&euro; $CloseA10.ToString('0.00')</td>
					</tr>
					<tr>
						<td width="404" align="left">Squadratura</td>
						<td width="84" align="right">&euro; $Diff.ToString('0.00')</td>
					</tr>
					<tr>
						<td height="5"></td>
						<td height="5"></td>
					</tr>
				</table>
			#end

			<table class="1">
				<tr class="odd1">
					<td height="10"></td>
				</tr>
			</table>	
			
			<table>
				<tr>
					<td colspan="2">TOTALI</td>
				</tr>
				#set($InNetGC = $InNetAGC - $InCashAGC)
				#set($VersGC = $OpenAGC + $InCashAGC)
				#set($DiffGC = $VersGC + $InNetGC - $OutNetAGC - $CloseAGC)
				<tr class="odd">
					<td width="404" align="left">Totale complessivo valuta $currency.Description</td>
					<td width="84" align="right"></td>
				</tr>
				<tr class="odd">
					<td width="404" align="left">Fondo cassa</td>
					<td width="84" align="right">&euro; $OpenAGC.ToString('0.00')</td>
				</tr>				
				<tr class="odd">
					<td width="404" align="left">Versamenti</td>
					<td width="84" align="right">&euro; $VersGC.ToString('0.00')</td>
				</tr>
				<tr class="odd">
					<td width="404" align="left">Importo</td>
					<td width="84" align="right">&euro; $InNetGC.ToString('0.00')</td>
				</tr>
				<tr class="odd">
					<td width="404" align="left">Prelievi</td>
					<td width="84" align="right">&euro; $OutNetAGC.ToString('0.00')</td>
				</tr>				
				<tr class="odd">
					<td width="404" align="left">Dichiarazione</td>
					<td width="84" align="right">&euro; $CloseAGC.ToString('0.00')</td>
				</tr>
				<tr>
					<td width="404" align="left">Squadratura</td>
					<td width="84" align="right">&euro; $DiffGC.ToString('0.00')</td>
				</tr>
			</table>

			<table class="1">
				<tr class="odd1">
					<td height="10"></td>
				</tr>
			</table>

			<table>								
				<tr class="odd">
					<td width="320" align="left">Storni</td>
					<td width="84" align="right">$dTDCancelVoidCounter.ToString('0.00')</td>
					<td width="84" align="right">&euro; $dTDCancelVoidAmount.ToString('0.00')</td>
				</tr>				
				<tr class="odd">
					<td width="320" align="left">Resi</td>
					<td width="84" align="right">$dTDRefundsCounter.ToString('0.00')</td>
					<td width="84" align="right">&euro; $dTDRefundsAmount.ToString('0.00')</td>
				</tr>				
				<tr class="odd">
					<td width="320" align="left">Annullati</td>
					<td width="84" align="right">$abortedDocumentsCounter.ToString()</td>
					<td width="84" align="right">&euro; $abortedDocumentsAmount.ToString('0.00')</td>
				</tr>
				<tr>
					<td width="320" align="left">Sconti Art</td>
					<td width="84" align="right"></td>
					<td width="84" align="right">&euro; $dTDItemAdjValueDiscountsAmount.ToString('0.00')</td>
				</tr>
				<tr>
					<td width="320" align="left">Sconti Tot</td>
					<td width="84" align="right"></td>
					<td width="84" align="right">&euro; $dTDSubtotalAdjValueDiscountsAmount.ToString('0.00')</td>
				</tr>
			</table>

		#end		
		
		<table class="1">
			<tr class="odd2">
			<td><BR>2M Servizi srl<BR></td>
			</tr>
		</table>
	</body>
</html>
