<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type='text/css'>
   
	body {
		font-family: Arial;
		font-size:8pt;
	}
	
	p {
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;
		font-family: Arial;
	}
	p.doubleWidth {
		-webkit-transform: scaleX(2);
		-moz-transform: scaleX(2);
		-ms-transform: scaleX(2);
		-o-transform: scaleX(2);
		transform: scaleX(2);
	}
	p.doubleHeight {
		-webkit-transform: scaleY(2);
		-moz-transform: scaleY(2);
		-ms-transform: scaleY(2);
		-o-transform: scaleY(2);
		transform: scaleY(2);
		font-family: Arial;
		font-size:9pt;
	}
	p.doubleWidthandHeight {
		-webkit-transform: scaleX(2) scaleY(2);
		-moz-transform: scaleX(2) scaleY(2);
		-ms-transform: scaleX(2) scaleY(2);
		-o-transform: scaleX(2) scaleY(2);
		 transform: scaleX(2) scaleY(2);
	}
	p.breakhere {page-break-before: always}

  </style>
</head>

<body>
	<!-- <p class="doubleWidth">DOUBLE WIDTH</p>
	<hr />
	<p class="doubleHeight">Double Height</p>
	<hr />
	<p class="doubleWidthandHeight">Double Width and Height</p> -->

	<!-- esempio intestazione -->
	<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="text-align: center;">
				<!-- immagine fissa. Indicativamente width a 260 -->
				<img src="http://www.placehold.it/260x150/999999/ffffff&text=Fixed+260x150" border="0" alt="" />
				<!-- <img src="C:\Orange\loghi\crai\crai.jpg" border="0" alt="" />					 -->
			</td>
		</tr>
	</table>
	

	
<!-- esempio intestazione -->
	<table cellpadding="0" cellspacing="0" width="100%">
		<!-- <tr>
			<td style="text-align: center;">
				Riga intestazione normale
			</td>
		</tr> -->
		<tr>
			<td style="text-align: center;">
				<p class="doubleHeight" >
				<b>SUPERMARKET DUOCCIO DONATA</b>
				</p>
			</td>
		</tr>
	
	
		
		
		<tr>
			<td style="text-align: center;">
				<b>Strada Statale di Adria, 13/B</b>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<b>45011 VALLIERA (RO)</b>
			</td>
		</tr>		
		<tr>
			<td style="text-align: center;">
				<b>P.Iva 00868730292 Tel.0426/900391</b>
			</td>
		</tr>	

		
	<!-- 	<tr>
			<td style="text-align: center;">
				<h4>Riga intestazione h4</h4>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<h5>Riga intestazione h5</h5>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<h6>Riga intestazione h6</h6>
			</td>
		</tr> -->
	</table>








	<!-- tabella esempio dettaglio articoli -->
	<table cellpadding="0" cellspacing="0" width="100%">

		<tr>
			<td style="width: 100%">
			</td>
			<td style="text-align: right; vertical-align: bottom;">
				EURO
			</td>
		</tr>				
	
		#foreach($det in $document.Details)


			<!-- se devo stampare la riga sopra per desc qta articoli, aggiungo una row -->
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
				#if(($det.FiscalQuantity < -1) || ($det.FiscalQuantity > 1))
					<tr>
						
						<td style="text-align: right; vertical-align: bottom;">
							${det.FiscalQuantity.ToString('0.#####').PadLeft(3)} X $det.Price.ToString('0.00').PadRight(10)

						</td>
					</tr>
				#end
			#end		
		
			<tr>
			
				<td style="width: 100%">


					#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
						#if($det.FiscalQuantity < 0)
						> > > >   R E S O   < < < <
						#end
						$det.Description

					
					#elseif($det.GetType().ToString() == "Orange.Core.Data.Document.AdjustmentDocumentDetail")
						$det.Description
						
					#elseif($det.GetType().ToString() == "Orange.Core.Data.Document.ItemBookingDocumentDetail")
						$det.Description
						
					#elseif($det.GetType().ToString() == "Orange.Core.Data.Document.NoteDocumentDetail")
						$det.Description
					#elseif($det.GetType().ToString() == "Orange.Core.Data.Document.SubtotalDocumentDetail")
						$det.Description.PadLeft(28)
						
					#end


				</td>
				<td style="text-align: right; vertical-align: bottom;">


					#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
						
						##if(($det.FiscalQuantity < -1) || ($det.FiscalQuantity > 1))
						##	${det.FiscalQuantity.ToString('0.#####').PadLeft(3)} X $det.Price.ToString('0.00').PadRight(10)$det.FiscalAmount.ToString('0.00').PadLeft(12)
						##else
						##	$det.FiscalAmount.ToString('0.00').PadLeft(28)
						##end
						
						$det.FiscalAmount.ToString('0.00').PadLeft(28)
						
						
					#elseif($det.GetType().ToString() == "Orange.Core.Data.Document.AdjustmentDocumentDetail")
						
						$det.FiscalAmount.ToString("0.00;-0.00; ").PadLeft(28)
						
					#elseif($det.GetType().ToString() == "Orange.Core.Data.Document.ItemBookingDocumentDetail")
						
						$det.FiscalQuantity.ToString('0.#####').PadLeft(20) X Pren.
						
					#elseif($det.GetType().ToString() == "Orange.Core.Data.Document.NoteDocumentDetail")
						
					#elseif($det.GetType().ToString() == "Orange.Core.Data.Document.SubtotalDocumentDetail")
						
						$det.Subtotal.ToString('0.00').PadRight(28)
					#end


				</td>
			</tr>

		#end
	



		<!-- riga totale documento -->
		<tr>
			<td style="width: 100%">
			<p class="doubleHeight" >
			<b>TOTALE &euro;</b>
			</p>
			</td>
			<td style="text-align: right; vertical-align: bottom;">
			<p class="doubleHeight" >
			<b>$document.Amount.TotalAmount.ToString('0.00').PadLeft(17)</b>
			</p>
			</td>
		</tr>
		
		

	</table>




	<!-- tabella esempio dettaglio pagamenti -->
	<table cellpadding="0" cellspacing="0" width="100%">

		#foreach($pay in $document.Payments)

		<tr>
			<td style="width: 100%">
			$pay.Description
			</td>
			<td style="text-align: right; vertical-align: bottom;">
				$pay.Amount.ToString('0.00').PadLeft(28)
				
				##if($pay.Quantity.CompareTo($Pos) > 0)
				##	$pay.Quantity.ToString('0.#####').PadLeft(3) X $pay.Piece.ToString('0.00').PadRight(10)$pay.Amount.ToString('0.00').PadLeft(12)
				##else
				##	$pay.Amount.ToString('0.00').PadLeft(28)
				##end
			</td>
		</tr>

		#end

		<tr>
			<td style="width: 100%">
			RESTO
			</td>
			<td style="text-align: right; vertical-align: bottom;">
			$document.Rest.ToString('0.00').PadLeft(23)
			</td>
		</tr>

		
		<tr>
			<td style="width: 100%">
			Numero Articoli: $document.GetNumberOfPieces().ToString('0')
			</td>
			<td style="text-align: right; vertical-align: bottom;">
			
			</td>
		</tr>

		<tr>
			<td style="width: 100%">
			<i>CASSA: $document.Header.WorkstationCode   OPERATORE: $document.Creation.UserCode</i>
			</td>
			<td style="text-align: right; vertical-align: bottom;">
			<i></i>
			</td>
		</tr>
		<tr>
			<td style="width: 100%">
			$document.Header.BusinessDate.ToString('dd/MM/yy HH:mm') 
			</td>
			<td style="text-align: right; vertical-align: bottom;">
			N.$document.Header.Number
			</td>
		</tr>
		<!-- <tr>
			<td style="width: 100%">
			<i>Numero Articoli : </i>
			</td>
			<td style="text-align: right; vertical-align: bottom;">
			<i>$document.GetNumberOfPieces().ToString('0')</i>
			</td>
		</tr> -->
		

	</table>	
	
	





	<!-- esempio messaggi promozionali o trailer -->
	<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="text-align: center;">
				<!-- Riga vuota -->
				<br />
			</td>
		</tr>
		<!-- <tr>
			<td style="text-align: left;">
				Riga con allineamento sinistra bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				Riga con allineamento centrale bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
			</td>
		</tr>
		<tr>
			<td style="text-align: right;">
				Riga con allineamento destra bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
			</td>
		</tr> -->
		<!-- <tr>
			<td style="text-align: center;">
				<img src="http://www.placehold.it/260x150/999999/ffffff&text=Fixed+260x150" border="0" alt="" />
			</td>
		</tr> -->
	<!-- 	<tr>
			<td style="text-align: center;">
			
				<br />
			</td>
		</tr> -->
		<tr>
			<td style="text-align: center;">
				<i>Arrivederci e grazie!</i>
			</td>
		</tr>
	</table>
	

	<!-- salto pagina (cut della stampata) -->
	<!--<p class="breakhere">-->

</body>

</html>