<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<style>
	<!--
	.tit1        {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: 1px solid windowtext; border-bottom: medium none; height="18"; font-size: 7pt; font-style: italic; 
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="top" }
	.tit2        {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: 1px solid windowtext; border-bottom: medium none; height="18"; font-size: 12pt; font-style: italic; 
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="top" }
	.tit3        {  height="16"; font-size: 10pt; font-weight: bold;  
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="top" }
	.tit4        {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: 1px solid windowtext; border-bottom: medium none; height="12"; font-size: 8pt;  
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="top" }
	.data1       {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; height="18"; font-size: 12pt; 
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="bottom"  }
	.data2       {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; height="18"; font-size: 7pt; 
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="bottom"  }
	-->
	</style>
</head>

##-----------------  macro per chiusura
#macro( dddd )
			<tr>
				<td width="102"  style="width: 76.7pt; border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
				<td width="323"  style="width: 185.05pt; border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
				<td  style="width: 83px; border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
				<td  style="width: 88px; border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
				<td  style="width: 78px; border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
				<td  style="width: 35px; border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
			</tr>
		</table>
#end
##------------------------------------

<body>
	#set($totale=40)
	#set($PageNumber = 1)
	#set($rCount=0)
	#set($ii = 0)
		
	#foreach($det in $document.Details)
		#if($rCount==0)
			#if($PageNumber==1)

			#else
				<br>
				##------------  PARSING esterno
				#parse("SaleInvoiceFooter.vm")
				##-----------------------------

				<table style="page-break-after:always"></table>
			#end
			
			#if($PageNumber==1)
			#foreach ($row in $headerList)
			#if ($row.ToString() != "")
				#set($rCount=$rCount+1)
				<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
					<tr >
						<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
							<span style="font-family: Courier New"><font style="font-size: 8pt">$row.ToString()</font></span></i></td>
					</tr>
				</table>
				&nbsp;
			#end
			#end
			#end
	
			##------------  PARSING esterno
			#parse("SaleInvoiceHeader.vm")
			##-----------------------------
			
			#if($PageNumber==1)
			#foreach ($row in $beforeList)
			#if ($row.ToString() != "")
				&nbsp;
				#set($rCount=$rCount+1)
				<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
					<tr >
						<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
							<span style="font-family: Courier New"><font style="font-size: 8pt">$row.ToString()</font></span></i></td>
					</tr>
				</table>
			#end
			#end
			#end
	
			&nbsp;
			<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
				<tr >
					<td width="102" style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">CODICE ART</font></span></i></b></td>
					<td width="323" style="border:1px solid windowtext; width: 185.05pt; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">DESCRIZIONE</font></span></i></b></td>
					<td style="border:1px solid windowtext; width: 83px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; " height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">QUANTITA’</font></span></i></b></td>
					<td style="border:1px solid windowtext; width: 88px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; " height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">PREZZO</font></span></i></b></td>
					<td style="border:1px solid windowtext; width: 78px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">IMPORTO</font></span></i></b></td>
					<td style="border:1px solid windowtext; width: 35px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">C.T.</font></span></i></b></td>
				</tr>
			#set($rCount=$rCount+1)
		#else
			#set($rCount=$rCount+1)
			#if($rCount==$totale)
				#set($rCount=0)
				#set($PageNumber=$PageNumber+1)
			#end
		#end
			
		<tr >
			<td width="102"  style="border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
				#if ($showItemCode == "SaleCode") 
					$det.SaleCode 
				#else
					$det.ItemCode</text></row>
				#end
			#end
			</span></td>
			<td width="323"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.FiscalQuantity < 0)RESO #end$det.Description
			</span></td>
			<td  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
				$det.FiscalQuantity.ToString('0.##')
			#end
			</span></td>
			<td  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
				$det.Price.ToString('0.00')
			#end
			</span></td>
			<td  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
			
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.SubtotalDocumentDetail")
			$det.Subtotal.ToString('0.00')
			#else
			$det.FiscalAmount.ToString('0.00')
			#end
			</span></td>
			<td  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="center">
			
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
				$det.TaxCode
			#end
			</span></td>
		</tr>
		#if($rCount==0)
			#dddd()
		#end
	#end
	
	
	#set($diff=0)
	#set($diff=($totale - $rCount - $ii - 12 - $document.Amount.TaxDetails.Count - $afterList.Count - $footerList.Count))
	#set($arr1 = [0..$diff] )
	#foreach( $foo in $arr1 )
		<tr >
			<td width="102"  style="border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
			&nbsp;</td>
			<td width="323"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
			&nbsp;</td>
			<td  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
			&nbsp;</td>
			<td  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
			&nbsp;</td>
			<td  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
			&nbsp;</td>
			<td  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="center">
			&nbsp;</td>
		</tr>
	#end
	
	##dddd()

				##  --- Se Fidelity
	#if($interlocutor)
 	&nbsp;
	<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
		<tr >
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
				<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$resCardCode:</I></B> $interlocutor.ReadedCode</font></span></i></td>
				
			#if ($interlocutor.Code && $interlocutor.Code!="" && $interlocutor.Code!=$CustomerCode && $interlocutor.Person.LastName != "Customer")
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
				<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$resCustomerCode:</I></B> $interlocutor.Code</font></span></i></td>
			#end
			#if ($interlocutor.FidelityCustomer && $interlocutor.FidelityCustomer.Code!="")
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
				<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$resFidelityCustomerCode:</I></B> $interlocutor.FidelityCustomer.Code</font></span></i></td>
			#end
			#if ($interlocutor.FiscalCode && $interlocutor.FiscalCode!="")
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
				<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$resCFCode:</I></B> $interlocutor.FiscalCode</font></span></i></td>
			#end
			
		</tr>
	</table>
		
	##  --- Promozioni fidelity
	
	#set($lgth = $maxLength - 8)
	#set($lgth2 = $maxLength - 9)

	#foreach($SDReport in $promotionsReportGroup)
	<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
		<tr>
			##tostring del saledrivereport
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
					<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$SDReport.Code:</I></B> $SDReport.Description</font></span></i></td>

			$SDReport.Counters.Sort()
			#set($ch = '.')
		  
			#foreach ($CounterReport in $SDReport.Counters)
			
				#if ($CounterReport.initialPoints != $System.Decimal.MinValue)
					#set($initialPoints = $CounterReport.InitialPoints)
					#set($initialDesc = "$resInitialPoints $CounterReport.CounterName")
				#else
					#set($initialPoints = 0)
					#set($initialDesc = "$resInitialPointsNotAvailable $CounterReport.CounterName")
				#end
				#set($initialDesc=$initialDesc.PadRight($lgth, $ch.ToCharArray().GetValue(0)))
				#if ($initialDesc.Length>$lgth)
					#set($initialDesc=$initialDesc.Substring(0, $lgth))
				#end
			  
				#if ($CounterReport.Groups.Count != 0 || $CounterReport.NoGroups.Count != 0)
					<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
					<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$initialDesc:</I></B> $initialPoints.ToString('##,##0.##')</font></span></i></td>

					$CounterReport.Groups.Sort()
					#foreach ($LineReport in $CounterReport.Groups)
						#set($initialDesc=$LineReport.Description)
						#set($initialDesc=$initialDesc.PadRight($lgth2, $ch.ToCharArray().GetValue(0)))
						#if ($initialDesc.Length>$lgth)
							#set($initialDesc=$initialDesc.Substring(0, $lgth2))
						#end
						<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
						<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$initialDesc:</I></B> $LineReport.Quantity.ToString('##,##0.##')</font></span></i></td>
					#end
				  
					#foreach ($LineReport in $CounterReport.NoGroups)
						#set($initialDesc=$LineReport.Description)
						#set($initialDesc=$initialDesc.PadRight($lgth2, $ch.ToCharArray().GetValue(0)))
						#if ($initialDesc.Length>$lgth)
							#set($initialDesc=$initialDesc.Substring(0, $lgth2))
						#end
						<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
						<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$initialDesc:</I></B> $LineReport.Quantity.ToString('##,##0.##')</font></span></i></td>
					#end
				#end
				
				##  --- final Desc
				#set($finalDesc = "$resFinalPoints $CounterReport.CounterName")
				#set($finalDesc=$finalDesc.PadRight($lgth, $ch.ToCharArray().GetValue(0)))
				#if ($finalDesc.Length>$lgth)
					#set($finalDesc=$finalDesc.Substring(0, $lgth))
				#end
				#set($finalPoints = $CounterReport.FinalPoints)

				<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
					<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$finalDesc:</I></B> $finalPoints.ToString('##,##0.##')</font></span></i></td>
			#end
			
			
			#foreach ($LineReport in $SDReport.NoCounters)

				#set($initialDesc=$LineReport.Description)
				#set($initialDesc=$initialDesc.PadRight($lgth2, $ch.ToCharArray().GetValue(0)))
				#if ($initialDesc.Length>$lgth)
					#set($initialDesc=$initialDesc.Substring(0, $lgth2))
				#end

				<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
					<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I>$initialDesc:</I></B> $LineReport.Quantity.ToString('##,##0.##')</font></span></i></td>
	
			#end
			</tr>
		</table>
		#end
	#end

	
	#foreach ($row in $afterList)
	#if ($row.ToString() != "")
		&nbsp;
		<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
			<tr >
				<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
					<span style="font-family: Courier New"><font style="font-size: 8pt">$row.ToString()</font></span></i></td>
			</tr>
		</table>
	#end
	#end

	&nbsp;
	<table border="0" cellspacing="0" cellpadding="0" id="table3" width="645">
		<tr>
			<td width="70%">
				<table border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="100%" id="table4">
					<tr>
						<td width="5%" style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">C.T.</font></span></i></b></td>
						<td width="20%" style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">IMPONIBILE</font></span></i></b></td>
						<td width="20%" style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">%IVA</font></span></i></b></td>
						<td width="20%" style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">IMPOSTA</font></span></i></b></td>
						<td width="35%" style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">DESCRIZ. CODICE IVA</font></span></i></b></td>
					</tr>
			
				#set($totImpo = 0)
				#set($totAmou = 0)
				#foreach ($TxD in $document.Amount.VatDetails)
					<tr >
						<td width="5%"  style="border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="center">
						<span style="font-size: 10.0pt; font-family: Courier New">
						$TxD.Code
						</span></td>
						<td width="20%"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
						<span style="font-size: 10.0pt; font-family: Courier New">
						$TxD.TaxableAmount.ToString('##,##0.00').PadLeft(10)
						</span></td>
						<td width="20%"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="center">
						<span style="font-size: 10.0pt; font-family: Courier New">
						$TxD.Percentage.ToString('##0.##').PadLeft(7)
						</span></td>
						<td width="20%"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
						<span style="font-size: 10.0pt; font-family: Courier New">
						$TxD.TaxAmount.ToString('##,##0.00').PadLeft(9)
						</span></td>
						<td width="35%"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="left">
						<span style="font-size: 10.0pt; font-family: Courier New">
						$TxD.Description
						</span></td>
					</tr>		
				#end
					<tr >
						<td width="5%"  style="border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="center">
						<span style="font-size: 10.0pt; font-family: Courier New">
						&nbsp;
						</span></td>
						<td width="20%"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
						<span style="font-size: 10.0pt; font-family: Courier New">
						&nbsp;
						</span></td>
						<td width="20%"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="center">
						<span style="font-size: 10.0pt; font-family: Courier New">
						&nbsp;
						</span></td>
						<td width="20%"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
						<span style="font-size: 10.0pt; font-family: Courier New">
						&nbsp;
						</span></td>
						<td width="35%"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="left">
						<span style="font-size: 10.0pt; font-family: Courier New">
						&nbsp;
						</span></td>
					</tr>			
					<tr>
						<td class="tit1" width="5%" >&nbsp;</td>
						<td class="tit1" width="20%" >Totale Imponibile</td>
						<td class="tit1" width="20%" >&nbsp;</td>
						<td class="tit1" width="20%" >Totale Imposta</td>
						<td class="tit1" width="35%" >&nbsp;</td>
					</tr>
					<tr>
						<td class="data1" width="5%">&nbsp;</td>
						<td class="data1" width="20%" align="right">
						<span style="font-size: 10.0pt; font-family: Courier New">$document.Amount.TotalTaxableAmount.ToString('0.00')</span></td>
						<td class="data1" width="20%">&nbsp;</td>
						<td class="data1" width="20%" align="right">
						<span style="font-size: 10.0pt; font-family: Courier New">$document.Amount.TotalTaxAmount.ToString('0.00')</span></td>
						<td class="data1" width="35%">&nbsp;</td>
					</tr>
				</table>
			</td>
			
			<td width="30%" height="100%" style="border-right: 1px solid windowtext">
				<table width="100%" height="100%" id="table5" cellspacing="1" cellpadding="1" style="border: 1px solid windowtext">
					<tr>
						<td width="100%" style="border: medium none; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; " height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">TOTALE DOCUMENTO</font></span></i></b></td>
					</tr>
					<tr >
						<td width="100%" style="border-top: medium none; background-position: center; border-left: none; border-right:none; border-bottom: medium none; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; vertical-align:bottom" align="right">
							<span style="font-size: 12.0pt; font-family: Courier New">
							<B>$document.Header.Currency.Unit &nbsp;&nbsp; $document.Amount.TotalAmount.ToString('##,##0.00')</B>
							</span>
						</td>
					</tr>	
				</table>
			</td>
		</tr>
	</table>
	
	
	##------------  PARSING esterno
	#parse("SaleInvoiceFooter.vm")
	##-----------------------------

	#foreach ($row in $footerList)
	#if ($row.ToString() != "")
		<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
			<tr >
				<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
					<span style="font-family: Courier New"><font style="font-size: 8pt">$row.ToString()</font></span></i></td>
			</tr>
		</table>
	#end
	#end
	
</body>
</html>
