<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<style>
	<!--
	.tit1        {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: 1px solid windowtext; border-bottom: medium none; height="18"; font-size: 7pt; font-style: italic; 
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="top" }
	.tit2        {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: 1px solid windowtext; border-bottom: medium none; height="18"; font-size: 12pt; font-style: italic; 
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="top" }
	.tit3        {  height="16"; font-size: 10pt; font-weight: bold;  
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="top" }
	.tit4        {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: 1px solid windowtext; border-bottom: medium none; height="12"; font-size: 8pt;  
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="top" }
	.data1       {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; height="18"; font-size: 12pt; 
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="bottom"  }
	.data2       {  border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; height="18"; font-size: 7pt; 
					padding-left: 2px; padding-right: 2px; padding-top: 0; padding-bottom: 0; vertical-align="bottom"  }
	-->
	</style>
</head>

##-----------------  macro per chiusura
#macro( dddd )
			<tr>
				<td width="102"  style="width: 76.7pt; border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
				<td width="400"  style="width: 185.05pt; border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
				<td  style="width: 83px; border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
				<td  style="width: 114px; border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
					<span style="font-size: 10.0pt; font-family: Courier New">&nbsp;</span>
				</td>
			</tr>
		</table>
#end
##------------------------------------

<body>
	#set($totale=40)
	#set($PageNumber = 1)
	#set($rCount=0)
	#set($ii = 0)
		
	#foreach($det in $document.Details)
		#if($rCount==0)
			#if($PageNumber==1)

			#else
				<br>
				##------------  PARSING esterno
				##parse("SaleInvoiceFooter.vm")
				##-----------------------------

				<table style="page-break-after:always"></table>
			#end
			
			#if($PageNumber==1)
			#foreach ($row in $headerList)
			#if ($row.ToString() != "")
				#set($rCount=$rCount+1)
				<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
					<tr >
						<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
							<span style="font-family: Courier New"><font style="font-size: 8pt">$row.ToString()</font></span></i></td>
					</tr>
				</table>
				&nbsp;
			#end
			#end
			#end
	
			##------------  PARSING esterno
			#parse("SaleOrderHeader.html.vm")
			##-----------------------------
			
			#if($PageNumber==1)
			#foreach ($row in $beforeList)
			#if ($row.ToString() != "")
				&nbsp;
				#set($rCount=$rCount+1)
				<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
					<tr >
						<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
							<span style="font-family: Courier New"><font style="font-size: 8pt">$row.ToString()</font></span></i></td>
					</tr>
				</table>
			#end
			#end
			#end
	
			&nbsp;
			<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
				<tr >
					<td width="102" style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">CODICE ART</font></span></i></b></td>
					<td width="400" style="border:1px solid windowtext; width: 185.05pt; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">DESCRIZIONE</font></span></i></b></td>
					<td style="border:1px solid windowtext; width: 83px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; " height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">QUANTITA’</font></span></i></b></td>
					<td style="border:1px solid windowtext; width: 114px; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; background-image:url('CSS/CSS_IMG/bg_th.jpg')" height="30" align="center">
						<b><i><span style="font-family: Courier New"><font style="font-size: 8pt">CONTRIBUTO</font></span></i></b></td>
				</tr>
			#set($rCount=$rCount+1)
		#else
			#set($rCount=$rCount+1)
			#if($rCount==$totale)
				#set($rCount=0)
				#set($PageNumber=$PageNumber+1)
			#end
		#end
			
		<tr >
			<td width="102"  style="border-left: 1px solid windowtext; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
				#if ($showItemCode == "SaleCode") 
					$det.SaleCode 
				#else
					$det.ItemCode</text></row>
				#end
			#end
			</span></td>
			<td width="400"  style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm">
			<span style="font-size: 10.0pt; font-family: Courier New">
			$det.Description
			</span></td>
			<td style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
				$det.StockQuantity.ToString('0.##')
			#end
			</span></td>
			<td style="border-left: medium none; border-right: 1px solid windowtext; border-top: medium none; border-bottom: medium none; padding-left: 5px; padding-right: 5px; padding-top: 0cm; padding-bottom: 0cm" align="right">
			<span style="font-size: 10.0pt; font-family: Courier New">
			#if($det.GetType().ToString() == "Orange.Core.Data.Document.ItemDocumentDetail")
				$det.Price.ToString('0.00')
			#end
			</span></td>
		
		</tr>
		#if($rCount==0)
			#dddd()
		#end
	#end
	


	##  --- Se Fidelity
	
	#if($document.Interlocutor)
 	&nbsp;
	<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
		<tr >
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
				<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I><br /> Codice Tessera:</I></B> $document.Interlocutor.ReadedCode</font></span></i></td>
				
			#if ($document.Interlocutor.Code && $document.Interlocutor.Code!="" && $document.Interlocutor.Code!=$CustomerCode && $document.Interlocutor.Person.LastName != "Customer")
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
				<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I><br />Codice Cliente:</I></B> $document.Interlocutor.Code</font></span></i></td>
			#end
			#if ($document.Interlocutor.FidelityCustomer && $document.Interlocutor.FidelityCustomer.Code!="")
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
				<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I><br />Codice Fid. Cliente:</I></B> $document.Interlocutor.FidelityCustomer.Code</font></span></i></td>
			#end
			#if ($document.Interlocutor.FiscalCode && $document.Interlocutor.FiscalCode!="")
			<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
				<span style="font-family: Courier New"><font style="font-size: 8pt"><B><I><br />Codice Fiscale:</I></B> $document.Interlocutor.FiscalCode</font></span></i></td>
			#end
			
		</tr>
	</table>
		
	##  --- Promozioni fidelity
	
	#set($lgth = $maxLength - 8)
	#set($lgth2 = $maxLength - 9)

	
	#end

	

		&nbsp;
		<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
			<tr >
				<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
					<span style="font-family: Courier New"><font style="font-size: 8pt">&nbsp;</font></span></i></td>
			</tr>
		</table>



	##------------  PARSING esterno
	#parse("SaleInvoiceFooter.vm")
	##-----------------------------

	#foreach ($row in $footerList)
	#if ($row.ToString() != "")
		<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: medium none" width="645" height="18">
			<tr >
				<td style="border: 1px solid windowtext; padding-left: 5px; padding-right: 5px; padding-top: 1px; padding-bottom: 1px; align="center">
					<span style="font-family: Courier New"><font style="font-size: 8pt">$row.ToString()</font></span></i></td>
			</tr>
		</table>
	#end
	#end
	
</body>
</html>
