<table border="1" cellspacing="0" cellpadding="0" id="table1" width="645" style="border:0px solid #000000; padding:0; font-family: Courier New">
  <tr width="100%" style="position: relative; bottom: 0;" align="center">
    <td class="data2" height="13" >
      <i>
        Ai sensi del D.Lgs 196 del 30/06/03 'Codice	in materia di protezione dei dati personali'<br/>
          i Vs. dati indicativi sono da noi utilizzati per finalità amministrativo-contabile.<br/>
			</i>
    </td>
  </tr>
</table>