<report>
  <row align="center" style="normal" size="doubleheight">
    <text style="normal" size="normal">TpiScan Balance</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Cassa : $workstationCode - $workstationDescription </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Balance date: $data.ToString().PadLeft(22)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>

  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> Taglio             Q.ta'        Valore</text>
  </row>
  #set($valoretot = 0)
  #foreach($taglio in $balance)
  <!--#set($valore = $denomination.cc_denomination*$denomination.cc_qty)-->
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">$taglio.Denomination.PadRight(20) $taglio.Qta.ToString().PadLeft(4) $taglio.Amount.ToString('0.00').PadLeft(14)</text>
  </row>

  #set($valoretot = $valoretot+$taglio.Amount)
  #end
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">           TOTALE Complessivo $valoretot.ToString('0.00').PadLeft(10)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">----------------------------------------</text>
  </row>


  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">***************************************</text>
  </row>
</report>