<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">
  <!-- Dispatcher per la gestione dei ping verso i vari web services -->
  <object name="ServiceDispatcher" type="Orange.Core.Engine.Dispatcher, Orange.Core">
    <!-- Millisecondi di attesa prima della prima chiamata ai vari ping -->
    <property name="StartTime" value="117" />
    <!-- Millisecondi di attesa tra una chiamata e la successiva dei vari ping -->
    <property name="IntervalTime" value="10000" />
    <!-- Dizionario degli shipper responsabili del ping verso i web services -->
    <property name="ShipperList">
      <dictionary key-type="String" value-type="Orange.Core.Engine.Shipper.IShipper, Orange.Core">
        <entry key="ShopServer" value-ref="ShopServerPing" />
        <!--<entry key="FidelityServer" value-ref="FidelityServerPing" />-->
      </dictionary>
    </property>
  </object>
  <!-- Shipper per il ping verso i web services responsabili dei documenti-->
  <object name="ShopServerPing" type="Orange.Base.Engine.Shipper.ServicePingShipper, Orange.Base.Engine.Shipper">
    <!-- Nome della variabile di stato che riflette lo stato dei WS pingati -->
    <property name="StateName" value="StateShopServer|StateFidelityServer" />
    <!-- Lista dei WS da pingare-->
    <property name="DAOList">
      <list element-type="Orange.Core.Engine.Service.IWebService, Orange.Core">
        <!-- WS della gestione dell'archiviazione dei documenti emessi -->
        <!--<ref object="WSDocumentDAO"/>-->
        <!-- WS degli scontrini bilancia -->
        <!--<ref object="WSScaleReceiptDAO"/>-->
        <!-- WS della gestione del cassetto -->
        <!--<ref object="WSDayTurnDrawerDAO"/>-->
        <ref object="WSSynchronizerDAO" />
      </list>
    </property>
  </object>
  <!-- Shipper per il ping verso i web services responsabili della Fidelity -->
  <!--<object name="FidelityServerPing" type="Orange.Base.Engine.Shipper.ServicePingShipper, Orange.Base.Engine.Shipper">
    <property name="StateName" value ="StateFidelityServer"/>
    <property name="DAOList">
      <list element-type="Orange.Core.Engine.Service.IWebService, Orange.Core">
        <ref object="WSFidelityDAO"/>
      </list>
    </property>
  </object>-->
  <!-- Dispatcher responsabile della spedizione degli oggetti verso vari destinatari e della sincronizzazione -->
  <object name="Dispatcher" type="Orange.Core.Engine.Dispatcher, Orange.Core">
    <!-- Millisecondi di attesa prima dell'avvio del primo dispatching -->
    <property name="StartTime" value="15000" />
    <!-- Millisecondi di attesa tra un dispatchig e quello successivo -->
    <property name="IntervalTime" value="45000" />
    <!-- Dizionario degli shipper gestiti -->
    <property name="ShipperList">
      <dictionary key-type="String" value-type="Orange.Core.Engine.Shipper.IShipper, Orange.Core">
        <entry key="Document" value-ref="DocumentShipper" />
        <entry key="Fidelity" value-ref="FidelityShipper" />
        <entry key="Suspend" value-ref="SuspendedDocumentShipper" />
        <entry key="SuspendError" value-ref="ErrorSuspendedDocumentShipper" />
        <entry key="DayTurnDrawer" value-ref="DayTurnDrawerShipper" />
        <entry key="Synchronizer" value-ref="SynchronizerShipper" />
        <!--<entry key="TSP" value-ref="TSPShipper" />-->
        <!--<entry key="Scale" value-ref="ScaleShipper" />-->
        <!--<entry key="ADG" value-ref="ADGShipper" />-->
        <!--<entry key="GiftCardService" value-ref="GiftCardServiceShipper" />-->
        <entry key="Service" value-ref="ServiceShipper" />
      </dictionary>
    </property>
  </object>
  <!-- Shipper responsabile della gestione dei documenti emessi -->
  <object name="DocumentShipper" type="Orange.Base.Engine.Shipper.DocumentShipper, Orange.Base.Engine.Shipper">
    <!-- Cartella dove archiviare i documenti in attesa di essere spediti -->
    <property name="ShipperPath" value="C:\Orange\Documents\Dispatch" />
    <!-- DAO responsabile della comunicazione verso il server -->
    <property name="ShipperDAO" ref="DSPDocumentDAO" />
    <!-- Lista dei tipi di documento da non inviare -->
    <property name="DocumentNotToDispatch">
      <list element-type="Orange.Commons.DocumentTypeCode, Orange.Commons">
        <value>Suspended</value>
        <value>None</value>
        <value>PremiumDetails</value>
        <value>RestForAdvance</value>
      </list>
    </property>
  </object>
  <!-- Shipper responsabile dell'inoltro dei documenti verso il server della Fidelity -->
  <object name="FidelityShipper" type="Orange.Base.Engine.Shipper.FidelityShipper, Orange.Base.Engine.Shipper">
    <!-- Cartella dove archiviare i documenti in attesa di essere spediti -->
    <property name="ShipperPath" value="C:\Orange\Documents\FidelityDispatch" />
    <!-- DAO responsabile della comunicazione verso il server -->
    <property name="ShipperDAO" ref="DSPFidelityDAO" />
    <property name="XmlSerialization" value="true" />
    <property name="DocumentToDispatch">
      <list element-type="Orange.Commons.DocumentTypeCode, Orange.Commons">
        <value>Receipt</value>
        <value>SaleInvoice</value>
        <value>SaleRefundInvoice</value>
        <value>SaleOther</value>
        <value>FiscalReceipt</value>
        <value>Ticket</value>
        <value>CustomerCashDeposit</value>
        <value>CustomerCashDrawing</value>
      </list>
    </property>
  </object>
  <!-- Shipper responsabile della gestione dei documenti sospesi -->
  <object name="SuspendedDocumentShipper" type="Orange.Base.Engine.Shipper.SuspendedDocumentShipper, Orange.Base.Engine.Shipper">
    <!-- Cartella dove archiviare i documenti in attesa di essere spediti -->
    <property name="ShipperPath" value="C:\Orange\Documents\Suspend" />
    <!-- Se vale true i documenti sospesi vengono inviati verso il server, se vale false i documenti sospesi 
         rimangono archiviati solo a locale -->
    <property name="UseServer" value="true" />
    <!-- DAO responsabile della comunicazione verso il server -->
    <property name="ShipperDAO" ref="DSPSuspendedDocumentDAO" />
  </object>
  <!-- Shipper responsabile della gestione dei documenti sospesi in conseguenza di un errore durante la chiusura -->
  <object name="ErrorSuspendedDocumentShipper" type="Orange.Base.Engine.Shipper.ErrorSuspendedDocumentShipper, Orange.Base.Engine.Shipper">
    <!-- Cartella dove archiviare i documenti in attesa di essere spediti -->
    <property name="ShipperPath" value="C:\Orange\Documents\Error" />
    <!-- Se vale true i documenti sospesi vengono inviati verso il server, se vale false i documenti sospesi 
         rimangono archiviati solo a locale -->
    <property name="UseServer" value="true" />
    <!-- DAO responsabile della comunicazione verso il server -->
    <property name="ShipperDAO" ref="DSPSuspendedDocumentDAO" />
  </object>
  <!-- Shipper responsabile dell'invio degli aggiornamenti verso il server del cassetto -->
  <object name="DayTurnDrawerShipper" type="Orange.Base.Engine.Shipper.DayTurnDrawerShipper, Orange.Base.Engine.Shipper">
    <property name="ShipperPath" value="C:\Orange\Documents\DrawerDispatch" />
    <property name="ShipperDAO" ref="DSPDayTurnDrawerDAO" />
    <property name="XmlSerialization" value="true" />
    <property name="EnqueDispatch" value="false" />
  </object>
  <!-- Shipper responsabile delle conferme e degli annulli del servizio TSPDispatching -->
  <!--<object name="TSPShipper" type="Orange.Base.Engine.Shipper.TSPShipper, Orange.Base.Engine.Shipper">
    <property name="ShipperPath" value ="C:\Orange\Documents\TSPDispatch"/>
    <property name="Requester" ref="TSPDispatching" />
  </object>-->
  <!-- Shipper responsabile dell'operazione di Burn del servizio ADG (Affare del Giorno) -->
  <!--<object name="ADGShipper" type="Orange.Base.Engine.Shipper.ADGShipper, Orange.Base.Engine.Shipper">
    <property name="ShipperPath" value ="C:\Orange\Documents\ADGDispatch"/>
    <property name="Requester" ref="ADG" />
    <property name="XmlSerialization" value="true" />
  </object>-->
  <!-- Shipper responsabile dell'operazione di Conferma o annullo del servizio GiftCard -->
  <!--<object name="GiftCardServiceShipper" type="Orange.Base.Engine.Shipper.GiftCardServiceShipper, Orange.Base.Engine.Shipper">
    <property name="ShipperPath" value ="C:\Orange\Documents\GiftCardDispatch"/>
    <property name="Requester" ref="GiftCardService" />
    <property name="XmlSerialization" value="true" />
  </object>-->
  <!-- Shipper responsabile dell'operazione di Conferma o annullo a oggetti "service" -->
  <object name="ServiceShipper" type="Orange.Base.Engine.Shipper.ServiceShipper, Orange.Base.Engine.Shipper">
    <property name="ShipperPath" value="C:\Orange\Documents\ServiceDispatch" />
    <property name="Requesters">
      <list element-type="Orange.Core.Engine.IServiceRequester, Orange.Core">
        <!--<ref object="SmartBipService"/>-->
        <!--<ref object="EuronetPinDispatching"/>-->
      </list>
    </property>
    <property name="XmlSerialization" value="true" />
    <property name="Senders">
      <list element-type="Orange.Core.Engine.Sender.IServiceSender, Orange.Core">
        <!-- <ref object="OrangeBoxSender"/> -->
      </list>
    </property>
  </object>
  <!-- Shipper responsabile delle conferme e degli annulli del servizio ScaleGateway -->
  <!-- Department mapped code è usato per i reparti assistiti e rapresenta il codice di reparto di destinazione , di che riceve lo scontrino -->
  <!--<object name="ScaleShipper" type="Orange.Base.Engine.Shipper.ScaleShipper, Orange.Base.Engine.Shipper">
    <property name="ShipperPath" value ="C:\Orange\Documents\ScaleDispatch"/>
    <property name="ScaleReceiptDAO" ref="WSScaleReceiptDAO" />
    <property name="ScaleDepartment" value="Pescheria"/>   
    <property name="DepartmentMappedCode" value="9999"/>
    <property name="DocumentToDispatch">
      <list element-type="Orange.Commons.DocumentTypeCode, Orange.Commons">
        <value>Receipt</value>        
        <value>FiscalReceipt</value>      
      </list>
    </property>
  </object>-->
</objects>