<objects xmlns="http://www.springframework.net">
  <object name="WindowsKeyboardDeviceMapping" type="Orange.Core.Device.Input.DictionaryMapper, Orange.Core">
    <property name="Collection">
      <dictionary key-type="string" value-type="System.Collections.Generic.IList&lt;MappedCommand>">
        <entry key="Escape">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateDocument=='InProgress'" />
              <constructor-arg name="cmd" value="[documentabort]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[stop]"/>
            </object>
          </list>
        </entry>
        <entry key="F1">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[suspend]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F1">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[recall]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|F1">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[clientreport]"/>
            </object>
          </list>
        </entry>
        <entry key="F2">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[user]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F2">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[customer]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|F2">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[payment]"/>
            </object>
          </list>
        </entry>
        <entry key="F3">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[documentabort]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F3">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[subtotal]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|F3">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[calc]"/>
            </object>
          </list>
        </entry>
        <entry key="F4">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[correction]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F4">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[booking]"/>
            </object>
          </list>
        </entry>
        <entry key="F5">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[void]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F5">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[coupon]"/>
            </object>
          </list>
        </entry>
        <entry key="F6">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[refund]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F6">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[change]"/>
            </object>
          </list>
        </entry>
        <entry key="F7">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F7">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[description]"/>
            </object>
          </list>
        </entry>
        <entry key="F8">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[vat]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F8">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[tax]"/>
            </object>
          </list>
        </entry>
        <entry key="F9">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[discount]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F9">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[priceIncrease]"/>
            </object>
          </list>
        </entry>
        <entry key="F10">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[%]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F10">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[note]"/>
            </object>
          </list>
        </entry>
        <entry key="F11">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[fiscalCode]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F11">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[customer]"/>
            </object>
          </list>
        </entry>
        <entry key="F12">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[itemdocumentsearch]"/>
            </object>
          </list>
        </entry>
        <entry key="LShiftKey|F12">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[opendrawer]"/>
            </object>
          </list>
        </entry>
        <entry key="Delete">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[clear]"/>
            </object>
          </list>
        </entry>
        <entry key="Back">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[backspace]"/>
            </object>
          </list>
        </entry>
        <entry key="PageUp">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocument'" />
              <constructor-arg name="cmd" value="PageUp(true)[func]DocumentGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentPayments'" />
              <constructor-arg name="cmd" value="PageUp(true)[func]DocumentPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCustomer'" />
              <constructor-arg name="cmd" value="PageUp(true)[func]CashDrawerCustomerPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCentral'" />
              <constructor-arg name="cmd" value="PageUp(true)[func]CashDrawerCentralPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentJournal'" />
              <constructor-arg name="cmd" value="PageUp(true)[func]DocumentLogContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentSuspend'" />
              <constructor-arg name="cmd" value="PageUp(true)[func]DocumentSuspendLogContainer[gui]"/>
            </object>
          </list>
        </entry>
        <entry key="PageDown">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocument'" />
              <constructor-arg name="cmd" value="PageDown(true)[func]DocumentGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentPayments'" />
              <constructor-arg name="cmd" value="PageDown(true)[func]DocumentPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCustomer'" />
              <constructor-arg name="cmd" value="PageDown(true)[func]CashDrawerCustomerPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCentral'" />
              <constructor-arg name="cmd" value="PageDown(true)[func]CashDrawerCentralPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentJournal'" />
              <constructor-arg name="cmd" value="PageDown(true)[func]DocumentLogContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentSuspend'" />
              <constructor-arg name="cmd" value="PageDown(true)[func]DocumentSuspendLogContainer[gui]"/>
            </object>
          </list>
        </entry>
        <entry key="Up">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocument'" />
              <constructor-arg name="cmd" value="Up(true)[func]DocumentGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentPayments'" />
              <constructor-arg name="cmd" value="Up(true)[func]DocumentPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCustomer'" />
              <constructor-arg name="cmd" value="Up(true)[func]CashDrawerCustomerPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCentral'" />
              <constructor-arg name="cmd" value="Up(true)[func]CashDrawerCentralPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentJournal'" />
              <constructor-arg name="cmd" value="Up(true)[func]DocumentLogContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentSuspend'" />
              <constructor-arg name="cmd" value="Up(true)[func]DocumentSuspendLogContainer[gui]"/>
            </object>
          </list>
        </entry>
        <entry key="Down">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocument'" />
              <constructor-arg name="cmd" value="Down(true)[func]DocumentGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentPayments'" />
              <constructor-arg name="cmd" value="Down(true)[func]DocumentPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCustomer'" />
              <constructor-arg name="cmd" value="Down(true)[func]CashDrawerCustomerPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCentral'" />
              <constructor-arg name="cmd" value="Down(true)[func]CashDrawerCentralPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentJournal'" />
              <constructor-arg name="cmd" value="Down(true)[func]DocumentLogContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentSuspend'" />
              <constructor-arg name="cmd" value="Down(true)[func]DocumentSuspendLogContainer[gui]"/>
            </object>
          </list>
        </entry>
        <entry key="Home">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocument'" />
              <constructor-arg name="cmd" value="Begin(true)[func]DocumentGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentPayments'" />
              <constructor-arg name="cmd" value="Begin(true)[func]DocumentPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCustomer'" />
              <constructor-arg name="cmd" value="Begin(true)[func]CashDrawerCustomerPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCentral'" />
              <constructor-arg name="cmd" value="Begin(true)[func]CashDrawerCentralPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentJournal'" />
              <constructor-arg name="cmd" value="Begin(true)[func]DocumentLogContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentSuspend'" />
              <constructor-arg name="cmd" value="Begin(true)[func]DocumentSuspendLogContainer[gui]"/>
            </object>
          </list>
        </entry>
        <entry key="End">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocument'" />
              <constructor-arg name="cmd" value="End(true)[func]DocumentGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentPayments'" />
              <constructor-arg name="cmd" value="End(true)[func]DocumentPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCustomer'" />
              <constructor-arg name="cmd" value="End(true)[func]CashDrawerCustomerPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmCashDrawerCentral'" />
              <constructor-arg name="cmd" value="End(true)[func]CashDrawerCentralPaymentsGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentJournal'" />
              <constructor-arg name="cmd" value="End(true)[func]DocumentLogContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocumentSuspend'" />
              <constructor-arg name="cmd" value="End(true)[func]DocumentSuspendLogContainer[gui]"/>
            </object>
          </list>
        </entry>
        <entry key="Decimal">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value=","/>
            </object>
          </list>
        </entry>
        <entry key="Multiply">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]"/>
            </object>
          </list>
        </entry>
        <entry key="Return">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[enter]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|LShiftKey|F2">
          <list element-type="MappedCommand">
            <!--<object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="ciao"/>
            </object>-->
          </list>
        </entry>
        <entry key="LControlKey|F1">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="301[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|F2">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="302[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|F3">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="303[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|F4">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="304[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|F12">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[frmdocumentpayments]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D0">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9901[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D1">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9902[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D2">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9903[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D3">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9904[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D4">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9905[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D5">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9906[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D6">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9907[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D7">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9908[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D8">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9909[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D9">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9910[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|A">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9911[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|B">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9912[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|C">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9913[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|D">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9914[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|E">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9915[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|F">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9916[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|G">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9917[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|H">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9918[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|I">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[price]9919[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="LControlKey|Z">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="100[plu]"/>
            </object>
          </list>
        </entry>
        <entry key="PrintScreen">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocument' and #StateDocument=='Empty'" />
              <constructor-arg name="cmd" value="PrintDocument()[func]DocumentGridContainer[gui]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D0">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="#StateCurrentForm=='frmDocument' and #StateDocument=='Empty'" />
              <constructor-arg name="cmd" value="PrintDocument()[func]DocumentGridContainer[gui]"/>
            </object>
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[amount]1[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D1">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[amount]2[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D2">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[piece]3[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D3">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[piece]4[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D4">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[piece]5[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D5">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[piece]6[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D6">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[piece]7[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D7">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[piece]8[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D8">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[amount]9[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|A">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]000001E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|B">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]000002E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|C">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]000005E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|D">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]000010E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|E">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]000020E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|F">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]000050E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|G">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0001E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|H">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0002E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|I">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0005E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|J">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0010E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|K">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0020E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|L">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0050E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|M">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0100E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|N">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0200E[payment]|[document]"/>
            </object>
          </list>
        </entry>
        <entry key="LMenu|O">
          <list element-type="MappedCommand">
            <object type="MappedCommand">
              <constructor-arg name="exp" value="" />
              <constructor-arg name="cmd" value="[X]0500E[payment]|[document]"/>
            </object>
          </list>
        </entry>
      </dictionary>
    </property>
  </object>
</objects>
