<nhibernate>
  <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
  <add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
  <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
  <add key="hibernate.connection.connection_string"
       value="Server=.\SQLEXPRESS;initial catalog=OrangeClient;Integrated Security=SSPI;Language=Italian;MultipleActiveResultsets=true;Network=DBMSSOCN;pooling=false"/>
  <add key="hibernate.connection.isolation" value="ReadCommitted"/>
  <add key="hibernate.default_schema" value="OrangeClient.dbo"/>
  <add key="hibernate.use_proxy_validator" value="true"/>
  <add key="hibernate.max_fetch_depth" value="2"/>
 
  <add key="hibernate.show_sql" value="false"/>
  <add key="hibernate.use_outer_join" value="true"/>
  <add key="hibernate.use_reflection_optimizer" value="true"/>
  <add key="hibernate.bytecode.provider" value="lcg"/>
</nhibernate>