<nhibernate>
  <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
  <add key="hibernate.dialect" value="NHibernate.Dialect.SQLiteDialect"/>
  <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SQLite20Driver"/>
  <add key="hibernate.connection.connection_string"
       value="Data Source=Db\OrangeClient.db;Pooling=true;FailIfMissing=false;BinaryGUID=false;New=false;Compress=true;Version=3"/>

  <add key="hibernate.connection.isolation" value="ReadCommitted"/>

  <add key="hibernate.use_proxy_validator" value="true"/>
  <add key="hibernate.max_fetch_depth" value="2"/>

  <add key="hibernate.show_sql" value="false"/>
  <add key="hibernate.use_outer_join" value="true"/>
  <!--<add key="hibernate.query.substitutions" value="true 1,false 0" />-->

  <!--<add key="hibernate.use_reflection_optimizer" value="true"/>-->
  <!--<add key="hibernate.bytecode.provider" value="lcg"/>-->
</nhibernate>
