<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>


  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Orange\logs\Orange.AutomaticUpdate\Orange.UpdateConfiguration.log" />
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
