<context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
    <resource uri="file://alias.config"/>
    <!--<resource uri="file://HeaderTrailer.config"/>-->

    <!--                    Microsoft.PointOfService.1.10                  -->
    <resource uri="file://devices.config"/>
    
    <!--                    Microsoft.PointOfService.1.11                  -->
    <!--<resource uri="file://devicesPOS11.config"/>-->

    <resource uri="file://engine.config"/>
    <resource uri="file://dispatcher.config"/>
    <resource uri="file://services.config"/>
    <!--<resource uri="file://sql2005.config"/>-->
    <resource uri="file://sql2008.config"/>
    <!--<resource uri="file://sqlDirect.config"/>-->
    <resource uri="file://KeyboardMapping.config"/>
    <resource uri="file://GUI/skin.config"/>
    <resource uri="file://GUI/gui.config"/>
    <resource uri="file://GUI/menu.config"/>
    <resource uri="file://GUI/panel.config" />
    <resource uri="file://GUI/frmLogin.config"/>
    <resource uri="file://GUI/frmDocument.config"/>
    <resource uri="file://GUI/frmDocumentPayments.config"/>
    <resource uri="file://GUI/frmDocumentJournal.config"/>
    <resource uri="file://GUI/frmDocumentSuspend.config"/>
    <resource uri="file://GUI/frmCashDrawerCustomer.config"/>
    <resource uri="file://GUI/frmCashDrawerCentral.config"/>
    <resource uri="file://GUI/frmLog.config"/>
    <resource uri="file://GUI/frmReport.config"/>
    <resource uri="file://GUI/frmReportTotal.config"/>
    <resource uri="file://GUI/frmGuide.config"/>
    <resource uri="file://GUI/frmCustomerFullText.config"/>
    <resource uri="file://GUI/frmItemFullText.config"/>
</context>