<?xml version="1.0" encoding="utf-8"?>
<uipConfiguration>
  <objectTypes>
    <iViewManager name="OrangeViewManager" type="Orange.Base.Engine.ViewManager.OrangeViewManager, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <state name="UIProcessState" type="Orange.Base.Engine.UIProcessState, Orange.Base.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <controller name="UIProcessABController" type="Orange.Base.Engine.UIProcessABController, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <statePersistenceProvider name="LocalBinaryFilePersistence" type="Microsoft.ApplicationBlocks.UIProcess.MemoryStatePersistence, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
  </objectTypes>
  <views>
    <view name="frmCashDrawerCentral" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmCashDrawerCustomer" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmDocumentJournal" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmDocumentSuspend" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmDocumentPayments" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmDocument" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmLogin" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmLog" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmReport" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmReportTotal" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmGuide" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmCustomerFullText" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
    <view name="frmItemFullText" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="UIProcessABController" stayOpen="true" openModal="false" />
  </views>
  <navigationGraph name="Application" startView="frmLogin" state="UIProcessState" statePersist="LocalBinaryFilePersistence" iViewManager="OrangeViewManager">
    <node view="frmLogin">
      <navigateTo navigateValue="frmLogin" view="frmLogin" />
      <navigateTo navigateValue="frmLog" view="frmLog" />
      <navigateTo navigateValue="frmReport" view="frmReport" />
      <navigateTo navigateValue="frmReportTotal" view="frmReportTotal" />
      <navigateTo navigateValue="frmGuide" view="frmGuide" />
    </node>
    <node view="frmLog">
      <navigateTo navigateValue="frmLogin" view="frmLogin" />
      <navigateTo navigateValue="frmLog" view="frmLog" />
      <navigateTo navigateValue="frmReport" view="frmReport" />
      <navigateTo navigateValue="frmReportTotal" view="frmReportTotal" />
      <navigateTo navigateValue="frmGuide" view="frmGuide" />
    </node>
    <node view="frmReport">
      <navigateTo navigateValue="frmLogin" view="frmLogin" />
      <navigateTo navigateValue="frmLog" view="frmLog" />
      <navigateTo navigateValue="frmReport" view="frmReport" />
      <navigateTo navigateValue="frmReportTotal" view="frmReportTotal" />
      <navigateTo navigateValue="frmGuide" view="frmGuide" />
    </node>
    <node view="frmReportTotal">
      <navigateTo navigateValue="frmLogin" view="frmLogin" />
      <navigateTo navigateValue="frmLog" view="frmLog" />
      <navigateTo navigateValue="frmReport" view="frmReport" />
      <navigateTo navigateValue="frmReportTotal" view="frmReportTotal" />
      <navigateTo navigateValue="frmGuide" view="frmGuide" />
    </node>
    <node view="frmGuide">
      <navigateTo navigateValue="frmGuide" view="frmGuide" />
      <navigateTo navigateValue="frmLogin" view="frmLogin" />
      <navigateTo navigateValue="frmLog" view="frmLog" />
      <navigateTo navigateValue="frmReport" view="frmReport" />
      <navigateTo navigateValue="frmReportTotal" view="frmReportTotal" />
    </node>
  </navigationGraph>
  <navigationGraph name="Document" startView="frmDocument" state="UIProcessState" statePersist="LocalBinaryFilePersistence" iViewManager="OrangeViewManager">
    <node view="frmDocument">
      <navigateTo navigateValue="frmDocument" view="frmDocument" />
      <navigateTo navigateValue="frmDocumentPayments" view="frmDocumentPayments" />
      <navigateTo navigateValue="frmDocumentJournal" view="frmDocumentJournal" />
      <navigateTo navigateValue="frmDocumentSuspend" view="frmDocumentSuspend" />
      <navigateTo navigateValue="frmCashDrawerCustomer" view="frmCashDrawerCustomer" />
      <navigateTo navigateValue="frmCashDrawerCentral" view="frmCashDrawerCentral" />
      <navigateTo navigateValue="frmCustomerFullText" view="frmCustomerFullText" />
      <navigateTo navigateValue="frmItemFullText" view="frmItemFullText" />
    </node>
    <node view="frmDocumentPayments">
      <navigateTo navigateValue="frmDocument" view="frmDocument" />
      <navigateTo navigateValue="frmDocumentPayments" view="frmDocumentPayments" />
      <navigateTo navigateValue="frmDocumentJournal" view="frmDocumentJournal" />
      <navigateTo navigateValue="frmDocumentSuspend" view="frmDocumentSuspend" />
      <navigateTo navigateValue="frmCashDrawerCustomer" view="frmCashDrawerCustomer" />
      <navigateTo navigateValue="frmCashDrawerCentral" view="frmCashDrawerCentral" />
      <navigateTo navigateValue="frmCustomerFullText" view="frmCustomerFullText" />
      <navigateTo navigateValue="frmItemFullText" view="frmItemFullText" />
    </node>
    <node view="frmDocumentJournal">
      <navigateTo navigateValue="frmDocument" view="frmDocument" />
      <navigateTo navigateValue="frmDocumentPayments" view="frmDocumentPayments" />
      <navigateTo navigateValue="frmDocumentJournal" view="frmDocumentJournal" />
      <navigateTo navigateValue="frmDocumentSuspend" view="frmDocumentSuspend" />
      <navigateTo navigateValue="frmCashDrawerCustomer" view="frmCashDrawerCustomer" />
      <navigateTo navigateValue="frmCashDrawerCentral" view="frmCashDrawerCentral" />
      <navigateTo navigateValue="frmCustomerFullText" view="frmCustomerFullText" />
      <navigateTo navigateValue="frmItemFullText" view="frmItemFullText" />
    </node>
    <node view="frmDocumentSuspend">
      <navigateTo navigateValue="frmDocument" view="frmDocument" />
      <navigateTo navigateValue="frmDocumentPayments" view="frmDocumentPayments" />
      <navigateTo navigateValue="frmDocumentJournal" view="frmDocumentJournal" />
      <navigateTo navigateValue="frmDocumentSuspend" view="frmDocumentSuspend" />
      <navigateTo navigateValue="frmCashDrawerCustomer" view="frmCashDrawerCustomer" />
      <navigateTo navigateValue="frmCashDrawerCentral" view="frmCashDrawerCentral" />
      <navigateTo navigateValue="frmCustomerFullText" view="frmCustomerFullText" />
      <navigateTo navigateValue="frmItemFullText" view="frmItemFullText" />
    </node>
    <node view="frmCashDrawerCustomer">
      <navigateTo navigateValue="frmDocument" view="frmDocument" />
      <navigateTo navigateValue="frmDocumentPayments" view="frmDocumentPayments" />
      <navigateTo navigateValue="frmDocumentJournal" view="frmDocumentJournal" />
      <navigateTo navigateValue="frmDocumentSuspend" view="frmDocumentSuspend" />
      <navigateTo navigateValue="frmCashDrawerCustomer" view="frmCashDrawerCustomer" />
      <navigateTo navigateValue="frmCashDrawerCentral" view="frmCashDrawerCentral" />
      <navigateTo navigateValue="frmCustomerFullText" view="frmCustomerFullText" />
      <navigateTo navigateValue="frmItemFullText" view="frmItemFullText" />
    </node>
    <node view="frmCashDrawerCentral">
      <navigateTo navigateValue="frmDocument" view="frmDocument" />
      <navigateTo navigateValue="frmDocumentPayments" view="frmDocumentPayments" />
      <navigateTo navigateValue="frmDocumentJournal" view="frmDocumentJournal" />
      <navigateTo navigateValue="frmDocumentSuspend" view="frmDocumentSuspend" />
      <navigateTo navigateValue="frmCashDrawerCustomer" view="frmCashDrawerCustomer" />
      <navigateTo navigateValue="frmCashDrawerCentral" view="frmCashDrawerCentral" />
      <navigateTo navigateValue="frmCustomerFullText" view="frmCustomerFullText" />
      <navigateTo navigateValue="frmItemFullText" view="frmItemFullText" />
    </node>
    <node view="frmCustomerFullText">
      <navigateTo navigateValue="frmDocument" view="frmDocument" />
      <navigateTo navigateValue="frmDocumentPayments" view="frmDocumentPayments" />
      <navigateTo navigateValue="frmDocumentJournal" view="frmDocumentJournal" />
      <navigateTo navigateValue="frmDocumentSuspend" view="frmDocumentSuspend" />
      <navigateTo navigateValue="frmCashDrawerCustomer" view="frmCashDrawerCustomer" />
      <navigateTo navigateValue="frmCashDrawerCentral" view="frmCashDrawerCentral" />
      <navigateTo navigateValue="frmCustomerFullText" view="frmCustomerFullText" />
      <navigateTo navigateValue="frmItemFullText" view="frmItemFullText" />
    </node>
    <node view="frmItemFullText">
      <navigateTo navigateValue="frmDocument" view="frmDocument" />
      <navigateTo navigateValue="frmDocumentPayments" view="frmDocumentPayments" />
      <navigateTo navigateValue="frmDocumentJournal" view="frmDocumentJournal" />
      <navigateTo navigateValue="frmDocumentSuspend" view="frmDocumentSuspend" />
      <navigateTo navigateValue="frmCashDrawerCustomer" view="frmCashDrawerCustomer" />
      <navigateTo navigateValue="frmCashDrawerCentral" view="frmCashDrawerCentral" />
      <navigateTo navigateValue="frmCustomerFullText" view="frmCustomerFullText" />
      <navigateTo navigateValue="frmItemFullText" view="frmItemFullText" />
    </node>
  </navigationGraph>
</uipConfiguration>