<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">
  <!-- DAOs -->
  <object name="WSDocumentCounterDAO" type="Orange.Base.Engine.DAO.WSDocumentCounterDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="DocumentHistory" />
  </object>
  <object name="DSPDocumentDAO" type="Orange.Base.Engine.DAO.DSPDocumentDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="DocumentHistory" />
  </object>
  <object name="DSPSuspendedDocumentDAO" type="Orange.Base.Engine.DAO.DSPSuspendedDocumentDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="DocumentHistory" />
  </object>
  <object name="WSDocumentDAO" type="Orange.Base.Engine.DAO.WSDocumentDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="DocumentHistory" />
  </object>
  <object name="WSDocumentReportDAO" type="Orange.Base.Engine.DAO.WSDocumentReportDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="DocumentHistory" />
  </object>
  <object name="DocumentHistory" type="Orange.Core.Engine.Factories.WebServiceClientFactory, Orange.Core">
    <property name="ServiceUri" value="http://#{ServerAddress}/DocumentHistory.Services/DocumentHistory.asmx" />
    <property name="ServiceInterface" value="BaseDocumentHistory.Interface.IWSDocumentHistory, BaseDocumentHistory" />
    <property name="WebServicesInitializer" ref="WebServicesInitializer" />
    <property name="Timeout" value="180000" />
    <!--<property name="FileUri" value="file://DocumentHistory.wsdl"/>-->
  </object>
  <!-- Abilitare per gestione centralizzata -->
  <object name="DSPDayTurnDrawerDAO" type="Orange.Base.Engine.DAO.DSPDayTurnDrawerDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="DayTurnDrawer" />
    <property name="HasToLoad" value="#{UserCentralizeManagement}" />
  </object>
  <object name="WSDayTurnDrawerDAO" type="Orange.Base.Engine.DAO.WSDayTurnDrawerDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="DayTurnDrawer" />
    <property name="HasToLoad" value="#{UserCentralizeManagement}" />
  </object>
  <object name="DayTurnDrawer" type="Orange.Core.Engine.Factories.WebServiceClientFactory, Orange.Core">
    <property name="ServiceUri" value="http://#{ServerAddress}/DayTurnDrawer.Services/DayTurnDrawer.asmx" />
    <property name="ServiceInterface" value="BaseDayTurnDrawer.Interface.IWSDayTurnDrawer, BaseDayTurnDrawer" />
    <property name="WebServicesInitializer" ref="WebServicesInitializer" />
    <property name="Timeout" value="6000" />
    <!--<property name="FileUri" value="file://DayTurnDrawer.wsdl"/>-->
    <property name="HasToLoad" value="#{UserCentralizeManagement}" />
    <!-- Configure the Username and password for the web service -->
    <!--<property name="Credentials">
      <object type="System.Net.NetworkCredential, System">
        <property name="UserName" value="user"/>
        <property name="Password" value="password"/>
      </object>
    </property>-->
  </object>
  <object name="WSSynchronizerDAO" type="Orange.Base.Engine.DAO.WSSynchronizerDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="Synchronizer" />
  </object>
  <object name="Synchronizer" type="Orange.Core.Engine.Factories.WebServiceClientFactory, Orange.Core">
    <property name="ServiceUri" value="http://#{ServerAddress}/Synchronizer.Services/Synchronizer.asmx" />
    <property name="ServiceInterface" value="Synchronizer.Base.Interfaces.IWSClientSync, Synchronizer.Base" />
    <property name="WebServicesInitializer" ref="WebServicesInitializer" />
    <property name="Timeout" value="3000" />
    <!--<property name="FileUri" value="file://Synchronizer.wsdl"/>-->
  </object>
  <object name="WSSyncAdminDAO" type="Orange.Base.Engine.DAO.WSSyncAdminDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="SynchronizerAdmin" />
  </object>
  <object name="SynchronizerAdmin" type="Orange.Core.Engine.Factories.WebServiceClientFactory, Orange.Core">
    <property name="ServiceUri" value="http://#{ServerAddress}/Synchronizer.Services/Synchronizer.asmx" />
    <property name="ServiceInterface" value="Synchronizer.Base.Interfaces.IWSAdminSync, Synchronizer.Base" />
    <property name="WebServicesInitializer" ref="WebServicesInitializer" />
    <property name="Timeout" value="360000" />
    <!--<property name="FileUri" value="file://Synchronizer.wsdl"/>-->
  </object>
  <object name="WSFidelityDAO" type="Orange.Base.Engine.DAO.WSFidelityDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="Fidelity" />
  </object>
  <object name="DSPFidelityDAO" type="Orange.Base.Engine.DAO.DSPFidelityDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="Fidelity" />
  </object>
  <object name="Fidelity" type="Orange.Core.Engine.Factories.WebServiceClientFactory, Orange.Core">
    <property name="ServiceUri" value="http://#{ServerAddress}/Fidelity.Services/Fidelity.asmx" />
    <property name="ServiceInterface" value="BaseFidelity.Interface.IWSFidelityController, BaseFidelity" />
    <property name="WebServicesInitializer" ref="WebServicesInitializer" />
    <property name="Timeout" value="6000" />
    <!--<property name="FileUri" value="file://Fidelity.wsdl"/>-->
  </object>
  <object name="FSSuspendDocumentDAO" type="Orange.Base.Engine.DAO.FSDocumentDAO, Orange.Base.Engine.DAO">
    <property name="DocumentPath" value="c:\Orange\Documents\Suspend" />
  </object>
  <object name="FSDocumentDAO" type="Orange.Base.Engine.DAO.FSDocumentDAO, Orange.Base.Engine.DAO">
    <property name="DocumentPath" value="c:\Orange\Documents" />
    <!--<property name="DocumentNotToSave">
      <list element-type="Orange.Commons.DocumentTypeCode, Orange.Commons">
        <value></value>
      </list>
    </property>-->
  </object>
  <object name="FSDayTurnDrawerDAO" type="Orange.Base.Engine.DAO.FSDayTurnDrawerDAO, Orange.Base.Engine.DAO">
    <property name="DayPath" value="C:\Orange\Day\" />
    <property name="TurnPath" value="C:\Orange\Turn\" />
    <property name="DrawerPath" value="C:\Orange\Drawer\" />
    <property name="BinarySerialize" value="false" />
  </object>
  <object name="FSCounterDAO" type="Orange.Base.Engine.DAO.FSCounterDAO, Orange.Base.Engine.DAO">
    <constructor-arg name="path" value="c:\Orange\Documents\Progressive\" />
    <constructor-arg name="fileName" value="Counters.xml" />
    <property name="DefaultCounterType" ref="NumericCounters" />
    <property name="CountersType">
      <dictionary key-type="string" value-type="Orange.Commons.Counters.ICounters, Orange.Commons">
        <entry key="UpperDocument" value-ref="NumericCounters" />
      </dictionary>
    </property>
  </object>
  <object name="IdentityCounterDAO" type="Orange.Base.Engine.DAO.IdentityCounterDAO, Orange.Base.Engine.DAO" />
  <object name="NumericCounters" type="Orange.Commons.Counters.NumericCounters, Orange.Commons" />
  <object name="HPromotionDAO" type="Orange.Base.Engine.DAO.HPromotionDAO, Orange.Base.Engine.DAO" />
  <object name="HItemDAO" type="Orange.Base.Engine.DAO.HItemDAO, Orange.Base.Engine.DAO" />
  <object name="HSalePriceDAO" type="Orange.Base.Engine.DAO.HSalePriceDAO, Orange.Base.Engine.DAO" />
  <object name="HPaymentTypeDAO" type="Orange.Base.Engine.DAO.HPaymentTypeDAO, Orange.Base.Engine.DAO" />
  <object name="HPaymentDAO" type="Orange.Base.Engine.DAO.HPaymentDAO, Orange.Base.Engine.DAO" />
  <object name="HCurrencyDAO" type="Orange.Base.Engine.DAO.HCurrencyDAO, Orange.Base.Engine.DAO" />
  <object name="HStoreDAO" type="Orange.Base.Engine.DAO.HStoreDAO, Orange.Base.Engine.DAO" />
  <object name="HChainDAO" type="Orange.Base.Engine.DAO.HChainDAO, Orange.Base.Engine.DAO" />
  <object name="HClientDAO" type="Orange.Base.Engine.DAO.HClientDAO, Orange.Base.Engine.DAO" />
  <object name="HCustomerDAO" type="Orange.Base.Engine.DAO.HCustomerDAO, Orange.Base.Engine.DAO" />
  <object name="HPriceListDAO" type="Orange.Base.Engine.DAO.HPriceListDAO, Orange.Base.Engine.DAO" />
  <object name="HUserDAO" type="Orange.Base.Engine.DAO.HUserDAO, Orange.Base.Engine.DAO" />
  <object name="HSalesDriveDAO" type="Orange.Base.Engine.DAO.HSalesDriveDAO, Orange.Base.Engine.DAO" />
  <object name="HDocumentTypeDAO" type="Orange.Base.Engine.DAO.HDocumentTypeDAO, Orange.Base.Engine.DAO" />
  <object name="HUnitOfMeasureDAO" type="Orange.Base.Engine.DAO.HUnitOfMeasureDAO, Orange.Base.Engine.DAO" />
  <object name="HProductivityCounterTypeDAO" type="Orange.Base.Engine.DAO.HProductivityCounterTypeDAO, Orange.Base.Engine.DAO" />
  <!-- end DAOs -->
  <!-- SERVICEs -->
  <object name="DefaultValuesService" type="Orange.Base.Engine.Service.DefaultValuesService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="ChainDAO" value-ref="HChainDAO" />
        <entry key="StoreDAO" value-ref="HStoreDAO" />
        <entry key="CustomerDAO" value-ref="HCustomerDAO" />
        <entry key="UserDAO" value-ref="HUserDAO" />
      </dictionary>
    </property>
    <property name="DefaultValuesCodeMap">
      <dictionary key-type="string" value-type="object">
        <entry key="Store" value="#{StoreCode}" />
        <entry key="Chain" value="#{ChainCode}" />
        <entry key="Customer" value="1" />
        <entry key="User" value="1" />
      </dictionary>
    </property>
  </object>
  <object name="PromotionService" type="Orange.Base.Engine.Service.PromotionService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="PromotionDAO" value-ref="HPromotionDAO" />
        <entry key="FidelityDAO" value-ref="WSFidelityDAO" />
        <entry key="ServerDocumentDAO" value-ref="WSDocumentDAO" />
        <entry key="SalesDriveDAO" value-ref="HSalesDriveDAO" />
      </dictionary>
    </property>
  </object>
  <object name="ItemService" type="Orange.Base.Engine.Service.ItemService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="ItemDAO" value-ref="HItemDAO" />
        <entry key="SalePriceDAO" value-ref="HSalePriceDAO" />
        <entry key="UnitOfMeasureDAO" value-ref="HUnitOfMeasureDAO" />
      </dictionary>
    </property>
    <property name="HasExtendedEANforBatch" value="false" />
    <property name="EAN2RegExpression" value="^2{1}[0-9]{1}\d{11}$" />
    <property name="EAN2CodeLen" value="#{EAN2CodeLen}" />
    <!--<property name="ValidateEANItem" value="false"/>-->
    <!--<property name="IgnoreSupplierCode" value="false"/>-->
    <property name="FarmacodeTranslate" value="false" />
    <property name="StockServiceUrl" value="http://#{ServerAddress}/OrangeBox/api/custom/" />
  </object>
  <object name="PaymentService" type="Orange.Base.Engine.Service.PaymentService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="PaymentTypeDAO" value-ref="HPaymentTypeDAO" />
        <entry key="PaymentDAO" value-ref="HPaymentDAO" />
        <entry key="CurrencyDAO" value-ref="HCurrencyDAO" />
      </dictionary>
    </property>
  </object>
  <!--<object name="StoreService" type="Orange.Base.Engine.Service.StoreService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="StoreDAO" value-ref="HStoreDAO" />
      </dictionary>
    </property>
  </object>-->
  <object name="CustomerService" type="Orange.Base.Engine.Service.CustomerService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="CustomerDAO" value-ref="HCustomerDAO" />
        <entry key="FidelityDAO" value-ref="WSFidelityDAO" />
      </dictionary>
    </property>
  </object>
  <object name="PriceListService" type="Orange.Base.Engine.Service.PriceListService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="PriceListDAO" value-ref="HPriceListDAO" />
      </dictionary>
    </property>
  </object>
  <object name="DocumentService" type="Orange.Base.Engine.Service.DocumentService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="DocumentTypeDAO" value-ref="HDocumentTypeDAO" />
        <entry key="ServerDocumentDAO" value-ref="WSDocumentDAO" />
        <entry key="LocalDocumentDAO" value-ref="FSDocumentDAO" />
        <entry key="LocalSuspendDocumentDAO" value-ref="FSSuspendDocumentDAO" />
        <entry key="SuspendedErrorDAO" value-ref="ErrorSuspendedDocumentShipper" />
        <entry key="SuspendedDAO" value-ref="SuspendedDocumentShipper" />
        <entry key="ProductivityCounterTypeDAO" value-ref="HProductivityCounterTypeDAO" />
      </dictionary>
    </property>
  </object>
  <object name="UserService" type="Orange.Base.Engine.Service.UserService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="UserDAO" value-ref="HUserDAO" />
      </dictionary>
    </property>
  </object>
  <object name="CounterService" type="Orange.Base.Engine.Service.CounterService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="UpperDocument" value-ref="FSCounterDAO" />
        <entry key="Suspended" value-ref="FSCounterDAO" />
        <entry key="None" value-ref="FSCounterDAO" />
        <entry key="OperatorCashDeposit" value-ref="FSCounterDAO" />
        <entry key="OperatorCashDrawing" value-ref="FSCounterDAO" />
        <entry key="OperatorCashDeclare" value-ref="FSCounterDAO" />
        <entry key="Aborted" value-ref="FSCounterDAO" />
        <entry key="FiscalReceipt" value-ref="WSDocumentCounterDAO" />
        <entry key="Coupon" value-ref="IdentityCounterDAO" />
        <entry key="SaleEstimate" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleOrder" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleAssign" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleDeliveryNote" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleRefundDeliveryNote" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleInvoiceReferred" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleRefundInvoiceReferred" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleInvoice" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleRefundInvoice" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleOther" value-ref="WSDocumentCounterDAO" />
        <entry key="SaleInvoiceReferredReceipt" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseEstimate" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseProposal" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseOrder" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseDeliveryNote" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseRefundDeliveryNote" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseInvoiceReferred" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseRefundInvoiceReferred" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseRefundInvoice" value-ref="WSDocumentCounterDAO" />
        <entry key="PurchaseOther" value-ref="WSDocumentCounterDAO" />
        <entry key="StockInventory" value-ref="WSDocumentCounterDAO" />
        <entry key="StockDepreciateValue" value-ref="WSDocumentCounterDAO" />
        <entry key="StockGenericChange" value-ref="WSDocumentCounterDAO" />
        <entry key="StockItemTrasformation" value-ref="WSDocumentCounterDAO" />
        <entry key="OperatorCashInitialize" value-ref="FSCounterDAO" />
        <entry key="CustomerCashDeposit" value-ref="FSCounterDAO" />
        <entry key="CustomerCashDrawing" value-ref="FSCounterDAO" />
        <entry key="OperatorCashInvoicesPayment" value-ref="FSCounterDAO" />
        <entry key="OperatorCashCustomerDeposit" value-ref="FSCounterDAO" />
        <entry key="OperatorCashExclusiveDrawing" value-ref="FSCounterDAO" />
        <entry key="OperatorCashOtherDrawing" value-ref="FSCounterDAO" />
        <entry key="StockTransfertDeliveryNote" value-ref="WSDocumentCounterDAO" />
        <entry key="ArgenteaPayment" value-ref="FSCounterDAO" />
        <entry key="EftPosReceipt" value-ref="FSCounterDAO" />
        <entry key="TspPinDispatching" value-ref="FSCounterDAO" />
        <entry key="ArgenteaPINDispatching" value-ref="FSCounterDAO" />
        <entry key="BuonoChiaroProgressiveNumber" value-ref="FSCounterDAO" />
        <entry key="BuonoChiaroReceiptNumber" value-ref="FSCounterDAO" />
        <entry key="ADGProgressiveNumber" value-ref="FSCounterDAO" />
        <entry key="Advance" value-ref="WSDocumentCounterDAO" />
        <entry key="Ticket" value-ref="FSCounterDAO" />
        <entry key="RestForAdvance" value-ref="FSCounterDAO" />
        <!--<entry key="SSCOTransactionId" value-ref="FSCounterDAO" />-->
        <entry key="FiscalTotals" value-ref="FSCounterDAO" />
        <entry key="PremiumDetails" value-ref="FSCounterDAO" />
        <entry key="DeliverySaleOrder" value-ref="WSDocumentCounterDAO" />
        <entry key="AMoneyProgressiveNumber" value-ref="FSCounterDAO" />
        <entry key="AMoneyReceiptNumber" value-ref="FSCounterDAO" />
        <entry key="PromoShopProgressiveNumber" value-ref="FSCounterDAO" />
        <entry key="Receipt" value-ref="FSCounterDAO" />
        <entry key="BuonoPastoElettronicoNumber" value-ref="FSCounterDAO" />
      </dictionary>
    </property>
  </object>
  <object name="ClientService" type="Orange.Base.Engine.Service.ClientService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="ClientDAO" value-ref="HClientDAO" />
      </dictionary>
    </property>
  </object>
  <object name="ValidatorService" type="Orange.Base.Engine.Service.ValidatorService, Orange.Base.Engine.Service">
    <property name="ImplicitComma" value="true" />
  </object>
  <object name="LogService" type="Orange.Base.Engine.Service.LogService, Orange.Base.Engine.Service" />
  <object name="DayTurnDrawerService" type="Orange.Base.Engine.Service.DayTurnDrawerService, Orange.Base.Engine.Service">
    <constructor-arg name="dtdShipper" ref="DayTurnDrawerShipper" />
    <constructor-arg name="appState" ref="ApplicationState" />
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="Local" value-ref="FSDayTurnDrawerDAO" />
        <entry key="Server" value-ref="WSDayTurnDrawerDAO" />
      </dictionary>
    </property>
  </object>
  <object name="DocumentReportService" type="Orange.Base.Engine.Service.DocumentReportService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="DocumentReportDAO" value-ref="WSDocumentReportDAO" />
      </dictionary>
    </property>
  </object>
  <object name="SynchronizerService" type="Orange.Base.Engine.Service.SynchronizerService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="SyncronizerDAO" value-ref="WSSynchronizerDAO" />
        <entry key="SyncAdminDAO" value-ref="WSSyncAdminDAO" />
      </dictionary>
    </property>
  </object>
  <object name="DayTurnDrawerReportService" type="Orange.Base.Engine.Service.DayTurnDrawerReportService, Orange.Base.Engine.Service">
    <property name="DaoTable">
      <dictionary key-type="string" value-type="Orange.Core.Engine.DAO.IDAO, Orange.Core">
        <entry key="ReportDAO" value-ref="WSDayTurnDrawerReportDAO" />
      </dictionary>
    </property>
  </object>
  <object name="WSDayTurnDrawerReportDAO" type="Orange.Base.Engine.DAO.WSDayTurnDrawerReportDAO, Orange.Base.Engine.DAO">
    <property name="ConnectionObject" ref="DayTurnDrawer" />
    <property name="HasToLoad" value="#{UserCentralizeManagement}" />
  </object>
  <!-- end SERVICEs -->
</objects>