<report>
  <row align="center" style="normal" size="doubleheight">
    <text style="normal" size="normal">STAMPA CEDOLINO SOSPESO</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> Negozio........................... $storeCode</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> Postazione........................ $workstationCode</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> Progressivo....................... $progressive</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> Data sospens............... $businessdate.ToString('dd/MM/yyyy')</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> Totale .................... $amount.ToString('0.00').PadLeft(10)</text>
  </row>

  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row>
    <barcode position="25" width="2" height="100" hri="down" hrifont="font0" codetype="CODE39">$barCode</barcode>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
</report>
