<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <store>MARTINELLI</store> <!--MARTINELLI | VISOTTO-->
    <credentials>
        <user>Orange</user> <!-- nome utente postazione cassa-->
        <password>manager</password> <!-- password postazione cassa-->
    </credentials>
    <SQLServer>
        <instance>.\sqlexpress</instance> <!-- nome istanza SQL Server Orange-->
        <user>sa</user> <!-- nome utente sql server-->
        <password>SqlAdmin</password> <!-- password sql server-->
    </SQLServer>
    <Logger>
        <lever>SilentlyContinue</lever> <!-- livello di dettaglio log-->
    </Logger>
    <BuonoChiaro>
        <IpAddress>https://193.85.236.92:11193/DBPosHandler</IpAddress>
    </BuonoChiaro>
    <RTONE>
        <Mode>RT</Mode>
    </RTONE>
</settings>
