<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Rapporto IVA per reparto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="$styleSheet">
  </head>
  <body>
    <table>
      <tr>
        <td width="365" height="40" class="tit">Rapporto IVA per reparto</td>
      </tr>
      <tr class="odd">
        <td height="20" class="tit2" colspan="2">Periodo rapporto: $dataDal.ToString('dd/MM/yyyy') - $dataAl.ToString('dd/MM/yyyy')</td>
      </tr>
      <tr class="odd">
        <td colspan="2">#if ($chainCode) Catena: $chainCode - $chainDescription #end</td>
      </tr>
      <tr class="odd">
        <td colspan="2">#if ($store.Code) Negozio: $store.Code - $store.Description #end</td>
      </tr>
      <tr  class="odd">
        <td colspan="2">Data Report: $data.ToString('dd/MM/yyyy')</td>
      </tr>
    </table>
    #set($GlobalTotalGrossAmount = 0)
	#set($GlobalTotalCalculatedTaxAmount = 0)
    #foreach($detail in $list)
      <table class="1">
        <tr class="odd1">
          <td height="20"></td>
        </tr>
      </table>
      <table>
        <tr>
          #if($detail.WorkstationCode && $detail.WorkstationCode != "")
            <td width="365" height="30" class="tit3">Postazione: $detail.WorkstationCode - $detail.WorkstationDescription</td>
          #end
          #if($detail.UserCode && $detail.UserCode != "")
            <td width="365" height="30" class="tit3">Operatore: $detail.UserCode - $detail.UserDescription</td>
          #end
        </tr>
      </table>

      #set($TotalGrossAmount = 0)
      #set($TotalCalculatedTaxAmount = 0)
	  #set($TotalDepGrossAmount = 0)
      #set($TotalDepCalculatedTaxAmount = 0)
	  #set($depH = "")
	  #set($depDesc = "")
      
      #foreach($iva in $detail.Details)
		#if($depH == "" || $depH != $iva.DepartmentHierarchy)
			
		  ## se stampare il totale per reparto
		  #if($depH != "")
			#if($depH != $iva.DepartmentHierarchy)
			  <tr  class="Pag2">
			    <td align="right" colspan="2">TOTALE REPARTO:</td>
				<td align="right">&euro; $TotalDepGrossAmount.ToString('0.00')</td>
				<td>&nbsp</td>
				<td align="right">&euro; $TotalDepCalculatedTaxAmount.ToString('0.00') </td>
			  </tr>
				
			  ##......... chiusura della tabella aperta più sotto
			  </table>

			  <table class="1">
				<tr class="odd1">
				  <td height="10"></td>
				</tr>
			  </table>

			  #set($TotalDepGrossAmount = 0)
			  #set($TotalDepCalculatedTaxAmount = 0)
			#end
		  #end

		## apre con un nuovo reparto
		<table>
		  <tr class="odd">
			<th align="left" rowspan="1" colspan="9">$iva.DepartmentHierarchy: $iva.DepartmentHierarchyDescription</th>
		  </tr>

		  <tr class="odd">
			<th width="90">Codice</th>
			<th width="90">Descrizione</th>
			<th width="90">Lordo</th>
			<th width="40">%</th>
			<th width="90">Imposta</th>
		  </tr>

		  #set($depH = $iva.DepartmentHierarchy)
		#end

          <tr class="Pag">
            #set($GrossAmount = $iva.TaxableAmount + $iva.Amount)
            #set($CalculatedTaxAmount = ($GrossAmount / (100+$iva.Percentage)) * $iva.Percentage)	
		    #set($resto=($CalculatedTaxAmount*1000)%10)
		    #if($resto>=5)
			  #set($CalculatedTaxAmount=(($CalculatedTaxAmount*1000)-$resto+10)/1000)
		    #else
			  #set($CalculatedTaxAmount=(($CalculatedTaxAmount*1000)-$resto)/1000)
		    #end
            <td align="left">$iva.Code</td>
            <td align="left">$iva.Description</td>
            <td align="right">&euro; $GrossAmount.ToString('0.00')</td>
            <td align="right">$iva.Percentage.ToString('0.##')</td>
            <td align="right">&euro; $CalculatedTaxAmount.ToString('0.00')</td>
          </tr>

          #set($TotalGrossAmount = $TotalGrossAmount + $GrossAmount)
		  #set($TotalCalculatedTaxAmount = $TotalCalculatedTaxAmount + $CalculatedTaxAmount)

		  #set($TotalDepGrossAmount = $TotalDepGrossAmount + $GrossAmount)
		  #set($TotalDepCalculatedTaxAmount = $TotalDepCalculatedTaxAmount + $CalculatedTaxAmount)
        #end        
      
		## non c'è niente da stampare, lista vuota
		#if($depH == "")		
		<table>
		  <tr class="Pag2">
			<td align="right" colspan="2">TOTALE REPARTO:</td>
			<td align="right">&euro; $TotalDepGrossAmount.ToString('0.00')</td>
			<td >&nbsp</td>
			<td align="right">&euro; $TotalDepCalculatedTaxAmount.ToString('0.00')</td>
		  </tr>			  
		</table>
		#else
          ## ultimo totale per reparto
		  <tr class="Pag2">
			<td align="right" colspan="2">TOTALE REPARTO:</td>
			<td align="right">&euro; $TotalDepGrossAmount.ToString('0.00')</td>
			<td >&nbsp</td>
			<td align="right">&euro; $TotalDepCalculatedTaxAmount.ToString('0.00')</td>
		  </tr>
		  ## chiude la table dell'ultimo reparto aperta precedentemente
		</table>
		#end
		
      #set($GlobalTotalGrossAmount = $GlobalTotalGrossAmount + $TotalGrossAmount)
      #set($GlobalTotalCalculatedTaxAmount = $GlobalTotalCalculatedTaxAmount + $TotalCalculatedTaxAmount)
	  #set($depH = "")

	  <table class="1">
        <tr class="odd1">
          <td height="10"></td>
        </tr>
      </table>
    #end
    <table>
      <tr>
	    <td align="right" colspan="2">TOTALE COMPLESSIVO:</td>
		<td align="right">&euro; $GlobalTotalGrossAmount.ToString('0.00')</td>
		<td>&nbsp</td>
		<td align="right">&euro; $GlobalTotalCalculatedTaxAmount.ToString('0.00')</td>
	  </tr>
	</table>
    <table class="1">
      <tr class="odd2">
        <td>2M Servizi srl</td>
      </tr>
    </table>
  </body>
</html>