<objects xmlns="http://www.springframework.net">
  <object id="myTypeAlias" type="Spring.Objects.Factory.Config.TypeAliasConfigurer, Spring.Core">
    <property name="TypeAliases">
      <dictionary>
        <entry key="And" value="Orange.Core.Data.Promotion.Formulas.And, Orange.Core.Data.Promotion"/>
        <entry key="Eq" value="Orange.Core.Data.Promotion.Formulas.Eq, Orange.Core.Data.Promotion"/>
        <entry key="GET" value="Orange.Core.Data.Promotion.Formulas.GET, Orange.Core.Data.Promotion"/>
        <entry key="GT" value="Orange.Core.Data.Promotion.Formulas.GT, Orange.Core.Data.Promotion"/>
        <entry key="Identity" value="Orange.Core.Data.Promotion.Formulas.Identity, Orange.Core.Data.Promotion"/>
        <entry key="LET" value="Orange.Core.Data.Promotion.Formulas.LET, Orange.Core.Data.Promotion"/>
        <entry key="LT" value="Orange.Core.Data.Promotion.Formulas.LT, Orange.Core.Data.Promotion"/>
        <entry key="Not" value="Orange.Core.Data.Promotion.Formulas.Not, Orange.Core.Data.Promotion"/>
        <entry key="Or" value="Orange.Core.Data.Promotion.Formulas.Or, Orange.Core.Data.Promotion"/>
        <entry key="Add" value="Orange.Core.Data.Promotion.Formulas.Add, Orange.Core.Data.Promotion"/>
        <entry key="Divide" value="Orange.Core.Data.Promotion.Formulas.Divide, Orange.Core.Data.Promotion"/>
        <entry key="If" value="Orange.Core.Data.Promotion.Formulas.If, Orange.Core.Data.Promotion"/>
        <entry key="MaxAnd" value="Orange.Core.Data.Promotion.Formulas.MaxAnd, Orange.Core.Data.Promotion"/>
        <entry key="MinOr" value="Orange.Core.Data.Promotion.Formulas.MinOr, Orange.Core.Data.Promotion"/>
        <entry key="Multiply" value="Orange.Core.Data.Promotion.Formulas.Multiply, Orange.Core.Data.Promotion"/>
        <entry key="Negate" value="Orange.Core.Data.Promotion.Formulas.Negate, Orange.Core.Data.Promotion"/>
        <entry key="Subtract" value="Orange.Core.Data.Promotion.Formulas.Subtract, Orange.Core.Data.Promotion"/>
        
        <entry key="ValueTrigger" value="Orange.Core.Data.Promotion.ValueTriggers.ValueTrigger, Orange.Core.Data.Promotion"/>
        <entry key="AddDecimalValueTrigger" value="Orange.Core.Data.Promotion.ValueTriggers.AddDecimalValueTrigger, Orange.Core.Data.Promotion"/>
        <entry key="DictionaryValueTrigger" value="Orange.Core.Data.Promotion.ValueTriggers.DictionaryValueTrigger, Orange.Core.Data.Promotion"/>
        <entry key="ListValueTrigger" value="Orange.Core.Data.Promotion.ValueTriggers.ListValueTrigger, Orange.Core.Data.Promotion"/>
        <entry key="MaxDecimalValueTrigger" value="Orange.Core.Data.Promotion.ValueTriggers.MaxDecimalValueTrigger, Orange.Core.Data.Promotion"/>
        <entry key="MinDecimalValueTrigger" value="Orange.Core.Data.Promotion.ValueTriggers.MinDecimalValueTrigger, Orange.Core.Data.Promotion"/>
        <entry key="MinusValueTrigger" value="Orange.Core.Data.Promotion.ValueTriggers.MinusValueTrigger, Orange.Core.Data.Promotion"/>

        <entry key="GenericDictionary" value="System.Collections.Generic.Dictionary&lt;,>" />
        <entry key="GenericList" value="System.Collections.Generic.IList&lt;>" />
        <entry key="ResourceFactory" value="Orange.Core.Engine.Factories.ResourceFactory, Orange.Core"/>
        <entry key="IRequester" value="Orange.Core.Engine.IRequester, Orange.Core" />
        <entry key="MappedCommand" value="Orange.Core.Device.Input.MappedCommand, Orange.Core" />
      </dictionary>
    </property>
  </object>
</objects>