<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="UpdateDir" value="C:\Orange\ClientPackages\"/>
        <add key="BackupDir" value="C:\Orange\Backup\"/>
        <add key="Timeout" value="6000"/>
        <add key="DispatchDir" value="C:\Orange\Documents\ServiceDispatch\"/>
    </appSettings>
</configuration>