<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">
	<!-- Lista form pannelli (serve per far si che vengano chiusi al cambio di form) -->
	<object id="ExtraPanelList" type="System.Collections.Generic.List&lt;System.Windows.Forms.Form>">
		<constructor-arg name="collection">
			<list element-type="System.Windows.Forms.Form">
				<ref object="PannelloEsterno_001"/>
			</list>
		</constructor-arg>
	</object>
	<!-- Definizione ExtraPanel "PannelloEsterno" -->
	<object name="PannelloEsterno_001" type="Orange.Base.Engine.GUI.Containers.FormStandard, Orange.Base.Engine" singleton="true">
		<property name="Name" value="PannelloEsterno_001"/>
		<property name="Height" value="410"/>
		<property name="Width" value="310"/>
		<property name="Top" value="109"/>
		<property name="Left" value="417"/>
		<property name="BackColor" value="Pink"/>
		<property name="TransparencyKey" value="Pink"/>
		<property name="BackgroundImagePath" value="GUIExtraPanel\Panel.png"/>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="Controls">
			<list>
				<object name="ExtraPanel_001" type="Orange.Base.Engine.GUI.Containers.ExtraPanelContainer, Orange.Base.Engine" singleton="true">
					<property name="Title" value="Altri reparti"/>
					<property name="FileButtonsCollection" value="GUIExtraPanel\Data\ExtraPanel_001.xml"/>
					<property name="AutoClose" value="true"/>
					<property name="ButtonSkin" ref="BaseButton100x50normale"/>
					<property name="ButtonSkinBlank" ref="BaseButton100x50blank"/>
					<property name="ButtonFont" ref="DefaultFont12bold"/>
					<property name="LabelPageNumberFormat" value="{0}/{1}"/>
					<property name="ButtonsContainerPanelName" value="ExtraPanel_ButtonsContainer"/>
					<property name="ButtonPrevPageName" value="ExtraPanel_PrevPage"/>
					<property name="ButtonNextPageName" value="ExtraPanel_NextPage"/>
					<property name="LabelPageNumberName" value="ExtraPanel_PageNumber"/>
					<property name="ControlTitleName" value="ExtraPanel_Title"/>
					<property name="ButtonCloseName" value="ExtraPanel_Close"/>
					<property name="Height" value="400"/>
					<property name="Width" value="300"/>
					<property name="Top" value="5"/>
					<property name="Left" value="5"/>
					<property name="BackColor" value="Transparent"/>
					<property name="BackColorRGB" value="61;67;99"/>
					<property name="Controls">
						<list>
							<object name="ExtraPanel_Title" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_Title"/>
								<property name="Top" value="0"/>
								<property name="Left" value="0"/>
								<property name="Width" value="100"/>
								<property name="Font" ref="DefaultFont12bold"/>
								<property name="DisabledPath" value="GUIRes\display\98x48.png"/>
								<property name="EnabledPath" value="GUIRes\display\98x48.png"/>
								<property name="FocusedPath" value="GUIRes\display\98x48.png"/>
								<property name="PushedPath" value="GUIRes\display\98x48.png"/>
							</object>
							<object name="ExtraPanel_PrevPage" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_PrevPage"/>
								<property name="Top" value="0"/>
								<property name="Left" value="150"/>
								<property name="DisabledPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Focused.png"/>
								<property name="PushedPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Pushed.png"/>
								<property name="Enabled" value="True"/>
								<property name="Commands">
									<list element-type="string">
										<value>ShowPrevPage()[func][gui]</value>
									</list>
								</property>
							</object>
							<object name="ExtraPanel_PageNumber" type="System.Windows.Forms.Label, System.Windows.Forms" singleton="false">
								<property name="Name" value="ExtraPanel_PageNumber"/>
								<property name="Top" value="0"/>
								<property name="Left" value="200"/>
								<property name="Height" value="50"/>
								<property name="Width" value="50"/>
								<property name="TextAlign" value="MiddleCenter"/>
								<property name="ForeColor" value="White"/>
								<property name="Font">
									<object type="System.Drawing.Font, System.Drawing" singleton="false">
										<constructor-arg name="familyName" type="string" value="Arial Rounded MT Bold"/>
										<constructor-arg name="emSize" type="float" value="14"/>
										<constructor-arg name="style" value="Regular"/>
										<constructor-arg name="unit" value="Pixel"/>
									</object>
								</property>
							</object>
							<object name="ExtraPanel_NextPage" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_NextPage"/>
								<property name="Top" value="0"/>
								<property name="Left" value="250"/>
								<property name="DisabledPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Focused.png"/>
								<property name="PushedPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Pushed.png"/>
								<property name="Enabled" value="True"/>
								<property name="Commands">
									<list element-type="string">
										<value>ShowNextPage()[func][gui]</value>
									</list>
								</property>
							</object>
							<object name="ExtraPanel_Close" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_Close"/>
								<property name="Top" value="0"/>
								<property name="Left" value="100"/>
								<property name="DisabledPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Enabled.png"/>
								<property name="PushedPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Pushed.png"/>
							</object>
							<object name="ExtraPanel_ButtonsContainer" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
								<property name="Name" value="ExtraPanel_ButtonsContainer"/>
								<property name="Height" value="350"/>
								<property name="Width" value="300"/>
								<property name="Top" value="50"/>
								<property name="Left" value="0"/>
								<property name="FlowDirection" value="LeftToRight"/>
								<property name="BackColor" value="Transparent"/>
							</object>
						</list>
					</property>
				</object>
			</list>
		</property>
	</object>
	<object name="PannelloEsterno_002" type="Orange.Base.Engine.GUI.Containers.FormStandard, Orange.Base.Engine" singleton="true">
		<property name="Name" value="PannelloEsterno_002"/>
		<property name="Height" value="410"/>
		<property name="Width" value="310"/>
		<property name="Top" value="109"/>
		<property name="Left" value="417"/>
		<property name="BackColor" value="Pink"/>
		<property name="TransparencyKey" value="Pink"/>
		<property name="BackgroundImagePath" value="GUIExtraPanel\Panel.png"/>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="Controls">
			<list>
				<object name="ExtraPanel_002" type="Orange.Base.Engine.GUI.Containers.ExtraPanelContainer, Orange.Base.Engine" singleton="true">
					<property name="Title" value="Altre valute"/>
					<property name="FileButtonsCollection" value="GUIExtraPanel\Data\ExtraPanel_002.xml"/>
					<property name="AutoClose" value="true"/>
					<property name="ButtonSkin" ref="BaseButton100x50normale"/>
					<property name="ButtonSkinBlank" ref="BaseButton100x50blank"/>
					<property name="ButtonFont" ref="DefaultFont12bold"/>
					<property name="LabelPageNumberFormat" value="{0}/{1}"/>
					<property name="ButtonsContainerPanelName" value="ExtraPanel_ButtonsContainer"/>
					<property name="ButtonPrevPageName" value="ExtraPanel_PrevPage"/>
					<property name="ButtonNextPageName" value="ExtraPanel_NextPage"/>
					<property name="LabelPageNumberName" value="ExtraPanel_PageNumber"/>
					<property name="ControlTitleName" value="ExtraPanel_Title"/>
					<property name="ButtonCloseName" value="ExtraPanel_Close"/>
					<property name="Height" value="400"/>
					<property name="Width" value="300"/>
					<property name="Top" value="5"/>
					<property name="Left" value="5"/>
					<property name="BackColor" value="Transparent"/>
					<property name="BackColorRGB" value="61;67;99"/>
					<property name="Controls">
						<list>
							<object name="ExtraPanel_Title" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_Title"/>
								<property name="Top" value="0"/>
								<property name="Left" value="0"/>
								<property name="Width" value="100"/>
								<property name="Font" ref="DefaultFont12bold"/>
								<property name="DisabledPath" value="GUIRes\display\98x48.png"/>
								<property name="EnabledPath" value="GUIRes\display\98x48.png"/>
								<property name="FocusedPath" value="GUIRes\display\98x48.png"/>
								<property name="PushedPath" value="GUIRes\display\98x48.png"/>
							</object>
							<object name="ExtraPanel_PrevPage" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_PrevPage"/>
								<property name="Top" value="0"/>
								<property name="Left" value="150"/>
								<property name="DisabledPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Focused.png"/>
								<property name="PushedPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Pushed.png"/>
								<property name="Enabled" value="True"/>
								<property name="Commands">
									<list element-type="string">
										<value>ShowPrevPage()[func][gui]</value>
									</list>
								</property>
							</object>
							<object name="ExtraPanel_PageNumber" type="System.Windows.Forms.Label, System.Windows.Forms" singleton="false">
								<property name="Name" value="ExtraPanel_PageNumber"/>
								<property name="Top" value="0"/>
								<property name="Left" value="200"/>
								<property name="Height" value="50"/>
								<property name="Width" value="50"/>
								<property name="TextAlign" value="MiddleCenter"/>
								<property name="ForeColor" value="White"/>
								<property name="Font">
									<object type="System.Drawing.Font, System.Drawing" singleton="false">
										<constructor-arg name="familyName" type="string" value="Arial Rounded MT Bold"/>
										<constructor-arg name="emSize" type="float" value="14"/>
										<constructor-arg name="style" value="Regular"/>
										<constructor-arg name="unit" value="Pixel"/>
									</object>
								</property>
							</object>
							<object name="ExtraPanel_NextPage" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_NextPage"/>
								<property name="Top" value="0"/>
								<property name="Left" value="250"/>
								<property name="DisabledPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Focused.png"/>
								<property name="PushedPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Pushed.png"/>
								<property name="Enabled" value="True"/>
								<property name="Commands">
									<list element-type="string">
										<value>ShowNextPage()[func][gui]</value>
									</list>
								</property>
							</object>
							<object name="ExtraPanel_Close" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_Close"/>
								<property name="Top" value="0"/>
								<property name="Left" value="100"/>
								<property name="DisabledPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Enabled.png"/>
								<property name="PushedPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Pushed.png"/>
							</object>
							<object name="ExtraPanel_ButtonsContainer" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
								<property name="Name" value="ExtraPanel_ButtonsContainer"/>
								<property name="Height" value="350"/>
								<property name="Width" value="300"/>
								<property name="Top" value="50"/>
								<property name="Left" value="0"/>
								<property name="FlowDirection" value="LeftToRight"/>
								<property name="BackColor" value="Transparent"/>
							</object>
						</list>
					</property>
				</object>
			</list>
		</property>
	</object>
	<object name="PannelloEsterno_AltriPagamenti" type="Orange.Base.Engine.GUI.Containers.FormStandard, Orange.Base.Engine" singleton="true">
		<property name="Name" value="PannelloEsterno_AltriPagamenti"/>
		<property name="Height" value="410"/>
		<property name="Width" value="310"/>
		<property name="Top" value="109"/>
		<property name="Left" value="417"/>
		<property name="BackColor" value="Pink"/>
		<property name="TransparencyKey" value="Pink"/>
		<property name="BackgroundImagePath" value="GUIExtraPanel\Panel.png"/>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="Controls">
			<list>
				<object name="ExtraPanel_003" type="Orange.Base.Engine.GUI.Containers.ExtraPanelContainer, Orange.Base.Engine" singleton="true">
					<property name="Title" value="ALTRI PAGAMENTI"/>
					<property name="FileButtonsCollection" value="GUIExtraPanel\Data\ExtraPanel_AltriPagamenti.xml"/>
					<property name="AutoClose" value="true"/>
					<property name="ButtonSkin" ref="BaseButton100x50normale"/>
					<property name="ButtonSkinBlank" ref="BaseButton100x50blank"/>
					<property name="ButtonFont" ref="DefaultFont12bold"/>
					<property name="LabelPageNumberFormat" value="{0}/{1}"/>
					<property name="ButtonsContainerPanelName" value="ExtraPanel_ButtonsContainer"/>
					<property name="ButtonPrevPageName" value="ExtraPanel_PrevPage"/>
					<property name="ButtonNextPageName" value="ExtraPanel_NextPage"/>
					<property name="LabelPageNumberName" value="ExtraPanel_PageNumber"/>
					<property name="ControlTitleName" value="ExtraPanel_Title"/>
					<property name="ButtonCloseName" value="ExtraPanel_Close"/>
					<property name="Height" value="400"/>
					<property name="Width" value="300"/>
					<property name="Top" value="5"/>
					<property name="Left" value="5"/>
					<property name="BackColor" value="Transparent"/>
					<property name="BackColorRGB" value="61;67;99"/>
					<property name="Controls">
						<list>
							<object name="ExtraPanel_Title" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_Title"/>
								<property name="Top" value="0"/>
								<property name="Left" value="0"/>
								<property name="Width" value="100"/>
								<property name="Font" ref="DefaultFont12bold"/>
								<property name="DisabledPath" value="GUIRes\display\98x48.png"/>
								<property name="EnabledPath" value="GUIRes\display\98x48.png"/>
								<property name="FocusedPath" value="GUIRes\display\98x48.png"/>
								<property name="PushedPath" value="GUIRes\display\98x48.png"/>
							</object>
							<object name="ExtraPanel_PrevPage" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_PrevPage"/>
								<property name="Top" value="0"/>
								<property name="Left" value="150"/>
								<property name="DisabledPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Focused.png"/>
								<property name="PushedPath" value="GUIExtraPanel\NavigationButton\Left\48x48\Pushed.png"/>
								<property name="Enabled" value="True"/>
								<property name="Commands">
									<list element-type="string">
										<value>ShowPrevPage()[func][gui]</value>
									</list>
								</property>
							</object>
							<object name="ExtraPanel_PageNumber" type="System.Windows.Forms.Label, System.Windows.Forms" singleton="false">
								<property name="Name" value="ExtraPanel_PageNumber"/>
								<property name="Top" value="0"/>
								<property name="Left" value="200"/>
								<property name="Height" value="50"/>
								<property name="Width" value="50"/>
								<property name="TextAlign" value="MiddleCenter"/>
								<property name="ForeColor" value="White"/>
								<property name="Font">
									<object type="System.Drawing.Font, System.Drawing" singleton="false">
										<constructor-arg name="familyName" type="string" value="Arial Rounded MT Bold"/>
										<constructor-arg name="emSize" type="float" value="14"/>
										<constructor-arg name="style" value="Regular"/>
										<constructor-arg name="unit" value="Pixel"/>
									</object>
								</property>
							</object>
							<object name="ExtraPanel_NextPage" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_NextPage"/>
								<property name="Top" value="0"/>
								<property name="Left" value="250"/>
								<property name="DisabledPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Focused.png"/>
								<property name="PushedPath" value="GUIExtraPanel\NavigationButton\Right\48x48\Pushed.png"/>
								<property name="Enabled" value="True"/>
								<property name="Commands">
									<list element-type="string">
										<value>ShowNextPage()[func][gui]</value>
									</list>
								</property>
							</object>
							<object name="ExtraPanel_Close" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="BaseButton"/>
								<property name="Name" value="ExtraPanel_Close"/>
								<property name="Top" value="0"/>
								<property name="Left" value="100"/>
								<property name="DisabledPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Disabled.png"/>
								<property name="EnabledPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Enabled.png"/>
								<property name="FocusedPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Enabled.png"/>
								<property name="PushedPath" value="GUIExtraPanel\OpenCloseButton\Close\48x48\Pushed.png"/>
							</object>
							<object name="ExtraPanel_ButtonsContainer" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
								<property name="Name" value="ExtraPanel_ButtonsContainer"/>
								<property name="Height" value="350"/>
								<property name="Width" value="300"/>
								<property name="Top" value="50"/>
								<property name="Left" value="0"/>
								<property name="FlowDirection" value="LeftToRight"/>
								<property name="BackColor" value="Transparent"/>
							</object>
						</list>
					</property>
				</object>
			</list>
		</property>
	</object>
</objects>
