<report>
  <row align="center" style="normal" size="doubleheight">
    <text style="normal" size="normal">Rapporto Pagamenti</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Catena     : $chainCode.PadLeft(5) <![CDATA[$chainDescription.PadLeft(20)]]></text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Negozio    : $store.Code.PadLeft(5) <![CDATA[$store.Description.PadLeft(20)]]></text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Data rapp. : $data.ToString('dd/MM/yyyy').PadLeft(26)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>
  <row align="left" style="bold" size="normal">
    <text style="normal" size="normal">Periodo    :    $dataDal.ToString('dd/MM/yyyy') - $dataAl.ToString('dd/MM/yyyy')</text>
  </row>
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">_______________________________________</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>
  #foreach($detail in $list)
  #if($detail.WorkstationCode && $detail.WorkstationCode != "")
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Postazione : $detail.WorkstationCode.PadLeft(5) <![CDATA[$detail.WorkstationDescription.PadLeft(20)]]></text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>
  #elseif($detail.UserCode && $detail.UserCode != "")
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Operatore  : $detail.UserCode.PadLeft(5) <![CDATA[$detail.UserDescription.PadLeft(20)]]></text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>
  #end

  ## ---- Calcolo il complessivo di tutte le forme di pagamento
  #set($TotalPaymentAmount = 0)
  #set($TotalEmittedDocuments = 0)
  #set($TotalToRemove = 0)
  #foreach($Payment in $detail.Details)
  #if($Payment.Code && $Payment.Code != "")
  #if($Payment.Code=="100")
  #if($Payment.IsRest)
  #else
  #set($TotalToRemove = $TotalToRemove + $Payment.amount)
  #end
  #end
  #else
  #set($TotalPaymentAmount = $TotalPaymentAmount + $Payment.amount)
  #end
  ## --- set($TotalEmittedDocuments = $TotalEmittedDocuments + $Payment.NumberOfDocuments);
  #end

  #set($TotalPaymentAmount = $TotalPaymentAmount - $TotalToRemove)
  #set($TotalForRest = 0)
  #set($PagNettoCode = "")
  #set($PagNettoDesc = "")

  #foreach($Payment in $detail.Details)

  ## ----- Calcolo l'incidenza

  #set($gotRest=false)
  #if($Payment.Code && $Payment.Code != "")

  #set($PagNettoCode = $Payment.code)
  #set($PagNettoDesc = $Payment.description)
  #if($Payment.IsRest)
  #set($gotRest=true)

  ## --set($TotalPaymentAmount = $TotalPaymentAmount - $Payment.amount)
  #set($TotalPaymentRest = $TotalPaymentRest + $Payment.amount)
  #set($TotalToccateDocuments = $TotalToccateDocuments + $Payment.NumberOfDocuments)
  #set($TotalToccateDocs = $TotalToccateDocs + $Payment.NumberOfPayments)

  #set($TotalForRest = $TotalForRest - $Payment.amount )

  #else
  ## -- set($TotalPaymentAmount = $TotalPaymentAmount + $Payment.amount)
  #set($TotalBattutePayments = $TotalBattutePayments + $Payment.NumberOfPayments)
  #set($TotalGrossPaymentAmount = $TotalGrossPaymentAmount + $Payment.amount)

  #set($TotalForRest = $TotalForRest + $Payment.amount )
  #end
  #set($TotalEmittedDocuments = $TotalEmittedDocuments + $Payment.NumberOfDocuments);
  #end

  #if($Payment.Code && $Payment.Code != "")
  #set($PercentageIncidence = (100 * $Payment.amount) / $TotalPaymentAmount )
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>
  #if($Payment.IsRest)
  <row align="left" style="bold" size="normal">
    <text style="normal" size="normal">Pagamento: $Payment.code.PadRight(5) $Payment.description (Resto)</text>
  </row>
  #else
  <row align="left" style="bold" size="normal">
    <text style="normal" size="normal">Pagamento: $Payment.code.PadRight(5) $Payment.description</text>
  </row>
  #end
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Ammontare     : $Payment.amount.ToString('0.00').PadLeft(23)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Document emes.: $Payment.NumberOfDocuments.ToString().PadLeft(23)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Incidenza %   : $PercentageIncidence.ToString('0.00').PadLeft(21) %</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>

  #else
  <row align="left" style="bold" size="normal">
    <text style="normal" size="normal">Pagamento: $PagNettoCode.PadRight(5) $PagNettoDesc (Netto)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal">Ammontare Netto : $TotalForRest.ToString('0.00').PadLeft(21)</text>
  </row>
  #set($TotalForRest = 0)

  #end

  ##  ---  end del for each
  #end

  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">_______________________________________</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="left" style="bold" size="doubleheight">
    <text style="normal" size="normal">TOTALE COMPLESSIVO</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"></text>
  </row>
  <row align="left" style="bold" size="normal">
    <text style="normal" size="normal">Ammontare      : $TotalPaymentAmount.ToString('0.00').PadLeft(22)</text>
  </row>
  <row align="left" style="bold" size="normal">
    <text style="normal" size="normal">Documenti emes.: $TotalEmittedDocuments.ToString('0.00').PadLeft(22)</text>
  </row>
  <row align="left" style="normal" size="normal">
    <text style="normal" size="normal"> </text>
  </row>
  <row align="center" style="normal" size="normal">
    <text style="normal" size="normal">***************************************</text>
  </row>
  #end
</report>