<report>
<row align="center" style="normal" size="doubleheight"><text style="normal" size="normal">Rapporto per Fascia Oraria</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal">Catena     : $chainCode.PadLeft(5) <![CDATA[$chainDescription.PadLeft(20)]]></text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal">Negozio    : $store.Code.PadLeft(5) <![CDATA[$store.Description.PadLeft(20)]]></text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal">Data rapp. : $data.ToString('dd/MM/yyyy').PadLeft(26)</text></row>	
<row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>	
<row align="left" style="bold" size="normal"><text style="normal" size="normal">Periodo    :    $dataDal.ToString('dd/MM/yyyy') - $dataAl.ToString('dd/MM/yyyy')</text></row>	
<row align="center" style="normal" size="normal"><text style="normal" size="normal">_______________________________________</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>	
#foreach($detail in $list)
    #if($detail.WorkstationCode && $detail.WorkstationCode != "")
		<row align="left" style="normal" size="normal"><text style="normal" size="normal">Postazione : $detail.WorkstationCode.PadLeft(5) <![CDATA[$detail.WorkstationDescription.PadLeft(20)]]></text></row>
		<row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>	
    #elseif($detail.UserCode && $detail.UserCode != "")
		<row align="left" style="normal" size="normal"><text style="normal" size="normal">Operatore  : $detail.UserCode.PadLeft(5) <![CDATA[$detail.UserDescription.PadLeft(20)]]></text></row>
		<row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
  #end
  ## Calcolo il complessivo fiscale ed il totale dei documenti emessi
  #set($TotalFiscalAmount = 0)
  #set($TotalEmittedDocument = 0)
  #set($totalItemsCount = 0)
  #set($totalItemAdj = 0)
  #set($totalSubtotalAdj = 0)
  #foreach($totalTimeBand in $detail.Details)
  #set($TotalFiscalAmount = $TotalFiscalAmount + $totalTimeBand.FiscalAdjustedAmount)
  #set($TotalEmittedDocument = $TotalEmittedDocument + $totalTimeBand.EmittedDocuments)
  #set($totalItemsCount = $totalItemsCount + $totalTimeBand.ItemsCounter)
  #set($totalItemAdj = $totalItemAdj + $totalTimeBand.ItemAdjustedAmount)
  #set($totalSubtotalAdj = $totalSubtotalAdj + $totalTimeBand.SubtotalAdjustedAmount)
  #end
  #foreach($totalTimeBand in $detail.Details)
  ## Calcolo l'incidenza della fascia oraria sul complessivo
  #set($PercentageIncidence = (100 * $totalTimeBand.FiscalAdjustedAmount) / $TotalFiscalAmount )
  <row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>	
		<row align="left" style="bold" size="normal"><text style="normal" size="normal">FASCIA: $totalTimeBand.BandHierarchy.PadRight(5) $totalTimeBand.BandHierarchyDescription</text></row>
		<row align="left" style="normal" size="normal"><text style="normal" size="normal">Ammontare     : $totalTimeBand.FiscalAdjustedAmount.ToString('0.00').PadLeft(23)</text></row>
		<row align="left" style="normal" size="normal"><text style="normal" size="normal">Document emes.: $totalTimeBand.EmittedDocuments.ToString().PadLeft(23)</text></row>
		<row align="left" style="normal" size="normal"><text style="normal" size="normal">Incidenza %   : $PercentageIncidence.ToString('0.00').PadLeft(21) %</text></row>
		<row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>	
	#end
<row align="center" style="normal" size="normal"><text style="normal" size="normal">_______________________________________</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
<row align="left" style="bold" size="doubleheight"><text style="normal" size="normal">TOTALE COMPLESSIVO</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"></text></row>
<row align="left" style="bold" size="normal"><text style="normal" size="normal">Ammontare      : $TotalFiscalAmount.ToString('0.00').PadLeft(22)</text></row>
<row align="left" style="bold" size="normal"><text style="normal" size="normal">Documenti emes.: $TotalEmittedDocument.ToString('0.00').PadLeft(22)</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
<row align="center" style="normal" size="normal"><text style="normal" size="normal">***************************************</text></row>
#end
</report>