<report>


<row align="center" style="normal" size="normal"><text style="normal" size="normal">RESTO IN ACCONTO</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>

<row align="left" style="normal" size="normal"><text style="normal" size="normal"> Riferimento Scontrino</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> $document.Header.CauseCode </text></row>

<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> Resti in acconto</text></row>



	#foreach ($row in $afterList)
		#if ($row.ToString() != "")
			<row align="left" style="normal" size="normal"><text style="bold" size="normal">$row.ToString()</text></row>
		#end
	#end

<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>	

</report>