<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Rapporto gestione acconti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="$styleSheet">
  </head>
  <body>
    <table>
      <tr>
        <td width="365" height="40" class="tit">Rapporto gestione acconti</td>
      </tr>
      <tr class="odd">
        <td height="20" class="tit2" colspan="2">Periodo rapporto: $dataDal.ToString('dd/MM/yyyy') - $dataAl.ToString('dd/MM/yyyy')</td>
      </tr>
      <tr class="odd">
        <td colspan="2">#if ($chainCode) Catena: $chainCode - $chainDescription #end</td>
      </tr>
      <tr class="odd">
        <td colspan="2">#if ($store.Code) Negozio: $store.Code - $store.Description #end</td>
      </tr>
	  #if($OnlyNotRedempted == true)
	  <tr class="odd">
        <td colspan="2">Solo acconti non resi</td>
      </tr>
	  #end
      <tr class="odd">
        <td colspan="2">Data Rapporto: $data.ToString('dd/MM/yyyy')</td>
      </tr>
    </table>
    #foreach($detail in $list)
    <table class="1">
      <tr class="odd1">
        <td height="20"></td>
      </tr>
    </table>
    <table>

      <tr>
        #if($detail.WorkstationCode && $detail.WorkstationCode != "")
        <td width="365" height="30" class="tit3">Postazione: $detail.WorkstationCode - $detail.WorkstationDescription</td>
        #end
        #if($detail.UserCode && $detail.UserCode != "")
        <td width="365" height="30" class="tit3">Operatore: $detail.UserCode - $detail.UserDescription</td>
        #end
      </tr>
    </table>

    #set($totalQtaAdvance = 0)
	#set($totalAmountAdvance = 0)
	#set($totalQtaAdvanceRedempted = 0)
	#set($totatAmountAdvanceRedempted = 0)
	
    <table>
	  #foreach($advance in $detail.Details)
	 
	  <tr class="odd">
        <th align="left" rowspan="2">Codice</th>
		<th align="left" rowspan="2">Descrizione</th>
        <th align="center" colspan="2">Acconti</th>
		<th align="center" colspan="2">Acconti Resi</th>
	  </tr>
	  <tr class="Pag">
        <th align="right">n° Acconti</th>
		<th align="right">Importo Acconti</th>
		<th align="right">n° Acconti</th>
		<th align="right">Importo Acconti</th>
      </tr>
    
      <tr class="Pag">
	   
        <td align="left" NOWRAP>$advance.ItemCode</td>
        <td align="left">$advance.Description</td>
		
		<td align="right" NOWRAP>$advance.FiscalQuantity.ToString("N")</td>
		<td align="right" NOWRAP>$advance.FiscalAmount.ToString("C2")</td>
		<td align="right" NOWRAP>$advance.FiscalQuantityRedempted.ToString("N")</td>
		<td align="right" NOWRAP>$advance.FiscalAmountRedempted.ToString("C2")</td>
      </tr>
	  #set($totalQtaAdvance = $totalQtaAdvance + $advance.FiscalQuantity)
	  #set($totalAmountAdvance = $totalAmountAdvance + $advance.FiscalAmount)
	  #set($totalQtaAdvanceRedempted = $totalQtaAdvanceRedempted + $advance.FiscalQuantityRedempted)
	  #set($totatAmountAdvanceRedempted = $totatAmountAdvanceRedempted + $advance.FiscalAmountRedempted)
	  #end
     
      <tr class="Pag2">
        <td align="left" colspan="2">Totali</td>
       
		
		<td align="right" >$totalQtaAdvance.ToString("N")</td>
		<td align="right" >$totalAmountAdvance.ToString("C2")</td>
		<td align="right" >$totalQtaAdvanceRedempted.ToString("N")</td>
		<td align="right" >$totatAmountAdvanceRedempted.ToString("C2")</td>
      </tr>
	 
    </table>
    #end
    <table class="1">
      <tr class="odd2">
        <td>2M Servizi srl</td>
      </tr>
    </table>
  </body>
</html>