<report>
<row align="center" style="normal" size="normal"><text style="normal" size="normal">$coupon.Description</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal">Coupon N.ro ....... $coupon.Code</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal">PromotionCode ..... $coupon.PromotionCode</text></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
  #if( $coupon.GetResult() )
  <row align="left" style="normal" size="normal"><text style="normal" size="normal">Valore ............ $coupon.GetResult().Value.ToString('0.00') euro</text></row>
  #end
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>	
<row><barcode position="125" width="3" height="70" hri="down" hrifont="font0" codetype="JAN13EAN13">$coupon.Code</barcode></row>
<row align="left" style="normal" size="normal"><text style="normal" size="normal"> </text></row>
</report>