<!--<row align="center">
	<image width="0" height="0">C:\Orange\ClientPos\PrinterImages\header.bmp</image>
</row>-->

<row align="center" style="normal" size="normal">
  <text><![CDATA[SUPERMERCATI MARTINELLI GIAMPAOLO]]></text>
</row>
<row align="center" style="normal" size="normal">
  <text><![CDATA[C.V.EMANUELE, 240 37069 VILLAFRANCA VR]]></text>
</row>
<row align="center" style="normal" size="normal">
  <text>TEL. 045 7900148 </text>
</row>
<row align="center" style="normal" size="normal">
  <text>P.IVA 00201930237</text>
</row>
