<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">

  <object name="frmCustomerFullText" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine" singleton="false">
    <constructor-arg name="skin" ref="BaseView"/>
    <property name="Name" value="frmCustomerFullText"/>
    <property name="Text" value="Full Text"/>
    <property name="Controls">
      <list>
        <ref object="panelPost4Corner"/>
        <ref object="panelCustomerFullText"/>
        <ref object="panelPre4Corner"/>
        <ref object="ExtraMenu"/>
        <ref object="MenuLivello01"/>
        <ref object="panelPost4CornerBack"/>
      </list>
    </property>
    <property name="OpenNumericKeyboard" value="false"/>
    <property name="OpenKeyboard" value="false"/>
    <property name="InitialMessage">
      <value>Ricerca clienti</value>
    </property>
  </object>


  <object name="panelCustomerFullText" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
    <property name="Height" value="578"/>
    <property name="Dock" value="Top"/>
    <property name="BackColor" value="Transparent"/>
    <property name="BackColorRGB" value="61;67;99"/>
    <property name="Controls">
      <list>
        <ref object="CustomerFullTextContainer"/>
        <ref object="MenuLivello02_BLANK" />
        <!--ref object="MenuLivello02_PRO"/-->
      </list>
    </property>
  </object>


  <object name="CustomerFullTextContainer" type="Orange.Base.Engine.GUI.Containers.CustomerFullTextContainer, Orange.Base.Engine" singleton="false">
    <property name="Name" value="CustomerFullTextContainer"/>
    <property name="Padding" ref="PaddingZero"/>
    <property name="Margin" ref="PaddingZero"/>
    <property name="BackColor" value="Transparent"/>
    <property name="Height" value="578"/>
    <property name="Width" value="934"/>
    <property name="Top" value="10"/>
    <property name="Left" value="18"/>
    <property name="IsDefault" value="true"/>
    <property name="StateObjects">
      <dictionary>
        <entry key="SearchSourceLocal">
          <value>true</value>
        </entry>
        <entry key="AllField">
          <value></value>
        </entry>
        <entry key="CodiceField">
          <value></value>
        </entry>
        <entry key="CognomeField">
          <value></value>
        </entry>
        <entry key="NomeField">
          <value></value>
        </entry>
        <entry key="IndirizzoField">
          <value></value>
        </entry>
        <entry key="CapProvinciaField">
          <value></value>
        </entry>
        <entry key="NoteField">
          <value></value>
        </entry>
        <entry key="SelectedCustomerCode">
          <value></value>
        </entry>
      </dictionary>
    </property>
    <property name="ButtonsPanel" ref="pnlSearchCustomers"/>
    <property name="Grid">
      <object name="ResultGrid" type="Orange.Base.Engine.GUI.Grids.SmartGrid, Orange.Base.Engine" singleton="false">
        <property name="Name" value="ResultGrid"/>
        <property name="Padding">
          <object type="System.Windows.Forms.Padding, System.Windows.Forms" singleton="false">
            <constructor-arg name="left" value="3"/>
            <constructor-arg name="top" value="10"/>
            <constructor-arg name="right" value="3"/>
            <constructor-arg name="bottom" value="10"/>
          </object>
        </property>
        <property name="Margin">
          <ref object="PaddingZero"/>
        </property>
        <property name="Height" value="200"/>
        <property name="Width" value="650"/>
        <property name="BackgroundImagePath" value="GUIRes\display\648x198.png"/>
        <property name="BackColorSelectedRow" value="Gold"/>
        <property name="BackColorRowRGB" value="172;183;191" />
        <property name="BackColorAlternateRowRGB" value="160;170;180" />
        <property name="ScrollBarBackColorRGB" value="172;183;191" />
        <property name="ScrollBarForeColorRGB" value="61;67;99" />
        <property name="ScrollBarTopEdgeImagePath" value="GUIRes\Grid\baredgetop.png" />
        <property name="ScrollBarBottomEdgeImagePath" value="GUIRes\Grid\baredgebottom.png" />
        <property name="RowHeight" value="36"/>
        <property name="RowTemplates">
          <dictionary>
            <entry key="Orange.Core.Data.Customer.Customer">
              <value>RowTemplate_CustomerFullText_Customer</value>
            </entry>
            <entry key="BaseFidelity.Data.LiteFidelityCustomer">
              <value>RowTemplate_CustomerFullText_LiteFidelityCustomer</value>
            </entry>
          </dictionary>
        </property>
      </object>
    </property>
    <property name="NavigatorPanel" ref="pnlNavResults"/>
  </object>


  <object name="pnlNavResults" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
    <property name="Controls">
      <list>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton"/>
          <property name="TabStop" value="false"/>
          <property name="Name" value="CommandHome"/>
          <property name="DisabledPath" value="GUIRes\NavigationButton\GoTop\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\NavigationButton\GoTop\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\NavigationButton\GoTop\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\NavigationButton\GoTop\48x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
              <value>Begin(false)[func][gui]</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton"/>
          <property name="TabStop" value="false"/>
          <property name="Name" value="CommandSu"/>
          <property name="DisabledPath" value="GUIRes\NavigationButton\Up\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\NavigationButton\Up\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\NavigationButton\Up\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\NavigationButton\Up\48x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
              <value>PageUp(false)[func][gui]</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton"/>
          <property name="TabStop" value="false"/>
          <property name="Name" value="CommandGiu"/>
          <property name="DisabledPath" value="GUIRes\NavigationButton\Down\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\NavigationButton\Down\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\NavigationButton\Down\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\NavigationButton\Down\48x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
              <value>PageDown(false)[func][gui]</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton"/>
          <property name="TabStop" value="false"/>
          <property name="Name" value="CommandEnd"/>
          <property name="DisabledPath" value="GUIRes\NavigationButton\GoBottom\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\NavigationButton\GoBottom\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\NavigationButton\GoBottom\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\NavigationButton\GoBottom\48x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
              <value>End(false)[func][gui]</value>
            </list>
          </property>
        </object>
      </list>
    </property>
    <property name="Padding" ref="PaddingZero"/>
    <property name="Margin" ref="PaddingZero"/>
    <property name="Height" value="200"/>
    <property name="Width" value="50"/>
    <property name="BackColor" value="Transparent"/>
  </object>





  <object name="pnlSearchCustomers" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
    <property name="Height" value="210"/>
    <property name="Width" value="710"/>
    <property name="Margin">
      <ref object="PaddingZero"/>
    </property>
    <property name="Controls">
      <list>
        <object type="Orange.Base.Engine.GUI.Controls.InputTextControl, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseInput"/>
          <property name="Name" value="txtAllField"/>
          <property name="Height" value="50"/>
          <property name="Width" value="600"/>
          <property name="Title" value="Tutti i campi: "/>
          <property name="MaxLenght" value="40"/>
          <property name="StateName" value="AllField"/>
          <property name="SaveToState" value="true"/>
          <property name="DisabledPath" value="GUIRes\Button\Input\598x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Input\598x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Input\598x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Input\598x48\Pushed.png"/>
          <property name="In2Line" value="true"/>
          <property name="InputTextAlign" value="MiddleLeft"/>
          <property name="InputTextFont" ref="DefaultFont18"/>
          <property name="AutoKeyboard" value="true"/>
        </object>

        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton100x50verde"/>
          <property name="Text" value="CERCA"/>
          <property name="Font" ref="DefaultFont18"/>
          <property name="Commands">
            <list element-type="string">
              <value>Cerca()[func][gui]</value>
            </list>
          </property>
        </object>

        <object type="Orange.Base.Engine.GUI.Controls.InputTextControl, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseInput"/>
          <property name="Name" value="txtCognomeField"/>
          <property name="Height" value="50"/>
          <property name="Width" value="300"/>
          <property name="Title" value="Cognome: "/>
          <property name="MaxLenght" value="40"/>
          <property name="StateName" value="CognomeField"/>
          <property name="SaveToState" value="true"/>
          <property name="DisabledPath" value="GUIRes\Button\Input\298x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Input\298x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Input\298x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Input\298x48\Pushed.png"/>
          <property name="In2Line" value="true"/>
          <property name="InputTextAlign" value="MiddleLeft"/>
          <property name="InputTextFont" ref="DefaultFont18"/>
          <property name="AutoKeyboard" value="true"/>
        </object>

        <object type="Orange.Base.Engine.GUI.Controls.InputTextControl, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseInput"/>
          <property name="Name" value="txtNomeField"/>
          <property name="Height" value="50"/>
          <property name="Width" value="300"/>
          <property name="Title" value="Nome: "/>
          <property name="MaxLenght" value="40"/>
          <property name="StateName" value="NomeField"/>
          <property name="SaveToState" value="true"/>
          <property name="DisabledPath" value="GUIRes\Button\Input\298x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Input\298x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Input\298x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Input\298x48\Pushed.png"/>
          <property name="In2Line" value="true"/>
          <property name="InputTextAlign" value="MiddleLeft"/>
          <property name="InputTextFont" ref="DefaultFont18"/>
          <property name="AutoKeyboard" value="true"/>
        </object>

        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton100x50normale"/>
          <property name="Text" value="Reset"/>
          <property name="Font" ref="DefaultFont18"/>
          <property name="Commands">
            <list element-type="string">
              <value>Reset()[func][gui]</value>
            </list>
          </property>
        </object>

        <object type="Orange.Base.Engine.GUI.Controls.InputTextControl, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseInput"/>
          <property name="Name" value="txtIndirizzoField"/>
          <property name="Height" value="50"/>
          <property name="Width" value="300"/>
          <property name="Title" value="Indirizzo: "/>
          <property name="MaxLenght" value="40"/>
          <property name="StateName" value="IndirizzoField"/>
          <property name="SaveToState" value="true"/>
          <property name="DisabledPath" value="GUIRes\Button\Input\298x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Input\298x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Input\298x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Input\298x48\Pushed.png"/>
          <property name="In2Line" value="true"/>
          <property name="InputTextAlign" value="MiddleLeft"/>
          <property name="InputTextFont" ref="DefaultFont18"/>
          <property name="AutoKeyboard" value="true"/>
        </object>

        <object type="Orange.Base.Engine.GUI.Controls.InputTextControl, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseInput"/>
          <property name="Name" value="txtCapProvinciaField"/>
          <property name="Height" value="50"/>
          <property name="Width" value="300"/>
          <property name="Title" value="Cap, Città o Provincia: "/>
          <property name="MaxLenght" value="40"/>
          <property name="StateName" value="CapProvinciaField"/>
          <property name="SaveToState" value="true"/>
          <property name="DisabledPath" value="GUIRes\Button\Input\298x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Input\298x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Input\298x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Input\298x48\Pushed.png"/>
          <property name="In2Line" value="true"/>
          <property name="InputTextAlign" value="MiddleLeft"/>
          <property name="InputTextFont" ref="DefaultFont18"/>
          <property name="AutoKeyboard" value="true"/>
        </object>
        
        <object type="Orange.Base.Engine.GUI.Containers.RadioButtonGroup, Orange.Base.Engine" singleton="false">
          <property name="Height" value="50"/>
          <property name="Width" value="100"/>
          <property name="Padding">
            <ref object="PaddingZero"/>
          </property>
          <property name="Margin">
            <ref object="PaddingZero"/>
          </property>
          <property name="RadioButtonCollection">
            <list>
              <object type="Orange.Base.Engine.GUI.Buttons.RadioButton, Orange.Base.Engine" singleton="false">
                <constructor-arg name="skin" ref="CheckButton50x50"/>
                <property name="Checked" value="True"/>
                <property name="Width" value="50"/>
                <property name="Top" value="0"/>
                <property name="Left" value="0"/>
                <property name="Text" value="Cli. Neg."/>
                <property name="Font" ref="DefaultFont12"/>
                <property name="CheckCommands">
                  <list element-type="string">
                    <value>SetToState('SearchSourceLocal','true')[func][gui]</value>
                  </list>
                </property>
              </object>
              <object type="Orange.Base.Engine.GUI.Buttons.RadioButton, Orange.Base.Engine" singleton="false">
                <constructor-arg name="skin" ref="CheckButton50x50"/>
                <property name="Checked" value="False"/>
                <property name="Width" value="50"/>
                <property name="Top" value="0"/>
                <property name="Left" value="50"/>
                <property name="Text" value="Cli. Fidel."/>
                <property name="Font" ref="DefaultFont12"/>
                <property name="CheckCommands">
                  <list element-type="string">
                    <value>SetToState('SearchSourceLocal','false')[func][gui]</value>
                  </list>
                </property>
              </object>
            </list>
          </property>
        </object>

        <object type="Orange.Base.Engine.GUI.Controls.InputTextControl, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseInput"/>
          <property name="Name" value="txtCodiceField"/>
          <property name="Height" value="50"/>
          <property name="Width" value="300"/>
          <property name="Title" value="Codice: "/>
          <property name="MaxLenght" value="40"/>
          <property name="StateName" value="CodiceField"/>
          <property name="SaveToState" value="true"/>
          <property name="DisabledPath" value="GUIRes\Button\Input\298x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Input\298x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Input\298x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Input\298x48\Pushed.png"/>
          <property name="In2Line" value="true"/>
          <property name="InputTextAlign" value="MiddleLeft"/>
          <property name="InputTextFont" ref="DefaultFont18"/>
          <property name="AutoKeyboard" value="true"/>
        </object>

        <object type="Orange.Base.Engine.GUI.Controls.InputTextControl, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseInput"/>
          <property name="Name" value="txtNoteField"/>
          <property name="Height" value="50"/>
          <property name="Width" value="300"/>
          <property name="Title" value="Note: "/>
          <property name="MaxLenght" value="40"/>
          <property name="StateName" value="NoteField"/>
          <property name="SaveToState" value="true"/>
          <property name="DisabledPath" value="GUIRes\Button\Input\298x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Input\298x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Input\298x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Input\298x48\Pushed.png"/>
          <property name="In2Line" value="true"/>
          <property name="InputTextAlign" value="MiddleLeft"/>
          <property name="InputTextFont" ref="DefaultFont18"/>
          <property name="AutoKeyboard" value="true"/>
        </object>

        
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton100x50giallo"/>
          <property name="Name" value="cmdSelect"/>
          <property name="Text" value="Aggiungi a Documento"/>
          <property name="Font" ref="DefaultFont12"/>
          <property name="Enabled" value="false"/>
          <property name="Commands">
            <list element-type="string">
              <value>${SelectedCustomerCode}[customer]</value>
            </list>
          </property>
        </object>

      </list>
    </property>
  </object>

</objects>