<?xml version="1.0" encoding="utf-8"?>
<clientConfiguration>
  <add key="ReportPrinter" value="#{FiscalPrinter}">
  </add>
  <!--  "TestFiscalPrinterDevice" | "FiscalPrinterDevice"-->
  <add key="FiscalPrinter" value="FiscalPrinterDevice">
  </add>
  <!--  "DocumentCodeParser" | "ForeignDepartmentCodeParser"-->
  <!-- Deve sempre essere impostato come DocumentCodeParser. E diverso solo per un client che è un reparto assistito emettitore-->
  <add key="BarCodeGenerator" value="DocumentCodeParser">
  </add>
  <!-- "true" | "false" -->
  <!-- per stampante Wincor DEVE valere true -->
  <!-- per stampanti NON Fiscali (PP.TMT88V, PP.CustomKUBEII) DEVE valere true -->
  <add key="SendHeader" value="false">
  </add>
  <!-- "true" | "false" -->
  <add key="UpdateDate" value="true">
  </add>
  <!-- "FP.CustomKubeF" | "FP.WincorTH230" | "FP.WincorTHF-EJ" | "FP.EpsonFP90" | "FP.Ditron" | "FP.DitronZIP" -->
  <!-- "FP.EpsonFP90.POS1.11" | "FP.IBM4610KR5" | "FP.POSPrinterSimulator" | "FP.RealPosEj" | "FP.FasyFPU" | "FP.AxonOne"-->
  <!-- Stampanti NON Fiscali: "PP.TMT88V" | "PP.CustomKUBEII" | "PP.NCR7197" -->
  <add key="PrinterDevice" value="FP.RTOne">
  </add>
  <!-- "LD.JS-950WS_VFD2L" | "LD.CustomKubeF" | "LD.WincorTH230" | "LD.WincorTHF-EJ" | "LD.EpsonFP90" | "LD.DitronZIP" -->
  <!-- "LD.EpsonFP90.POS1.11" | "LD.IBMLCVFD" | "LD.IBMDoubleLCVFD" | " LD.ToshibaLIUST51" | "LD.AxonOne"-->
  <!-- "LD.POSPrinterSimulator" | "LD.RealPosEj" | "LD.FasyFPU" | "LD.SerialLineDisplay" -->
  <add key="LineDisplayDevice" value="NCRLineDisplay">
  </add>
  <!--
    EpsonFP90     => "]"
    WincorTH230   => "€"
    IBMLCVFD      => "€"
    CustomKubeF   => "E"
    DitronZIP     => "€"
    NCR RealPosEj => "E"
    Fasy Zephyr+  => "E"  
    SerialLineDisplay => "E"
  -->
  <add key="EuroLineDisplay" value="E">
  </add>
  <!-- 
    "DATALOGIC HERON-G"
    "QS6000"
    "HS1250"
    "Magellan2200VS"
    "Magellan2300HS"
	"Microsoft Scanner Simulator"
  -->
  <add key="ScannerDevice" value="Magellan9500">
  </add>
  <!--
    EpsonFP90   => "EPSON CashDrawer"
    WincorTH230 => "WN_KA.FPTR_ND77"
	IBMSurePOS700 => "IBM_CD_SurePOS700"
    CustomKubeF => "FP.CustomKubeF"
    DitronZIP   => "FiscalPrinterSO.DrawerInterface"
	Ditron Synthes=> "FP.Ditron"
	NCR RealPosEj => "FP.RealPosEj"
	Fasy Zephyr+  => "FP.FasyFPU"
	Microsoft Simulator => "Microsoft CashDrawer Simulator"
  -->
  <add key="CashDrawerDevice" value="FP.RealPosEj.11">
  </add>
  <add key="EAN2CodeLen" value="7">
  </add>
  <add key="ChainCode" value="01">
  </add>
  <add key="StoreCode" value="0014">
  </add>
  <add key="WorkstationCode" value="012">
  </add>
  <add key="WorkstationName" value="Client 012">
  </add>
  <add key="ServerAddress" value="192.168.115.253">
  </add>
  <add key="FidelityPointsCastle" value="false">
  </add>
  <!-- "Store" | "Workstation" | "User" | "None" -->
  <add key="Fiscal_Clear.PrintVATReport" value="None">
  </add>
  <!-- "Store" | "Workstation" | "User" | "None"  -->
  <add key="Fiscal_Clear.PrintDepartmentReport" value="None">
  </add>
  <add key="Fiscal_Clear.PrintPaymentReport" value="None" />
  <!-- "false" | "true" -->
  <add key="Fiscal_Clear.OpenDrawer" value="true">
  </add>
  <!-- Tara di default in caso non venga definita nell'importazione -->
  <add key="DefaultScaleTare" value="0">
  </add>
  <!-- Gestione centralizzata del cassetto -->
  <!-- "true" | "false" -->
  <add key="UserCentralizeManagement" value="true">
  </add>
  <!-- 
      Specifica quale tipo di gestione sugli eventi da tastiera deve utilizzare il driver relativo
      alla gestione della tastiera windows
      
      Valori possibili:
      
      Complete : Riconoscimento della sequenza basandosi sia sugli eventi di pressione (KeyDown) che 
                di rilascio (KeyUp); valore predefinito
                
      OnlyDown : Riconoscimento della sequenza basandosi unicamente sugli eventi di pressione (KeyDown);
      
      OnlyDownWithUpReset : Riconoscimento della sequenza basandosi unicamente sugli eventi di pressione (KeyDown), 
                la ricezione di un evento di rilascio (KeyUp) resetta il riconoscimento della sequenza
  -->
  <add key="WindowsKeyboardEventManagement" value="Complete">
  </add>
  <!-- Regular Expression per indentificare lo spazio di codifica degli scontrini bilancia da esplodere -->
  <!--<add key="ScaleReciptCodeRegex" value="^2{1}[04]{1}\d{11}"/>-->
  <add key="ScaleReciptCodeRegex" value="^@">
  </add>
  <add key="SelfReciptCodeRegex" value="^@">
  </add>
  <!--  Reparto Assistito Emettitore - Postazione Orange -->
  <!-- "true" | "false" -->
  <!-- Deve sempre essere impostato a false. E true solo per un client che è un reparto assistito emettitore-->
  <add key="IsForeignDepartment" value="false">
  </add>
  <!-- Regular Expression per indentificare i scontrini emessi da un reparto assistito -->
  <add key="ForeignDocumentCodeRegex" value="^@">
  </add>
  <!-- Regular Expression per indentificare il codice a barre per gli talloncini dei acconti -->
  <add key="AdvancedCodeRegex" value="^((V)[\w]{12})">
  </add>
  <!-- Euronet TID -->
  <add key="EuronetTID" value="^@">
  </add>
  <!-- Messaggi che indicano i tasti da utilizzare per la ristampa o la sospensione incaso di errori alla 
        chiusura del documento -->
  <add key="RetryMsg" value="[Annullo] o [Invio]">
  </add>
  <add key="SuspendMsg" value="Nessun tasto">
  </add>
  <!-- Se cancellare il documento sospeso una volta recuperato dalla lista dei sospesi
       o se cancellarlo alla chiusura del documento stesso -->
  <add key="DeleteSuspendDocumentOnRecover" value="false">
  </add>
  <add key="BufDocSess" value="60">
  </add>
  <add key="ParkRange" value="200|100-300">
  </add>
  <add key="SaveItemAborted" value="false">
  </add>
  <add key="DepartmentItemNotRecognized" value="">
  </add>
  <add key="TicketMealServiceType" value="BuonoChiaro" />
  <add key="CloseDrawer.PrintPaymentDocTypeReport" value="None" />
</clientConfiguration>