<objects xmlns="http://www.springframework.net">

  <!-- Sincronizzazione tramite backup di MS SQL Express 2005 -->
  <object name="SynchronizerShipper" type="Orange.Base.Engine.Shipper.MsSQLExpressSyncShipper, Orange.Base.Engine.Shipper.SqlServer2005">
    <property name="PingServer" value ="ShopServer"/>
    <property name="StateName" value ="StateShopServer"/>
    <property name="CopyingBackUp" value ="true"/>
    <!--<property name="BackupCopyType" value="HTTP" />-->
    <property name="FullRestorer" ref="FullDBRestorer"/>
		<property name="LogRestorer" ref="LogDBRestorer"/>
    <!--<property name="InitOnError" value="true"/>-->
  </object>

	<object name="FullDBRestorer" type="HelperUtilities.Backuper.MsSql2005Backuper, Backuper" >
		<!-- serverAddress: indirizzo del server -->
		<constructor-arg index="0" value=".\sqlexpress"/>
		<!-- name del database di cui si vuole il backup/restore-->
		<constructor-arg index="1" value="OrangeClient"/>
		<!-- tipo di backup richiesto -->
		<constructor-arg index="2" value="Full"/>
		<!-- temp folder -->
		<constructor-arg index="3" value="C:\Orange\Temp"/>
		<!-- put in StandByFile -->
		<constructor-arg index="4" value="true"/>
		<constructor-arg index="5" >
			<list element-type="HelperUtilities.Backuper.BckRelocateFile, Backuper">
				<object type="HelperUtilities.Backuper.BckRelocateFile, Backuper">
					<constructor-arg index="0" value="OrangeServer"/>
					<constructor-arg index="1" value="C:\Orange\DB\OrangeClient.mdf"/>
				</object>
				<object type="HelperUtilities.Backuper.BckRelocateFile, Backuper">
					<constructor-arg index="0" value="OrangeServer_log"/>
					<constructor-arg index="1" value="C:\Orange\DB\OrangeClient_log.ldf"/>
				</object>
			</list>
		</constructor-arg>
	</object>
	<object name="LogDBRestorer" type="HelperUtilities.Backuper.MsSql2005Backuper, Backuper" >
		<!-- serverAddress: indirizzo del server -->
		<constructor-arg index="0" value=".\sqlexpress"/>
		<!-- name del database di cui si vuole il backup/restore-->
		<constructor-arg index="1" value="OrangeClient"/>
		<!-- tipo di backup richiesto -->
		<constructor-arg index="2" value="Log"/>
		<!-- temp folder -->
		<constructor-arg index="3" value="C:\Orange\Temp"/>
		<!-- put in StandByFile -->
		<constructor-arg index="4" value="true"/>
	</object>


</objects>
