<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">
	<object name="frmDocument" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine" singleton="false">
		<constructor-arg name="skin" ref="BaseView"/>
		<property name="Name" value="frmDocument"/>
		<property name="Text" value="Document"/>
		<property name="Controls">
			<list>
				<ref object="panelPost4Corner"/>
				<ref object="panelDocumentDetails"/>
				<ref object="panelPre4Corner"/>
				<ref object="ExtraMenu"/>
				<ref object="MenuLivello01"/>
				<ref object="panelPost4CornerBack"/>
			</list>
		</property>
		<property name="OpenNumericKeyboard" value="false"/>
		<property name="InitialMessage">
			<value>Inserire i prodotti</value>
		</property>
	</object>
	<object name="panelDocumentDetails" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
		<property name="Height" value="410"/>
		<property name="Dock" value="Top"/>
		<property name="BackColor" value="Transparent"/>
		<property name="BackColorRGB" value="61;67;99"/>
		<property name="Controls">
			<list>
				<ref object="DocumentGridContainer"/>
				<ref object="PanelBottonsDocContainer"/>
				<ref object="PanelBottonsContainerDetailNumericPad"/>
				<ref object="MenuLivello02_DOC"/>
			</list>
		</property>
	</object>
	<object name="DocumentGridContainer" type="Orange.Base.Engine.GUI.Containers.DocumentGridContainer, Orange.Base.Engine" singleton="false">
		<property name="Name" value="DocumentGridContainer"/>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="BackColor" value="Transparent"/>
		<property name="Height" value="410"/>
		<property name="Width" value="400"/>
		<property name="Top" value="0"/>
		<property name="Left" value="18"/>
		<property name="IsDefault" value="true"/>
		<property name="Grid">
			<object name="DocumentGrid" type="Orange.Base.Engine.GUI.Grids.SmartGrid, Orange.Base.Engine" singleton="false">
				<property name="Name" value="DocumentGrid"/>
				<property name="Padding">
					<object type="System.Windows.Forms.Padding, System.Windows.Forms" singleton="false">
						<constructor-arg name="left" value="3"/>
						<constructor-arg name="top" value="10"/>
						<constructor-arg name="right" value="3"/>
						<constructor-arg name="bottom" value="10"/>
					</object>
				</property>
				<property name="Margin">
					<ref object="PaddingZero"/>
				</property>
				<property name="TabStop" value="false"/>
				<property name="Height" value="200"/>
				<property name="Width" value="350"/>
				<property name="RowHeight" value="36"/>
				<property name="BackgroundImagePath" value="GUIRes\display\348x198.png"/>
				<property name="BackColorSelectedRow" value="Gold"/>
				<property name="BackColorRowRGB" value="172;183;191"/>
				<property name="BackColorAlternateRowRGB" value="160;170;180"/>
				<property name="ScrollBarBackColorRGB" value="172;183;191"/>
				<property name="ScrollBarForeColorRGB" value="61;67;99"/>
				<property name="ScrollBarTopEdgeImagePath" value="GUIRes\Grid\baredgetop.png"/>
				<property name="ScrollBarBottomEdgeImagePath" value="GUIRes\Grid\baredgebottom.png"/>
				<property name="RowTemplates">
					<dictionary>
						<entry key="Orange.Core.Data.Document.ItemDocumentDetail">
							<value>RowTemplate_ItemDocumentDetail</value>
						</entry>
						<entry key="Orange.Core.Data.Document.AdjustmentDocumentDetail">
							<value>RowTemplate_AdjustmentDocumentDetail</value>
						</entry>
						<entry key="Orange.Core.Data.Document.NoteDocumentDetail">
							<value>RowTemplate_NoteDocumentDetail</value>
						</entry>
						<entry key="Orange.Core.Data.Document.SubtotalDocumentDetail">
							<value>RowTemplate_SubtotalDocumentDetail</value>
						</entry>
						<entry key="Orange.Core.Data.Document.ItemBookingDocumentDetail">
							<value>RowTemplate_ItemBookingDocumentDetail</value>
						</entry>
						<entry key="Orange.Core.Data.Document.CouponDocumentDetail">
							<value>RowTemplate_CouponDocumentDetail</value>
						</entry>
						<entry key="Orange.Core.Data.Document.AssemblyDocumentDetail">
							<value>RowTemplate_AssemblyDocumentDetail</value>
						</entry>
						<entry key="Orange.Core.Data.Document.ScaleDocumentDetail">
							<value>RowTemplate_ScaleDocumentDetail</value>
						</entry>
						<entry key="Orange.Core.Data.Document.SelfDocumentDetail">
							<value>RowTemplate_SelfDocumentDetail</value>
						</entry>
					</dictionary>
				</property>
			</object>
		</property>
		<property name="NavigatorPanel">
			<ref object="pnlNav"/>
		</property>
		<property name="ButtonsPanel">
			<ref object="pnlButDetalis"/>
		</property>
	</object>
	<object name="pnlNav" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
		<property name="Controls">
			<list>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CommandHome"/>
					<property name="DisabledPath" value="GUIRes\NavigationButton\GoTop\48x48\Disabled.png"/>
					<property name="EnabledPath" value="GUIRes\NavigationButton\GoTop\48x48\Enabled.png"/>
					<property name="FocusedPath" value="GUIRes\NavigationButton\GoTop\48x48\Focused.png"/>
					<property name="PushedPath" value="GUIRes\NavigationButton\GoTop\48x48\Pushed.png"/>
					<property name="Commands">
						<list element-type="string">
							<value>Begin(false)[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CommandSu"/>
					<property name="DisabledPath" value="GUIRes\NavigationButton\Up\48x48\Disabled.png"/>
					<property name="EnabledPath" value="GUIRes\NavigationButton\Up\48x48\Enabled.png"/>
					<property name="FocusedPath" value="GUIRes\NavigationButton\Up\48x48\Focused.png"/>
					<property name="PushedPath" value="GUIRes\NavigationButton\Up\48x48\Pushed.png"/>
					<property name="Commands">
						<list element-type="string">
							<value>PageUp(false)[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CommandGiu"/>
					<property name="DisabledPath" value="GUIRes\NavigationButton\Down\48x48\Disabled.png"/>
					<property name="EnabledPath" value="GUIRes\NavigationButton\Down\48x48\Enabled.png"/>
					<property name="FocusedPath" value="GUIRes\NavigationButton\Down\48x48\Focused.png"/>
					<property name="PushedPath" value="GUIRes\NavigationButton\Down\48x48\Pushed.png"/>
					<property name="Commands">
						<list element-type="string">
							<value>PageDown(false)[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CommandEnd"/>
					<property name="DisabledPath" value="GUIRes\NavigationButton\GoBottom\48x48\Disabled.png"/>
					<property name="EnabledPath" value="GUIRes\NavigationButton\GoBottom\48x48\Enabled.png"/>
					<property name="FocusedPath" value="GUIRes\NavigationButton\GoBottom\48x48\Focused.png"/>
					<property name="PushedPath" value="GUIRes\NavigationButton\GoBottom\48x48\Pushed.png"/>
					<property name="Commands">
						<list element-type="string">
							<value>End(false)[func][gui]</value>
						</list>
					</property>
				</object>
			</list>
		</property>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="Height" value="200"/>
		<property name="Width" value="50"/>
		<property name="BackColor" value="Transparent"/>
	</object>
	<object name="pnlButDetalis" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
		<property name="Controls">
			<list>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50rosso"/>
					<property name="Name" value="CommandAnnullaDoc"/>
					<property name="Text" value="ANN. DOC."/>
					<property name="Top" value="0"/>
					<property name="Left" value="0"/>
					<property name="Height" value="50"/>
					<property name="Width" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[documentabort]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50rosso"/>
					<property name="Name" value="CommandAnnullaRiga"/>
					<property name="Text" value="ANN. RIGA"/>
					<property name="Top" value="0"/>
					<property name="Left" value="50"/>
					<property name="Height" value="50"/>
					<property name="Width" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[correction]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50rosso"/>
					<property name="Name" value="CommandStornoAnnullo"/>
					<property name="Text" value="STORNO PRODOTTO"/>
					<property name="Top" value="0"/>
					<property name="Left" value="100"/>
					<property name="Height" value="50"/>
					<property name="Width" value="100"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[void]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50giallo"/>
					<property name="Name" value="CommandPrezzo"/>
					<property name="Text" value="Prezzo"/>
					<property name="Top" value="0"/>
					<property name="Left" value="200"/>
					<property name="Height" value="50"/>
					<property name="Width" value="100"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[price]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50verde"/>
					<property name="Name" value="CommandItemSearch"/>
					<property name="Text" value="Cerca"/>
					<property name="Top" value="0"/>
					<property name="Left" value="300"/>
					<property name="Height" value="50"/>
					<property name="Width" value="100"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[itemdocumentsearch]</value>
						</list>
					</property>
				</object>
				<object name="MyWatch" type="Orange.Base.Engine.GUI.Controls.DigitalClock, Orange.Base.Engine" singleton="false">
					<property name="Top" value="50"/>
					<property name="Left" value="0"/>
					<property name="Width" value="100"/>
					<property name="Height" value="50"/>
					<property name="BackgroundImagePath" value="GUIRes\display\98x48.png"/>
					<property name="TemplateText">
						<value>d/M/yyyy HH:mm:ss</value>
					</property>
					<property name="TextFont" ref="DefaultFont18"/>
					<property name="ForeColor" value="Black"/>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.DocumentObserverCommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="SubtotalButton"/>
					<property name="Top" value="50"/>
					<property name="Left" value="100"/>
					<property name="Width" value="150"/>
					<property name="Height" value="50"/>
					<property name="Text" value="€ 0,00"/>
					<property name="TemplateText">
						<value>${Amount.TotalAmountDetail[[Subtotale\r\n{0:€ 0.00}]]}</value>
					</property>
					<property name="DisabledPath" value="GUIRes\display\148x48.png"/>
					<property name="EnabledPath" value="GUIRes\display\148x48.png"/>
					<property name="FocusedPath" value="GUIRes\display\148x48.png"/>
					<property name="PushedPath" value="GUIRes\display\148x48.png"/>
					<property name="Commands">
						<list element-type="string">
							<value>[subtotal]</value>
						</list>
					</property>
					<property name="DataNameList">
						<list element-type="Orange.Core.Engine.Subject.SubjectDataName, Orange.Core">
							<value>AddDetail</value>
							<value>DeleteDetail</value>
							<value>Document</value>
							<value>UpdateDetail</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.DocumentObserverCommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="TotalButton"/>
					<property name="Top" value="50"/>
					<property name="Left" value="250"/>
					<property name="Width" value="150"/>
					<property name="Height" value="50"/>
					<property name="Text" value="€ 0,00"/>
					<property name="TemplateText">
						<value>${Amount.TotalAmount[[Totale\r\n{0:€ 0.00}]]}</value>
					</property>
					<property name="DisabledPath" value="GUIRes\display\148x48.png"/>
					<property name="EnabledPath" value="GUIRes\display\148x48.png"/>
					<property name="FocusedPath" value="GUIRes\display\148x48.png"/>
					<property name="PushedPath" value="GUIRes\display\148x48.png"/>
					<property name="TabStop" value="false"/>
					<property name="DataNameList">
						<list element-type="Orange.Core.Engine.Subject.SubjectDataName, Orange.Core">
							<value>AddSubtotalPromotion</value>
							<value>AddDetail</value>
							<value>DeleteDetail</value>
							<value>Document</value>
							<value>UpdateDetail</value>
							<value>UpdateSubtotalPromotion</value>
							<value>DeleteSubtotalPromotion</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50rosso"/>
					<property name="Name" value="CommandRecall"/>
					<property name="Top" value="100"/>
					<property name="Left" value="0"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Text" value="SOSP DOC"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[suspend]</value>
							<value>false[showinitialmessage][frmdocument]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50giallo"/>
					<property name="Top" value="100"/>
					<property name="Left" value="50"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Text" value="Ris."/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>PrintDocument()[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50verde"/>
					<property name="Name" value="CommandChage"/>
					<property name="Text" value="Reso"/>
					<property name="Top" value="100"/>
					<property name="Left" value="100"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[refund]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50verde"/>
					<property name="Name" value="CommandPercentuale"/>
					<property name="Text" value="%"/>
					<property name="Top" value="100"/>
					<property name="Left" value="150"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Commands">
						<list element-type="string">
							<value>[%]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50verde"/>
					<property name="Name" value="CommandSconto"/>
					<property name="Text" value="Sconto"/>
					<property name="Top" value="100"/>
					<property name="Left" value="200"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[discount]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.DocumentObserverCommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CustomerButton"/>
					<property name="Width" value="150"/>
					<property name="Height" value="100"/>
					<property name="Top" value="100"/>
					<property name="Left" value="250"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Text" value="Cliente"/>
					<property name="TextAlign" value="TopLeft"/>
					<property name="TemplateText">
						<value>${GetInterlocutorInfo[[{0}]]}</value>
					</property>
					<property name="DisabledPath" value="GUIRes\display\148x98.png"/>
					<property name="EnabledPath" value="GUIRes\display\148x98.png"/>
					<property name="FocusedPath" value="GUIRes\display\148x98.png"/>
					<property name="PushedPath" value="GUIRes\display\148x98.png"/>
					<property name="Commands">
						<list element-type="string">
							<value>[customer]</value>
						</list>
					</property>
					<property name="DataNameList">
						<list element-type="Orange.Core.Engine.Subject.SubjectDataName, Orange.Core">
							<value>UpdateInterlocutor</value>
							<value>Document</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50giallo"/>
					<property name="Name" value="CommandDrawer"/>
					<property name="Text" value="Ap Cass."/>
					<property name="Top" value="150"/>
					<property name="Left" value="0"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[opendrawer]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50giallo"/>
					<property name="Name" value="CommandFiscalCode"/>
					<property name="Text" value="C.F."/>
					<property name="Top" value="150"/>
					<property name="Left" value="50"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>[fiscalCode]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50giallo"/>
					<property name="Name" value="CommandSaleOther"/>
					<property name="Text" value="Other Doc"/>
					<property name="Top" value="150"/>
					<property name="Left" value="100"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>11[doctype]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50verde"/>
					<property name="Name" value="CommandSconto"/>
					<property name="Text" value="Sconto 25%"/>
					<property name="Top" value="150"/>
					<property name="Left" value="150"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>25[%][discount]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50verde"/>
					<property name="Name" value="CommandSconto"/>
					<property name="Text" value="Sconto 50%"/>
					<property name="Top" value="150"/>
					<property name="Left" value="200"/>
					<property name="Width" value="50"/>
					<property name="Height" value="50"/>
					<property name="Font" ref="DefaultFont12bold"/>
					<property name="Commands">
						<list element-type="string">
							<value>50[%][discount]</value>
						</list>
					</property>
				</object>
			</list>
		</property>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<object type="System.Windows.Forms.Padding, System.Windows.Forms" singleton="false">
				<constructor-arg name="left" value="0"/>
				<constructor-arg name="top" value="10"/>
				<constructor-arg name="right" value="0"/>
				<constructor-arg name="bottom" value="0"/>
			</object>
		</property>
		<property name="Height" value="200"/>
		<property name="Width" value="400"/>
		<property name="BackColor" value="Transparent"/>
	</object>
	<object name="PanelBottonsDocContainer" type="Orange.Base.Engine.GUI.Containers.ButtonsContainer, Orange.Base.Engine" singleton="false">
		<property name="Name" value="PanelBottonsDocContainer"/>
		<property name="BackColor" value="Transparent"/>
		<property name="Height" value="200"/>
		<property name="Width" value="300"/>
		<property name="Top" value="0"/>
		<property name="Left" value="428"/>
		<property name="FirstPagePanel" value="HomePanel"/>
		<property name="PagesPanels">
			<dictionary key-type="string" value-type="System.Windows.Forms.Control, System.Windows.Forms">
				<entry key="HomePanel" value-ref="PanelBottonsDocContainer_HomePanel"/>
			</dictionary>
		</property>
	</object>
	<object name="PanelBottonsDocContainer_HomePanel" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
		<property name="Controls">
			<list>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50verde"/>
					<property name="Top" value="0"/>
					<property name="Left" value="0"/>
					<property name="Text" value="REPARTI"/>
					<property name="Commands">
						<list element-type="string">
							<value>OpenClosePanelBoard('PannelloReparti')[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50verde"/>
					<property name="Top" value="0"/>
					<property name="Left" value="100"/>
					<property name="Text" value="ACQUE"/>
					<property name="Commands">
						<list element-type="string">
							<value>OpenClosePanelBoard('PannelloAcque')[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50verde"/>
					<property name="Top" value="0"/>
					<property name="Left" value="200"/>
					<property name="Font" ref="DefaultFont11bold"/>
					<property name="Text" value="REGALI"/>
					<property name="Commands">
						<list element-type="string">
							<value>OpenClosePanelBoard('PannelloRegali')[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton50x50verde"/>
					<property name="Top" value="0"/>
					<property name="Left" value="250"/>
					<property name="Font" ref="DefaultFont11bold"/>
					<property name="Text" value="ALTRO"/>
					<property name="Commands">
						<list element-type="string">
							<value>OpenClosePanelBoard('PannelloEsterno')[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Top" value="50"/>
					<property name="Left" value="0"/>
					<property name="Text" value="Sala"/>
					<property name="Commands">
						<list element-type="string">
							<value>[price]9901[plu]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Top" value="50"/>
					<property name="Left" value="100"/>
					<property name="Text" value="Ortofrutta"/>
					<property name="Commands">
						<list element-type="string">
							<value>[price]9902[plu]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Top" value="50"/>
					<property name="Left" value="200"/>
					<property name="Text" value="Macelleria"/>
					<property name="Commands">
						<list element-type="string">
							<value>[price]9903[plu]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Top" value="100"/>
					<property name="Left" value="0"/>
					<property name="Text" value="Murale"/>
					<property name="Commands">
						<list element-type="string">
							<value>[price]9904[plu]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Top" value="100"/>
					<property name="Left" value="100"/>
					<property name="Text" value="Gastr. Banco"/>
					<property name="Commands">
						<list element-type="string">
							<value>[price]9905[plu]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Top" value="100"/>
					<property name="Left" value="200"/>
					<property name="Text" value="Surgelati"/>
					<property name="Commands">
						<list element-type="string">
							<value>[price]9906[plu]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Top" value="150"/>
					<property name="Left" value="0"/>
					<property name="Text" value="Bazar - Tessile"/>
					<property name="Commands">
						<list element-type="string">
							<value>[price]9907[plu]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50giallo"/>
					<property name="Top" value="150"/>
					<property name="Left" value="100"/>
					<property name="Font" ref="DefaultFont11bold"/>
					<property name="Text" value="BORSA Piccola"/>
					<property name="Commands">
						<list element-type="string">
							<value>01913[plu]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50giallo"/>
					<property name="Top" value="150"/>
					<property name="Left" value="200"/>
					<property name="Font" ref="DefaultFont11bold"/>
					<property name="Text" value="BORSA Grande"/>
					<property name="Commands">
						<list element-type="string">
							<value>01912[plu]</value>
						</list>
					</property>
				</object>
			</list>
		</property>
	</object>
	<object name="PanelBottonsContainerDetailNumericPad" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="Name" value="PanelBottonsContainerNumericPad"/>
		<property name="BackColor" value="Transparent"/>
		<property name="Height" value="200"/>
		<property name="Width" value="300"/>
		<property name="Top" value="210"/>
		<property name="Left" value="428"/>
		<property name="Controls">
			<list>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="7"/>
					<property name="Commands">
						<list element-type="string">
							<value>7</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="8"/>
					<property name="Commands">
						<list element-type="string">
							<value>8</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="9"/>
					<property name="Commands">
						<list element-type="string">
							<value>9</value>
						</list>
					</property>
				</object>
				<object name="CommandButtonReturn" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="true">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Height" value="50"/>
					<property name="Width" value="75"/>
					<property name="DisabledPath" value="GUIRes\NumericPad\White\73x48\Enabled.png"/>
					<property name="EnabledPath" value="GUIRes\NumericPad\White\73x48\Enabled.png"/>
					<property name="FocusedPath" value="GUIRes\NumericPad\White\73x48\Enabled.png"/>
					<property name="PushedPath" value="GUIRes\NumericPad\White\73x48\Pushed.png"/>
					<property name="Text" value="Annullo"/>
					<!--<property name="Font" ref="DefaultFont12Bold"/>-->
					<property name="ForeColor" value="Red"/>
					<property name="Commands">
						<list element-type="string">
							<value>[correction]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="4"/>
					<property name="Commands">
						<list element-type="string">
							<value>4</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="5"/>
					<property name="Commands">
						<list element-type="string">
							<value>5</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="6"/>
					<property name="Commands">
						<list element-type="string">
							<value>6</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="C"/>
					<property name="ForeColor" value="Red"/>
					<property name="Commands">
						<list element-type="string">
							<value>[clear]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="1"/>
					<property name="Commands">
						<list element-type="string">
							<value>1</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="2"/>
					<property name="Commands">
						<list element-type="string">
							<value>2</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="3"/>
					<property name="Commands">
						<list element-type="string">
							<value>3</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="X"/>
					<property name="Commands">
						<list element-type="string">
							<value>[X]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="0"/>
					<property name="Commands">
						<list element-type="string">
							<value>0</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="KeyButton75"/>
					<property name="Text" value="00"/>
					<property name="Commands">
						<list element-type="string">
							<value>0</value>
							<value>0</value>
						</list>
					</property>
				</object>
				<object name="CommandButtonReturn" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="true">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Height" value="50"/>
					<property name="Width" value="150"/>
					<property name="DisabledPath" value="GUIRes\NumericPad\Return\148x48\Enabled.png"/>
					<property name="EnabledPath" value="GUIRes\NumericPad\Return\148x48\Enabled.png"/>
					<property name="FocusedPath" value="GUIRes\NumericPad\Return\148x48\Enabled.png"/>
					<property name="PushedPath" value="GUIRes\NumericPad\Return\148x48\Pushed.png"/>
					<property name="Commands">
						<list element-type="string">
							<value>[enter]</value>
						</list>
					</property>
				</object>
			</list>
		</property>
	</object>
</objects>
