<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">
  <object name="frmReport" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine" singleton="false">
    <constructor-arg name="skin" ref="BaseView" />
    <property name="Name" value="frmReport" />
    <property name="Text" value="Report" />
    <property name="Controls">
      <list>
        <ref object="panelPost4Corner" />
        <ref object="panelReport" />
        <ref object="panelPre4Corner" />
        <ref object="ExtraMenu" />
        <ref object="MenuLivello01" />
        <ref object="panelPost4CornerBack" />
      </list>
    </property>
    <property name="InitialMessage">
      <value>Seleziona il comando da impartire e premi ESEGUI</value>
    </property>
  </object>
  <object name="panelReport" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
    <property name="Height" value="578" />
    <property name="Dock" value="Top" />
    <property name="BackColor" value="Transparent" />
    <property name="BackColorRGB" value="61;67;99" />
    <property name="Controls">
      <list>
        <ref object="ReportContainer" />
        <ref object="MenuLivello02_REP" />
      </list>
    </property>
  </object>
  <object name="ReportContainer" type="Orange.Base.Engine.GUI.Containers.ReportContainer, Orange.Base.Engine" singleton="false">
    <property name="Name" value="ReportContainer" />
    <property name="Padding">
      <ref object="PaddingZero" />
    </property>
    <property name="Margin">
      <ref object="PaddingZero" />
    </property>
    <property name="BackColor" value="Transparent" />
    <property name="Height" value="578" />
    <property name="Width" value="934" />
    <property name="Top" value="10" />
    <property name="Left" value="18" />
    <property name="IsDefault" value="true" />
    <property name="StateObjects">
      <dictionary>
        <entry key="ReportType">
          <value>X</value>
        </entry>
        <entry key="OperatorReport">
          <value>UserReport[codereport]</value>
        </entry>
        <entry key="WorkstationReport">
          <value>[codereport]</value>
        </entry>
        <entry key="EFTPos">
          <value>[codereport]</value>
        </entry>
        <entry key="Preview">
          <value>Ever</value>
        </entry>
        <entry key="FiscalTotals">
          <value>[codereport]</value>
        </entry>
      </dictionary>
    </property>
    <property name="SearchPanel">
      <ref object="ReportSearchForm" />
    </property>
    <property name="PreviewPanel">
      <ref object="BrowserPreviewPanel" />
    </property>
    <property name="BrowserPreview">
      <ref object="BrowserPreview" />
    </property>
  </object>
  <object name="ReportSearchForm" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
    <property name="Name" value="ReportFormContainer" />
    <property name="BackColor" value="Transparent" />
    <property name="Top" value="0" />
    <property name="Left" value="610" />
    <property name="Height" value="400" />
    <property name="Width" value="100" />
    <property name="Margin">
      <object type="System.Windows.Forms.Padding, System.Windows.Forms" singleton="false">
        <constructor-arg name="left" value="10" />
        <constructor-arg name="top" value="0" />
        <constructor-arg name="right" value="0" />
        <constructor-arg name="bottom" value="0" />
      </object>
    </property>
    <property name="Controls">
      <list>
        <object type="Orange.Base.Engine.GUI.Containers.RadioButtonGroup, Orange.Base.Engine" singleton="false">
          <property name="Top" value="0" />
          <property name="Left" value="0" />
          <property name="Height" value="50" />
          <property name="Width" value="100" />
          <property name="RadioButtonCollection">
            <list>
              <object name="XCheckButton" type="Orange.Base.Engine.GUI.Buttons.RadioButton, Orange.Base.Engine" singleton="false">
                <constructor-arg name="skin" ref="CheckButton50x50" />
                <property name="Name" value="XUserCheckButton" />
                <property name="Text" value="Lettu\r\n ra" />
                <property name="Font" ref="DefaultFont12bold" />
                <property name="CheckCommands">
                  <list element-type="string">
                    <value>SetToState('ReportType','X')[func][gui]</value>
                  </list>
                </property>
                <property name="Visible" value="True" />
                <property name="Checked" value="True" />
              </object>
              <object name="ZCheckButton" type="Orange.Base.Engine.GUI.Buttons.RadioButton, Orange.Base.Engine" singleton="false">
                <constructor-arg name="skin" ref="CheckButton50x50" />
                <property name="Name" value="ZUserCheckButton" />
                <property name="Left" value="50" />
                <property name="Text" value="Chiusu\r\n ra" />
                <property name="Font" ref="DefaultFont12bold" />
                <property name="CheckCommands">
                  <list element-type="string">
                    <value>SetToState('ReportType','Z')[func][gui]</value>
                  </list>
                </property>
                <property name="Visible" value="True" />
              </object>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton100x50" />
          <property name="Top" value="50" />
          <property name="Left" value="0" />
          <property name="Text" value="Operatore" />
          <property name="Font" ref="DefaultFont12bold" />
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('OperatorReport','UserReport')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('OperatorReport','')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="True" />
        </object>
        <object name="WorkstationCheckButton" type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton100x50" />
          <property name="Top" value="100" />
          <property name="Left" value="0" />
          <property name="Text" value="Postazione" />
          <property name="Font" ref="DefaultFont12bold" />
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('WorkstationReport','WorkstationReport')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('WorkstationReport','')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="False" />
        </object>
        <object name="EFTPosCheckButton" type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton100x50" />
          <property name="Top" value="150" />
          <property name="Left" value="0" />
          <property name="Text" value="EFT Pos" />
          <property name="Font" ref="DefaultFont12bold" />
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('EFTPos','EFTPos')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('EFTPos','')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="False" />
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton100x50rosso" />
          <property name="Top" value="200" />
          <property name="Left" value="0" />
          <property name="Width" value="100" />
          <property name="Font" ref="DefaultFont12bold" />
          <property name="Text" value="Eft Reset" />
          <property name="Commands">
            <list element-type="string">
              <value>[reset][eft]</value>
            </list>
          </property>
          <property name="Roles" value="Supervisor" />
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton50x50giallo" />
          <property name="Top" value="250" />
          <property name="Left" value="0" />
          <property name="Width" value="50" />
          <property name="Font" ref="DefaultFont12bold" />
          <property name="Text" value="Oper." />
          <property name="Commands">
            <list element-type="string">
              <value>[user]</value>
            </list>
          </property>
          <property name="Roles" value="*" />
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton50x50normale" />
          <property name="Top" value="250" />
          <property name="Left" value="50" />
          <property name="Width" value="50" />
          <property name="Font" ref="DefaultFont18" />
          <property name="Text" value="C" />
          <property name="ForeColor" value="Red" />
          <property name="Commands">
            <list element-type="string">
              <value>[clear]</value>
            </list>
          </property>
          <property name="Roles" value="*" />
        </object>
        <object name="OnlyPreviewCheck" type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton100x50" />
          <property name="Top" value="300" />
          <property name="Left" value="0" />
          <property name="Text" value="Solo Anteprima" />
          <property name="Font" ref="DefaultFont12bold" />
          <property name="Visible" value="True" />
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('Preview','Only')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('Preview','Ever')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="False" />
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton100x50normale" />
          <property name="Top" value="350" />
          <property name="Left" value="0" />
          <property name="Width" value="100" />
          <property name="Font" ref="DefaultFont18" />
          <property name="Text" value="ESEGUI" />
          <property name="Commands">
            <list element-type="string">
              <value>${Preview}[preview]${ReportType}[reporttype]${EFTPos}[codereport]${FiscalTotals}[codereport]${OperatorReport}[codereport]${WorkstationReport}[codereport][clientreport]</value>
            </list>
          </property>
        </object>
      </list>
    </property>
  </object>
  <object name="BrowserPreviewPanel" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
    <property name="Name" value="BrowserPreviewPanel" />
    <property name="Padding">
      <ref object="PaddingZero" />
    </property>
    <property name="Margin">
      <ref object="PaddingZero" />
    </property>
    <property name="BackColor" value="Transparent" />
    <property name="Height" value="400" />
    <property name="Width" value="600" />
    <property name="Top" value="0" />
    <property name="Left" value="0" />
    <property name="BackgroundImagePath" value="GUIRes\display\598x398.png" />
    <property name="BackgroundImageLayout" value="Center" />
    <property name="Controls">
      <list>
        <ref object="BrowserPreview" />
      </list>
    </property>
  </object>
  <object name="BrowserPreview" type="Orange.Base.Engine.GUI.Controls.Browser, Orange.Base.Engine">
    <property name="ResetPage" value="true" />
    <property name="HomePage" value="about:blank" />
    <property name="Height" value="388" />
    <property name="Width" value="588" />
    <property name="Top" value="6" />
    <property name="Left" value="6" />
    <property name="ScrollBarsEnabled" value="false" />
    <property name="IsWebBrowserContextMenuEnabled" value="false" />
    <property name="BackgroundImagePath" value="GUIRes\display\browser_588x388.gif" />
    <property name="Subjects">
      <list element-type="Orange.Core.Engine.Subject.ISubject, Orange.Core">
        <ref object="ApplicationController" />
      </list>
    </property>
  </object>
</objects>