<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">
	<object name="frmGuide" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine" singleton="false">
		<constructor-arg name="skin" ref="BaseView"/>
		<property name="Name" value="frmGuide"/>
		<property name="Text" value="Guide"/>
		<property name="Controls">
			<list>
				<ref object="panelPost4Corner"/>
				<ref object="panelGuide"/>
				<ref object="panelPre4Corner"/>
				<ref object="ExtraMenu"/>
				<ref object="MenuLivello01"/>
        <ref object="panelPost4CornerBack"/>
			</list>
		</property>
		<property name="InitialMessage">
			<value>Guida in linea</value>
		</property>
	</object>
	
	<object name="panelGuide" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
		<property name="Height" value="578"/>
		<property name="Dock" value="Top"/>
		<property name="BackColor" value="Transparent"/>
		<property name="BackColorRGB" value="61;67;99"/>
		<property name="Controls">
			<list>
				<ref object="GuideContainer"/>
			</list>
		</property>
	</object>

	<object name="GuideContainer" type="Orange.Base.Engine.GUI.Containers.GuideContainer, Orange.Base.Engine" singleton="false">
		<property name="Name" value="GuideContainer"/>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="BackColor" value="Transparent"/>
		<property name="Height" value="578"/>
		<!--<property name="Width" value="770"/>-->
		<property name="Width" value="934"/>
		<property name="Top" value="10"/>
		<property name="Left" value="10"/>
		<property name="Browser">
			<object type="Orange.Base.Engine.GUI.Controls.Browser, Orange.Base.Engine">
				<property name="Dock" value="Fill"/>
				<property name="Navigate">
					<value>about:blank</value>
				</property>
			</object>
		</property>
	</object>
	
	
</objects>