<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">
  <object name="frmLogin" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine" singleton="false">
    <constructor-arg name="skin" ref="BaseView" />
    <property name="Name" value="frmLogin" />
    <property name="Text" value="Login" />
    <property name="Controls">
      <list>
        <ref object="panelPost4Corner" />
        <ref object="panelLogin" />
        <ref object="panelPre4Corner" />
        <ref object="MenuLivello01" />
        <ref object="ExtraMenu" />
        <ref object="panelPost4CornerBack" />
      </list>
    </property>
    <property name="OpenNumericKeyboard" value="false" />
    <property name="InitialMessage">
      <value>Inserire il codice dell'operatore</value>
    </property>
    <property name="DisplayInlineAfter">
      <value>false</value>
    </property>
  </object>
  <object name="panelLogin" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
    <property name="Height" value="578" />
    <property name="Dock" value="Top" />
    <property name="BackColor" value="Transparent" />
    <property name="BackColorRGB" value="61;67;99"/>
    <property name="Controls">
      <list>
        <ref object="PanelLogo" />
        <ref object="PanelBottonsContainerUser" />
        <ref object="PanelBottonsContainerUserNumericPad" />
        <ref object="MenuLivello02_BLANK" />
      </list>
    </property>
  </object>
  <object name="PanelLogo" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
    <property name="Padding">
      <ref object="PaddingZero" />
    </property>
    <property name="Margin">
      <ref object="PaddingZero" />
    </property>
    <property name="Height" value="400" />
    <property name="Width" value="400" />
    <property name="Top" value="0" />
    <property name="Left" value="131" />
    <property name="BackColor" value="Transparent" />
    <property name="BackgroundImageLayout" value="Center" />
    <property name="Controls">
      <list>
        <object name="pnlLogo" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
          <property name="Padding">
            <ref object="PaddingZero" />
          </property>
          <property name="Margin">
            <ref object="PaddingZero" />
          </property>
          <property name="Height" value="380" />
          <property name="Width" value="380" />
          <property name="Top" value="10" />
          <property name="Left" value="10" />
          <property name="BackColor" value="Transparent" />
          <property name="BackgroundImagePath" value="GUIRes\Logo\Login.png" />
          <property name="BackgroundImageLayout" value="zoom" />
          <property name="Controls">
            <list>
            </list>
          </property>
        </object>
      </list>
    </property>
  </object>
  <object name="PanelBottonsContainerUser" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
    <property name="Padding">
      <ref object="PaddingZero" />
    </property>
    <property name="Margin">
      <ref object="PaddingZero" />
    </property>
    <property name="Name" value="PanelBottonsContainerUser" />
    <property name="BackColor" value="Transparent" />
    <property name="Height" value="200" />
    <property name="Width" value="300" />
    <property name="Top" value="168" />
    <property name="Left" value="652" />
    <property name="Controls">
      <list>
        <object type="Orange.Base.Engine.GUI.Buttons.UserObserverCommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton" />
          <property name="Name" value="UserButton" />
          <property name="Width" value="200" />
          <property name="Text" value="Operatore:" />
          <!--<property name="TextAlign" value="MiddleLeft"/>-->
          <!--<property name="Font" ref="DefaultFont12bold"/>-->
          <property name="TemplateText">
            <value>${CurrentUser.Person.FirstName[[Operatore \r\n {0}]]} ${CurrentUser.Person.LastName}</value>
          </property>
          <property name="DisabledPath" value="GUIRes\display\198x48.png" />
          <property name="EnabledPath" value="GUIRes\display\198x48.png" />
          <property name="FocusedPath" value="GUIRes\display\198x48.png" />
          <property name="PushedPath" value="GUIRes\display\198x48.png" />
          <property name="TabStop" value="false" />
          <property name="Subjects">
            <list element-type="Orange.Core.Engine.Subject.ISubject, Orange.Core">
              <ref object="ApplicationState" />
            </list>
          </property>
          <property name="DataNameList">
            <list element-type="Orange.Core.Engine.Subject.SubjectDataName, Orange.Core">
              <value>UserDeclared</value>
            </list>
          </property>
        </object>
        <ref object="Watch" />
        <!--<object type="Orange.Base.Engine.GUI.Buttons.UserObserverCommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton"/>
          <property name="Name" value="LoanUserButton"/>
          <property name="Width" value="300"/>
          <property name="Text" value="Supervisore:"/>
          <property name="TextAlign" value="MiddleLeft"/>
          <property name="TemplateText">
            <value>${CurrentLoanUser.Person.LastName[[Supervisore: {0}]]}</value>
          </property>
          <property name="DisabledPath" value="GUIRes\display\298x48.png"/>
          <property name="EnabledPath" value="GUIRes\display\298x48.png"/>
          <property name="FocusedPath" value="GUIRes\display\298x48.png"/>
          <property name="PushedPath" value="GUIRes\display\298x48.png"/>
          <property name="TabStop" value="false"/>
          <property name="Subjects">
            <list element-type="Orange.Core.Engine.Subject.ISubject, Orange.Core">
              <ref object="ApplicationState"/>
            </list>
          </property>
          <property name="DataNameList">
            <list element-type="Orange.Core.Engine.Subject.SubjectDataName, Orange.Core">
              <value>LoanUserDeclared</value>
            </list>
          </property>
        </object>-->
        <ref object="BaseButton100x50blank" />
        <ref object="BaseButton100x50blank" />
        <ref object="BaseButton100x50blank" />
        <ref object="BaseButton100x50blank" />
        <ref object="BaseButton100x50blank" />
        <ref object="BaseButton100x50blank" />
        <object name="CommandChiusura" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton" />
          <property name="Width" value="100" />
          <property name="DisabledPath" value="GUIRes\Button\ShutDown\98x48\Enabled.png" />
          <property name="EnabledPath" value="GUIRes\Button\ShutDown\98x48\Enabled.png" />
          <property name="FocusedPath" value="GUIRes\Button\ShutDown\98x48\Focused.png" />
          <property name="PushedPath" value="GUIRes\Button\ShutDown\98x48\Pushed.png" />
          <property name="Commands">
            <list element-type="string">
              <value>[stop]</value>
            </list>
          </property>
          <property name="HelpKey">
            <value>Help_Close</value>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton100x50rosso" />
          <property name="Width" value="100" />
          <property name="Text" value="Key Code" />
          <property name="Commands">
            <list element-type="string">
              <value>[readsmartkey]</value>
            </list>
          </property>
        </object>
        <!--<object name="CommandUser" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton"/>
          <property name="Font" ref="DefaultFont12"/>
          <property name="Width" value="50"/>
          <property name="Top" value="150"/>
          <property name="Left" value="50"/>
          <property name="Text" value="Adde str."/>
          <property name="DisabledPath" value="GUIRes\Button\BarYellow\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\BarYellow\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\BarYellow\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\BarYellow\48x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
              <value>[trainer]</value>
            </list>
          </property>
          <property name="HelpKey">
            <value>Help_LogOFF</value>
          </property>
        </object>-->
        <object name="CommandLogOut" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton" />
          <property name="Width" value="100" />
          <property name="Text" value="LOG OFF" />
          <property name="DisabledPath" value="GUIRes\Button\BarRed\98x48\Disabled.png" />
          <property name="EnabledPath" value="GUIRes\Button\BarRed\98x48\Enabled.png" />
          <property name="FocusedPath" value="GUIRes\Button\BarRed\98x48\Focused.png" />
          <property name="PushedPath" value="GUIRes\Button\BarRed\98x48\Pushed.png" />
          <property name="Commands">
            <list element-type="string">
              <value>[user]</value>
              <value>[user]</value>
              <value>[user]</value>
            </list>
          </property>
          <property name="HelpKey">
            <value>Help_LogOFF</value>
          </property>
        </object>
      </list>
    </property>
  </object>
  <object name="PanelBottonsContainerUserNumericPad" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
    <property name="Padding">
      <ref object="PaddingZero" />
    </property>
    <property name="Margin">
      <ref object="PaddingZero" />
    </property>
    <property name="Name" value="PanelBottonsContainerNumericPad" />
    <property name="BackColor" value="Transparent" />
    <property name="Height" value="200" />
    <property name="Width" value="300" />
    <property name="Top" value="378" />
    <property name="Left" value="652" />
    <property name="Controls">
      <list>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="7" />
          <property name="Commands">
            <list element-type="string">
              <value>7</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="8" />
          <property name="Commands">
            <list element-type="string">
              <value>8</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="9" />
          <property name="Commands">
            <list element-type="string">
              <value>9</value>
            </list>
          </property>
        </object>
        <object name="CommandButtonReturn" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="true">
          <constructor-arg name="skin" ref="BaseButton100x50normale" />
          <property name="Height" value="50" />
          <property name="Width" value="75" />
          <property name="DisabledPath" value="GUIRes\NumericPad\White\73x48\Enabled.png" />
          <property name="EnabledPath" value="GUIRes\NumericPad\White\73x48\Enabled.png" />
          <property name="FocusedPath" value="GUIRes\NumericPad\White\73x48\Enabled.png" />
          <property name="PushedPath" value="GUIRes\NumericPad\White\73x48\Pushed.png" />
          <property name="Text" value=" " />
          <property name="ForeColor" value="Red" />
          <property name="Enabled" value="false" />
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="4" />
          <property name="Commands">
            <list element-type="string">
              <value>4</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="5" />
          <property name="Commands">
            <list element-type="string">
              <value>5</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="6" />
          <property name="Commands">
            <list element-type="string">
              <value>6</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="C" />
          <property name="ForeColor" value="Red" />
          <property name="Commands">
            <list element-type="string">
              <value>[clear]</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="1" />
          <property name="Commands">
            <list element-type="string">
              <value>1</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="2" />
          <property name="Commands">
            <list element-type="string">
              <value>2</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="3" />
          <property name="Commands">
            <list element-type="string">
              <value>3</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value=" " />
          <property name="Enabled" value="false" />
          <property name="Commands">
            <list element-type="string">
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="0" />
          <property name="Commands">
            <list element-type="string">
              <value>0</value>
            </list>
          </property>
        </object>
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="KeyButton75" />
          <property name="Text" value="00" />
          <property name="Commands">
            <list element-type="string">
              <value>0</value>
              <value>0</value>
            </list>
          </property>
        </object>
        <object name="CommandButtonReturn" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="true">
          <constructor-arg name="skin" ref="BaseButton100x50normale" />
          <property name="Height" value="50" />
          <property name="Width" value="150" />
          <property name="DisabledPath" value="GUIRes\NumericPad\White\148x48\Enabled.png" />
          <property name="EnabledPath" value="GUIRes\NumericPad\White\148x48\Enabled.png" />
          <property name="FocusedPath" value="GUIRes\NumericPad\White\148x48\Enabled.png" />
          <property name="PushedPath" value="GUIRes\NumericPad\White\148x48\Pushed.png" />
          <property name="Text" value="Operatore" />
          <property name="Commands">
            <list element-type="string">
              <value>[user]</value>
            </list>
          </property>
        </object>
      </list>
    </property>
  </object>
</objects>