<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net">

	<object name="frmLog" type="Orange.Base.Engine.View.BaseView, Orange.Base.Engine" singleton="false">
		<constructor-arg name="skin" ref="BaseView"/>
		<property name="Name" value="frmLog"/>
		<property name="Text" value="Log"/>
		<property name="Controls">
			<list>
				<ref object="panelPost4Corner"/>
				<ref object="panelLog"/>
				<ref object="panelPre4Corner"/>
				<ref object="ExtraMenu"/>
				<ref object="MenuLivello01"/>
        <ref object="panelPost4CornerBack"/>
			</list>
		</property>
		<property name="InitialMessage">
			<value>Seleziona i filtri desiderati e premi VEDI LOG</value>
		</property>
	</object>

	<object name="panelLog" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
		<property name="Height" value="578"/>
		<property name="Dock" value="Top"/>
		<property name="BackColor" value="Transparent"/>
		<property name="BackColorRGB" value="61;67;99"/>
		<property name="Controls">
			<list>
				<ref object="LogContainer"/>
				<ref object="MenuLivello02_BLANK" />
				<!--ref object="MenuLivello02_OPZ"/-->
			</list>
		</property>
	</object>

	<object name="LogContainer" type="Orange.Base.Engine.GUI.Containers.LogContainer, Orange.Base.Engine" singleton="false">
		<property name="Name" value="LogContainer"/>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="BackColor" value="Transparent"/>
		<property name="Height" value="578"/>
		<property name="Width" value="934"/>
		<property name="Top" value="10"/>
		<property name="Left" value="20"/>
		<property name="IsDefault" value="true"/>
    <property name="FlowDirection" value="TopDown"/>
		<property name="StateObjects">
			<dictionary>
        <entry key="Customer">
          <value>true</value>
        </entry>
        <entry key="Operator">
          <value>true</value>
        </entry>
        <entry key="Client">
          <value>true</value>
        </entry>
        <entry key="DocumentDetail">
          <value>true</value>
        </entry>
        <entry key="DocumentLife">
          <value>true</value>
        </entry>
				<entry key="TypeLog">
					<value>FATAL|ERROR|WARNING|INFO|DEBUG</value>
				</entry>
				<entry key="CurrentUser">
					<value>true</value>
				</entry>
			</dictionary>
		</property>
		<property name="Grid">
			<object name="LogGrid" type="Orange.Base.Engine.GUI.Grids.SmartGrid, Orange.Base.Engine" singleton="false">
        <property name="Name" value="LogGrid"/>
				<property name="Padding">
          <object type="System.Windows.Forms.Padding, System.Windows.Forms" singleton="false">
            <constructor-arg name="left" value="3"/>
            <constructor-arg name="top" value="10"/>
            <constructor-arg name="right" value="3"/>
            <constructor-arg name="bottom" value="10"/>
          </object>
				</property>
				<property name="Margin">
					<ref object="PaddingZero"/>
				</property>
				<property name="BackgroundImagePath" value="GUIRes\display\498x348.png"/>
				<property name="BackColor" value="Transparent"/>
				<property name="Top" value="0"/>
				<property name="Left" value="0"/>
				<property name="Height" value="350"/>
				<property name="Width" value="500"/>
				<property name="BackColorSelectedRow" value="Gold"/>
				<property name="BackColorRowRGB" value="172;183;191" />
				<property name="BackColorAlternateRowRGB" value="160;170;180" />
				<property name="ScrollBarBackColorRGB" value="172;183;191" />
				<property name="ScrollBarForeColorRGB" value="61;67;99" />
				<property name="ScrollBarTopEdgeImagePath" value="GUIRes\Grid\baredgetop.png" />
				<property name="ScrollBarBottomEdgeImagePath" value="GUIRes\Grid\baredgebottom.png" />
				<property name="RowHeight" value="30"/>
				<property name="RowTemplates">
					<dictionary>
						<entry key="Orange.Core.Engine.Log.LogEntry">
							<value>RowTemplate_LogEntry</value>
						</entry>
					</dictionary>
				</property>
			</object>
		</property>
		<property name="NavigatorPanel">
			<ref object="pnlNavLog"/>
		</property>
		<property name="ButtonsPanel">
			<ref object="LogSearchPanel"/>
		</property>
	</object>
	
	<object name="pnlNavLog" type="Orange.Base.Engine.GUI.Panels.FlowLayoutPanel, Orange.Base.Engine" singleton="false">
		<property name="FlowDirection" value="RightToLeft"/>
		<property name="Controls">
			<list>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CommandEnd"/>
					<property name="DisabledPath" value="GUIRes\NavigationButton\GoBottom\48x48\Disabled.png"/>
					<property name="EnabledPath" value="GUIRes\NavigationButton\GoBottom\48x48\Enabled.png"/>
					<property name="FocusedPath" value="GUIRes\NavigationButton\GoBottom\48x48\Focused.png"/>
					<property name="PushedPath" value="GUIRes\NavigationButton\GoBottom\48x48\Pushed.png"/>
					<property name="Commands">
            <list element-type="string">
							<value>End(true)[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CommandGiu"/>
          <property name="DisabledPath" value="GUIRes\NavigationButton\Down\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\NavigationButton\Down\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\NavigationButton\Down\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\NavigationButton\Down\48x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
							<value>PageDown(false)[func][gui]</value>
						</list>
					</property>
				</object>
				<object name="pnlNavLog_OraNext" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="pnlNavLog_OraNext"/>
					<property name="DisabledPath" value="GUIRes\Button\Normal\48x48\Disabled.png"/>
					<property name="EnabledPath" value="GUIRes\Button\Normal\48x48\Enabled.png"/>
					<property name="FocusedPath" value="GUIRes\Button\Normal\48x48\Focused.png"/>
					<property name="PushedPath" value="GUIRes\Button\Normal\48x48\Pushed.png"/>
					<property name="Font" ref="DefaultFont11"/>
					<property name="Text" value="ORA +"/>
					<property name="Commands">
            <list element-type="string">
							<value>CercaNext()[func][gui]</value>
						</list>
					</property>
					<property name="Enabled" value="true"/>
				</object>
				<object name="pnlNavLog_OraPrev" type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="pnlNavLog_OraPrev"/>
          <property name="DisabledPath" value="GUIRes\Button\Normal\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Normal\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Normal\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Normal\48x48\Pushed.png"/>
          <property name="Font" ref="DefaultFont11"/>
          <property name="Text" value="ORA -"/>
					<property name="Commands">
            <list element-type="string">
							<value>CercaPrev()[func][gui]</value>
						</list>
					</property>
					<property name="Enabled" value="True"/>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CommandSu"/>
          <property name="DisabledPath" value="GUIRes\NavigationButton\Up\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\NavigationButton\Up\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\NavigationButton\Up\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\NavigationButton\Up\48x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
							<value>PageUp(false)[func][gui]</value>
						</list>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Name" value="CommandHome"/>
          <property name="DisabledPath" value="GUIRes\NavigationButton\GoTop\48x48\Disabled.png"/>
          <property name="EnabledPath" value="GUIRes\NavigationButton\GoTop\48x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\NavigationButton\GoTop\48x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\NavigationButton\GoTop\48x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
							<value>Begin(true)[func][gui]</value>
						</list>
					</property>
				</object>
			</list>
		</property>
		<property name="Padding">
			<ref object="PaddingZero"/>
		</property>
		<property name="Margin">
			<ref object="PaddingZero"/>
		</property>
		<property name="Height" value="50"/>
		<property name="Width" value="500"/>
		<property name="BackColor" value="Transparent"/>
	</object>

	<object name="LogSearchPanel" type="Orange.Base.Engine.GUI.Panels.Panel, Orange.Base.Engine" singleton="false">
		<property name="Top" value="0"/>
		<property name="Left" value="510"/>
		<property name="Height" value="400"/>
		<property name="Width" value="200"/>
		<property name="Margin">
			<object type="System.Windows.Forms.Padding, System.Windows.Forms" singleton="false">
				<constructor-arg name="left" value="10"/>
				<constructor-arg name="top" value="0"/>
				<constructor-arg name="right" value="0"/>
				<constructor-arg name="bottom" value="0"/>
			</object>
		</property>
		<property name="Controls">
			<list>
				<object name="Log_dp_DataDel" type="Orange.Base.Engine.GUI.Controls.DatePicker, Orange.Base.Engine" singleton="false">
					<property name="Name" value="Log_dp_DataDel"/>
					<property name="Top" value="0"/>
					<property name="Left" value="0"/>
					<property name="Height" value="25"/>
					<property name="Width" value="200"/>
					<property name="StatePropertyName" value="DataDel"/>
          <property name="Template" value="dd/MM/yyyy - HH:mm"/>
          <property name="TextButton">
						<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
							<constructor-arg name="skin" ref="BaseButton"/>
							<property name="Height" value="25"/>
							<property name="Width" value="150"/>
							<property name="Text" value="Il: "/>
							<property name="Font" ref="DefaultFont11"/>
							<property name="DisabledPath" value="GUIRes\Button\Input\148x23\Disabled.png"/>
							<property name="EnabledPath" value="GUIRes\Button\Input\148x23\Enabled.png"/>
							<property name="FocusedPath" value="GUIRes\Button\Input\148x23\Focused.png"/>
							<property name="PushedPath" value="GUIRes\Button\Input\148x23\Pushed.png"/>
						</object>
					</property>
					<property name="CalendarButton">
						<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
							<constructor-arg name="skin" ref="BaseButton"/>
							<property name="Text" value="..."/>
							<property name="Height" value="25"/>
							<property name="Width" value="50"/>
							<property name="Font" ref="DefaultFont18"/>
							<property name="DisabledPath" value="GUIRes\Button\Normal\48x23\Disabled.png"/>
							<property name="EnabledPath" value="GUIRes\Button\Normal\48x23\Enabled.png"/>
							<property name="FocusedPath" value="GUIRes\Button\Normal\48x23\Focused.png"/>
							<property name="PushedPath" value="GUIRes\Button\Normal\48x23\Pushed.png"/>
						</object>
					</property>
				</object>
				<object type="Orange.Base.Engine.GUI.Containers.RadioButtonGroup, Orange.Base.Engine" singleton="false">
					<property name="Top" value="50"/>
					<property name="Left" value="0"/>
					<property name="Height" value="50"/>
					<property name="Width" value="200"/>
					<property name="RadioButtonCollection">
						<list>
							<object type="Orange.Base.Engine.GUI.Buttons.RadioButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="CheckButton50x50"/>
								<property name="Top" value="0"/>
								<property name="Left" value="0"/>
								<property name="Text" value="Data"/>
								<property name="CheckCommands">
                  <list element-type="string">
										<value>SetToState('TypeLog','INFO|DEBUG')[func][gui]</value>
									</list>
								</property>
							</object>
							<object type="Orange.Base.Engine.GUI.Buttons.RadioButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="CheckButton50x50"/>
								<property name="Top" value="0"/>
								<property name="Left" value="50"/>
								<property name="Text" value="Solo Errori"/>
								<property name="CheckCommands">
                  <list element-type="string">
										<value>SetToState('TypeLog','FATAL|ERROR')[func][gui]</value>
									</list>
								</property>
							</object>
							<object type="Orange.Base.Engine.GUI.Buttons.RadioButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="CheckButton50x50"/>
								<property name="Top" value="0"/>
								<property name="Left" value="100"/>
								<property name="Text" value="Avvisi e Errori"/>
								<property name="CheckCommands">
                  <list element-type="string">
										<value>SetToState('TypeLog','FATAL|ERROR|WARNING')[func][gui]</value>
									</list>
								</property>
							</object>
							<object type="Orange.Base.Engine.GUI.Buttons.RadioButton, Orange.Base.Engine" singleton="false">
								<constructor-arg name="skin" ref="CheckButton50x50"/>
								<property name="Top" value="0"/>
								<property name="Left" value="150"/>
								<property name="Text" value="Tutti Tipi"/>
								<property name="CheckCommands">
                  <list element-type="string">
										<value>SetToState('TypeLog','FATAL|ERROR|WARNING|INFO|DEBUG')[func][gui]</value>
									</list>
								</property>
								<property name="Checked" value="True"/>
							</object>
						</list>
					</property>
				</object>
        
        <object name="ClientLevel" type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton50x50"/>
          <property name="Name" value="ClientLevel"/>
          <property name="Top" value="100"/>
          <property name="Left" value="0"/>
          <property name="Text" value="Client"/>
          <property name="Font" ref="DefaultFont12"/>
          <property name="Visible" value="True"/>
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('Client','true')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('Client','false')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="True"/>
        </object>
        <object name="OperatorLevel" type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton50x50"/>
          <property name="Name" value="OperatorLevel"/>
          <property name="Top" value="100"/>
          <property name="Left" value="50"/>
          <property name="Text" value="Operatore"/>
          <property name="Font" ref="DefaultFont12"/>
          <property name="Visible" value="True"/>
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('Operator','true')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('Operator','false')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="True"/>
        </object>
        <object name="CustomerLevel" type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton50x50"/>
          <property name="Name" value="CustomerLevel"/>
          <property name="Top" value="100"/>
          <property name="Left" value="100"/>
          <property name="Text" value="Cliente"/>
          <property name="Font" ref="DefaultFont12"/>
          <property name="Visible" value="True"/>
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('Customer','true')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('Customer','false')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="True"/>
        </object>
        <object name="DocumentDetailLevel" type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton50x50"/>
          <property name="Name" value="DocumentDetailLevel"/>
          <property name="Top" value="100"/>
          <property name="Left" value="150"/>
          <property name="Text" value="Dettaglio"/>
          <property name="Font" ref="DefaultFont12"/>
          <property name="Visible" value="True"/>
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('DocumentDetail','true')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('DocumentDetail','false')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="True"/>
        </object>
        <object name="DocumentLifeLevel" type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="CheckButton50x50"/>
          <property name="Name" value="DocumentLifelLevel"/>
          <property name="Top" value="150"/>
          <property name="Left" value="0"/>
          <property name="Text" value="Documento"/>
          <property name="Font" ref="DefaultFont12"/>
          <property name="Visible" value="True"/>
          <property name="CheckCommands">
            <list element-type="string">
              <value>SetToState('DocumentLife','true')[func][gui]</value>
            </list>
          </property>
          <property name="UncheckCommands">
            <list element-type="string">
              <value>SetToState('DocumentLife','false')[func][gui]</value>
            </list>
          </property>
          <property name="Checked" value="True"/>
        </object>
        
        <object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
          <constructor-arg name="skin" ref="BaseButton"/>
          <property name="Top" value="150"/>
          <property name="Left" value="150"/>
          <property name="Text" value="Tutti"/>
          <property name="Commands">
            <list element-type="string">
              <value>SetToState('Client','true')[func][gui]</value>
              <value>SetControlProperty('ClientLevel','Checked','True')[func][gui]</value>
              <value>SetToState('Operator','true')[func][gui]</value>
              <value>SetControlProperty('OperatorLevel','Checked','True')[func][gui]</value>
              <value>SetToState('Customer','true')[func][gui]</value>
              <value>SetControlProperty('CustomerLevel','Checked','True')[func][gui]</value>
              <value>SetToState('DocumentDetail','true')[func][gui]</value>
              <value>SetControlProperty('DocumentDetailLevel','Checked','True')[func][gui]</value>
              <value>SetToState('DocumentLife','true')[func][gui]</value>
              <value>SetControlProperty('DocumentLifelLevel','Checked','True')[func][gui]</value>
            </list>
          </property>
        </object>
        
        
				<object type="Orange.Base.Engine.GUI.Buttons.UserObserverCommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton"/>
					<property name="Top" value="250"/>
					<property name="Left" value="0"/>
					<property name="Width" value="100"/>
					<property name="Text" value="Operatore"/>
					<property name="Font" ref="DefaultFont11"/>
					<property name="TemplateText">
						<value>${CurrentUser.Person.LastName[[Operatore \r\n {0}]]}</value>
					</property>
					<property name="DisabledPath" value="GUIRes\display\98x48.png"/>
					<property name="EnabledPath" value="GUIRes\display\98x48.png"/>
					<property name="FocusedPath" value="GUIRes\display\98x48.png"/>
					<property name="PushedPath" value="GUIRes\display\98x48.png"/>
          <property name="Subjects">
            <list element-type="Orange.Core.Engine.Subject.ISubject, Orange.Core">
              <ref object="ApplicationState"/>
            </list>
          </property>
          <property name="DataNameList">
            <list element-type="Orange.Core.Engine.Subject.SubjectDataName, Orange.Core">
              <value>UserDeclared</value>
            </list>
          </property>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CheckButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="CheckButton100x50"/>
					<property name="Top" value="250"/>
					<property name="Left" value="100"/>
					<property name="Text" value="Operatore Corrente"/>
					<property name="Font" ref="DefaultFont12"/>
					<property name="CheckCommands">
            <list element-type="string">
							<value>SetToState('CurrentUser','true')[func][gui]</value>
						</list>
					</property>
					<property name="UncheckCommands">
            <list element-type="string">
							<value>SetToState('CurrentUser','false')[func][gui]</value>
						</list>
					</property>
					<property name="Checked" value="True"/>
				</object>
				<object type="Orange.Base.Engine.GUI.Buttons.CommandButton, Orange.Base.Engine" singleton="false">
					<constructor-arg name="skin" ref="BaseButton100x50normale"/>
					<property name="Top" value="350"/>
					<property name="Left" value="0"/>
					<property name="Width" value="200"/>
					<property name="Text" value="VEDI LOG"/>
          <property name="DisabledPath" value="GUIRes\Button\Normal\198x48\Enabled.png"/>
          <property name="EnabledPath" value="GUIRes\Button\Normal\198x48\Enabled.png"/>
          <property name="FocusedPath" value="GUIRes\Button\Normal\198x48\Focused.png"/>
          <property name="PushedPath" value="GUIRes\Button\Normal\198x48\Pushed.png"/>
          <property name="Commands">
            <list element-type="string">
							<value>Ricerca()[func][gui]</value>
						</list>
					</property>
				</object>
			</list>
		</property>
	</object>
</objects>